<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Manage Pages
        <small>Add new page</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-10 col-lg-12">
            <!-- Input addon -->
            <div class="box box-success">
              <!-- <div class="box-header with-border">
                <h3 class="box-title">Input Addon</h3>
              </div> -->
              <div class="box-body">
                <form action="#"  @submit.prevent="submitForm()" autocomplete="off">
                <div class="row">
                 <div class="col-md-12">
                   <h4 >Personal Information</h4>
                 </div>
               </div>
               <div class="row">
                 <div class="col-md-6">
                    <div class="form-group">
                       <label for="PageName">Page Name</label>
                       <input class="form-control" id="page_name" name="page_name"  v-model="page_data.page_name" type="text"   required />
                    </div>
                 </div>
                 <div class="col-md-6">
                    <div class="form-group">
                       <label for="page_slug">Slug</label>
                       <input class="form-control" id="page_slug" name="page_slug"  v-model="page_data.page_slug" type="text"   required />
                    </div>
                 </div>
               </div>
               <div class="row">
                 <div class="col-md-12">
                    <div class="form-group">
                       <label for="page_content">Content</label>
                       <vue-ckeditor v-model="page_data.content" :config="config" />
                    </div>
                 </div>
               </div>
               <div class="row">
                 <div class="col-md-6">
                    <div class="form-group">
                       <label for="page_status">Status</label>
                       <select v-model="page_data.status" class="form-control">
                         <option value="Active">Active</option>
                         <option value="Inactive">Inactive</option>
                       </select>
                    </div>
                 </div>
               </div>
               <button class="btn btn-success" id="btnSubmit">Add Page</button>
             </form>
           </div>
          <!-- /.box-body -->
         </div>
         <!-- /.box -->
        </div>
      </div>
    </section>
  </div>
</template>


<script type="text/javascript">

  export default{
    data(){
      return{
        editor: '',
        page_data: {
          page_name: '',
          content: '',
          page_slug: '',
          status: 'Active'
        },
        config: {
          toolbar: [
            [ 'Format', 'Font', 'FontSize', 'TextColor', 'BGColor', '-', 
            'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-',
            'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', '-', 
            'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-',
            'Undo', 'Redo', 'Find', 'Replace', '-', 'SelectAll', '-', 
            'ImageButton', '-', 'BidiLtr', 'BidiRtl', '-', 'Link', 'Unlink', '-',
            'Cut', 'Copy', 'Paste', 'PasteText', '-',
            'Image', 'Table', 'HorizontalRule', 'PageBreak', 'Iframe', '-', 'Source' ]
          ],
          height: 500,
        }
      }
    },
    methods: {
      submitForm () {
        let page_data =  JSON.stringify(this.page_data);
        let formData = new FormData();
        let url = base_url+'pages_api/check_slug';
        formData.append('slug', this.page_data.page_slug);
        formData.append('token', getCookie('csrf_cookie'));

        axios.post(url, formData)
        .then((response) => {
          console.log(response);
          if(response.data.is_exist) {
              notify2('Slug already exists', '', 'error');
              return;
          }
          confirm_alert('The page will be added','','info').then((response) => {
              var l = Ladda.create( document.querySelector( '#btnSubmit' ) );
              l.start();
              formData = new FormData();
              formData.append('page_data', page_data);
              formData.append('token', getCookie('csrf_cookie'));
              url = base_url+'pages_api/add';
              axios.post(url, formData)
              .then((response) => {
                if(response.data.message=="success") {
                    l.stop();
                    $("#btnSubmit").removeClass('ladda-button');
                    swal("Added Successfully","","success");
                    setTimeout(()=>{
                      window.location.href = base_url +"secure_admin#/list_pages"
                    },2000)
                }
                else {
                  console.log(response.data.message);
                }
              })
              .catch(function (error) {
                console.log(error);
              });
          });
        })
        .catch(function (error) {
          console.log(error);
        });;
      }

    }
  }
</script>