<template>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" id="admin-list-pages">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       	Manage Pages
        <small>View List</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- Form Element sizes -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">List of Pages</h3>
            </div>
            <div class="box-body">
              <table id="tbl_pages" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Row</th>
                    <th>Page Name</th>
                    <th>Slug</th>
                    <th>Status</th>
                    <th>Date created</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(val, index) in rows" :key="index" :class="`row${index}`">
                    <td>{{++index}}</td>
                    <td>{{val.name}}</td>
                    <td>{{val.slug}}</td>
                    <td>{{val.status}}</td>
                    <td>{{val.created_at}}</td>
                    <td>
                      <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Show Actions
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="javascript:void(0)" @click="preview(val.slug)">Preview</a></li>
                          <li><a href="javascript:void(0)" @click="edit(val.id)">Edit</a></li>
                          <li><a href="javascript:void(0)" @click="deletePage(val.id)">Delete User</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script type="text/javascript">
  export default{
    data(){
      return{
        rows: [],
      }
    },
    mounted () {
      loading()
      this.setTable();
    },
    methods: {
      setTable() {
        const url = `${base_url}/pages_api/get_pages`;
        axios.get(url)
        .then((response) => {
           this.rows = response.data.pages;
          setTimeout(() => {
             $('#tbl_pages').DataTable({
              "lengthMenu": [25,50, 100],
              "columnDefs": [ 
                {
                  "targets": [1],
                  "orderable": false,
                }
              ]
             })
            close_loading()
          })
        })
        .catch(function (error) {
          console.log(error);
        });
      },
      updateTable() {
        const url = `${base_url}/pages_api/get_pages`;
        axios.get(url)
        .then((response) => {
           this.rows = response.data.pages;
        })
        .catch(function (error) {
          console.log(error);
        });
      },
      preview(slug) {
        window.open(base_url + 'pages/' + slug + '/?is_preview=on', '_blank');
      },
      edit(id) {
        this.$router.push(`/edit_page/${id}`);
      },
      deletePage(id) {
        let vm = this;
        confirm_alert('Are you sure you want to delete this page?','','question').then((response) => {
          loading();
          let formData = new FormData();
          formData.append('id', id);
          let url = base_url+'pages_api/delete';
          axios.post(url, formData)
          .then((response) => {
            if(response.data.message=="success") {
                swal("Deleted Successfully","","success");
                vm.updateTable();
                setTimeout(()=>{
                  close_loading()
                },1000)
            }
            else {
              console.log(response.data.message);
            }
          })
          .catch(function (error) {
            console.log(error);
          });
        });
      }
    }
  }

</script>