<template>
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Manage Coupon
        <small>Add coupon</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
     <div class="row">
      <div class="col-md-10 col-lg-6">
           <!-- Input addon -->
           <div class="box box-success">
             <!-- <div class="box-header with-border">
               <h3 class="box-title">Input Addon</h3>
             </div> -->
             <div class="box-body">
              <form action="#"  @submit.prevent="submitForm()" autocomplete="off">
               <div class="row">
                <div class="col-md-12">
                   <h4 >Coupon Information</h4>
                 </div>
               </div>
                <div class="row">
                 <div class="col-md-6">
                    <div class="form-group">
                       <label for="FirstName">Coupon Code</label>
                       <input class="form-control" id="first_name" name="first_name"  v-model="coupons_data.coupon_code"type="text"   required />
                    </div>
                 </div>
                 <div class="col-md-6">
                  <div class="form-group">
                    <label for="LastName">Limit of use</label>
                    <input class="form-control" data-val="true" id="last_name" name="last_name" v-model="coupons_data.num_limit" type="number"   required />
                  </div>
                 </div>
                </div>
                <div class="row"> 
                 <div class="col-md-6">
                     <div class="form-group">
                        <label for="MiddleName">Description</label>
                        <input class="form-control" id="first_name" name="first_name"  v-model="coupons_data.description"type="text"   required />
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="MiddleName">Expiration</label>
                        <input class="form-control" id="first_name" name="first_name" type="date" v-model="coupons_data.expiration"   required />
                     </div>
                  </div>
                </div>
                <div class="row"> 
                 <div class="col-md-4">
                     <div class="form-group">
                        <label for="MiddleName">Discount Type</label>
                        <select class="form-control" v-model="coupons_data.discount_type">
                         <option value="minus">Less by value</option><!-- 
                         <option value="percentage">Less by percentage</option> -->
                        </select>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group">
                        <label for="MiddleName">Discount</label>
                        <input class="form-control" id="first_name" name="first_name" type="text" v-model="coupons_data.discount"  required />
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group">
                        <label for="MiddleName">Limit</label>
                        <input class="form-control" id="first_name" name="first_name" type="text" v-model="coupons_data.limit"  required />
                     </div>
                  </div>
                </div>
                <button class="btn btn-success" id="btnSubmit">Add Coupon</button>
              </form>
             </div>
             <!-- /.box-body -->
           </div>
           <!-- /.box -->
         </div>
     </div>
    </section>
  </div>
</template>
<style type="text/css">
.ladda-button[data-style=expand-right][data-loading] {
    padding-right: 46px;
}
	.ladda-button {
		    padding: 7px 15px;
	}
</style>
<script type="text/javascript">

	export default{
	  data(){
	    return{
	    		coupons_data: {
        coupon_code: '',
        num_limit: '10',
        description:'',
        limit:'',
        expiration: '',
        discount_type: 'minus',
       }
			}
	  },
	  mounted(){
	  },
	  methods: {
	    submitForm () {
	    	confirm_alert('The coupon will be added','','info').then((response) => {
	    			var l = Ladda.create( document.querySelector( '#btnSubmit' ) );
			    	l.start();
			    	let coupons_data =  JSON.stringify(this.coupons_data);
			    	let url = base_url+'coupons_api/add';
				  	axios.post(url, {
			        token: getCookie('csrf_cookie'),
			        coupons_data: coupons_data
			      })
			      .then((response) => {
			        if(response.data.message=="success") {
			            l.stop();
			            $("#btnSubmit").removeClass('ladda-button');
			            swal("Added Successfully","","success");
			            setTimeout(()=>{
			            	window.location.href = base_url +"secure_admin#/view_coupons"
			            },2000)
			        }
			        else {
			        	console.log(response.data.message);
			        }
			      })
			      .catch(function (error) {
			        console.log(error);
			      });
	    	});
	    	
	    }
	  }
	}
</script>