<template>
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Manage Coupon
        <small>Update coupon</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
     <div class="row">
      <div class="col-md-10 col-lg-6">
           <!-- Input addon -->
           <div class="box box-success">
             <!-- <div class="box-header with-border">
               <h3 class="box-title">Input Addon</h3>
             </div> -->
             <div class="box-body">
              <form action="#"  @submit.prevent="submitForm()" autocomplete="off">
              	<div class="row">
              		<div class="col-md-12">
	                  <h4 >Coupon Information</h4>
	                </div>
              	</div>
                <div class="row">
                	<div class="col-md-6">
	                   <div class="form-group">
	                      <label for="FirstName">Coupon Code</label>
	                      <input class="form-control" id="first_name" name="first_name"  v-model="coupons_data.coupon_code"type="text"   required />
	                   </div>
	                </div>
	                <div class="col-md-6">
		               	<div class="form-group">
		                  <label for="LastName">Limit of use</label>
		                  <input class="form-control" data-val="true" id="last_name" name="last_name" v-model="coupons_data.num_limit" type="number"   required />
		                </div>
		               </div>
                </div>
                <div class="row"> 
                 <div class="col-md-6">
                     <div class="form-group">
                        <label for="MiddleName">Description</label>
                        <input class="form-control" id="first_name" name="first_name"  v-model="coupons_data.description"type="text"   required />
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="MiddleName">Expiration</label>
                        <input class="form-control" id="first_name" name="first_name" type="date" v-model="coupons_data.expiration"   required />
                     </div>
                  </div>
                </div>
                <div class="row"> 
                 <div class="col-md-4">
                     <div class="form-group">
                        <label for="MiddleName">Discount Type</label>
                        <select class="form-control" v-model="coupons_data.discount_type">
                         <option value="minus">Less by value</option><!-- 
                         <option value="percentage">Less by percentage</option> -->
                        </select>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group">
                        <label for="MiddleName">Discount</label>
                        <input class="form-control" id="first_name" name="first_name" type="text" v-model="coupons_data.discount"  required />
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group">
                        <label for="MiddleName">Limit</label>
                        <input class="form-control" id="first_name" name="first_name" type="text" v-model="coupons_data.limit"  required />
                     </div>
                  </div>
                </div>
                <div class="row">
                 <div class="col-md-6">
                    <div class="form-group">
                       <label for="FirstName">Date Created</label>
                       <input class="form-control" id="first_name"  v-model="coupons_data.created_at"type="text" readonly="" />
                    </div>
                 </div>
                 <div class="col-md-6">
                  <div class="form-group">
                    <label for="LastName">Date Updated</label>
                    <input class="form-control" data-val="true" id="last_name"  v-model="coupons_data.updated_at" type="text"   readonly="" />
                  </div>
                 </div>
                </div>
                <button class="btn btn-success" id="btnSubmit">Update Coupon</button>
              </form>
             </div>
             <!-- /.box-body -->
           </div>
           <!-- /.box -->
         </div>
     </div>
    </section>
  </div>
</template>
<style type="text/css">
.ladda-button[data-style=expand-right][data-loading] {
    padding-right: 46px;
}
 .ladda-button {
      padding: 7px 15px;
 }
</style>
<script type="text/javascript">

 export default{
   data(){
     return{
       coupons_data: {
        coupon_code: '',
        num_limit: '',
        description:'',
        expiration: '',
        discount_type: '',
        limit: '',
        status:'',
        created_at: '',
        updated_at:'',
       },
       id: ''
    }
   },
   mounted(){
    this.id = this.$route.params.id.replace(/\$st/g,"/");
    this.setContent()
   },
   methods: {
     submitForm () {
      confirm_alert('The coupon will be updated','','info').then((response) => {
        var l = Ladda.create( document.querySelector( '#btnSubmit' ) );
        l.start();
        let coupons_data =  JSON.stringify(this.coupons_data);
        let url = base_url+'coupons_api/edit';
        axios.post(url, {
           token: getCookie('csrf_cookie'),
           coupons_data: coupons_data,
           id: this.id
         })
         .then((response) => {
           if(response.data.message=="success") {
               l.stop();
               $("#btnSubmit").removeClass('ladda-button');
               swal("Updated Successfully","","success");
               setTimeout(()=>{
                window.location.href = base_url +"secure_admin#/view_coupons"
               },2000)
           }
           else {
            console.log(response.data.message);
           }
         })
         .catch(function (error) {
           console.log(error);
         });
      });
      
     },
     setContent(){
      const url = `${base_url}coupons_api/get_coupon/?q=${escape(this.id)}`;
       axios.get(url)
       .then((response) => {
         var contents = response.data.coupon;
         contents.map((item, index) => {
          this.coupons_data.coupon_code = item.coupon_code
          this.coupons_data.num_limit = item.num_limit
          this.coupons_data.description = item.description 
          this.coupons_data.expiration = item.expiration
          this.coupons_data.discount_type = item.discount_type
          this.coupons_data.discount = item.discount
          this.coupons_data.limit = item.limit ? item.limit : 0
          this.coupons_data.created_at = item.created_at
          this.coupons_data.updated_at = item.updated_at 
          this.coupons_data.status = item.status 
         })
         close_loading();       
       })
       .catch(function (error) {
         console.log(error);
       });
     }
   }
 }
</script>