.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

#cd-cart-header {
	font-size: 16px;
	font-weight: bold;
}

.cd-cart-close {
	cursor: pointer;
}

#cd-cart {
  position: fixed;
  top: 0;
  height: 100%;
  width: 260px;
  /* header height */
  padding-top: 20px;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

#cd-cart .card_tag {
  max-width: 20px;
}
@media only screen and (min-width: 768px) {
  #cd-cart {
    width: 350px;
  }
  #cd-cart.speed-in .cd-basket {
    right: 350px!important;
  }
}
@media only screen and (min-width: 1200px) {
  #cd-cart {
    width: 350px;  
  }
}


#cd-cart {
  right: -100%;
  background: #FFF;
  -webkit-transition: right 0.4s;
  -moz-transition: right 0.4s;
  transition: right 0.4s;
}
#cd-cart.speed-in {
  right: 0;
}
#cd-cart > * {
  padding: 0 1em;
}
#cd-cart h2 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}
#cd-cart .cd-cart-items {
  padding: 0;
  overflow: auto;
  border-bottom: 1px solid #e0e6ef;
}
#cd-cart .cd-cart-items li {
  position: relative;
  padding: 1em;
  border-top: 1px solid #e0e6ef;
}
#cd-cart .cd-cart-items li:last-child {
  border-bottom: none;
}
#cd-cart .cd-qty, #cd-cart .cd-price {
  color: #3e3e3e;
}
#cd-cart .cd-price {
  margin-top: .4em;
}
#cd-cart .cd-item-remove {
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 32px;
  border-radius: 50%;
}
.no-touch #cd-cart .cd-item-remove:hover {
  background-color: #e0e6ef;
}
#cd-cart .cd-cart-total {
  padding-top: 1em;
  padding-bottom: 1em;
}
#cd-cart .cd-cart-total span {
  float: right;
}
#cd-cart .cd-cart-total::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
#cd-cart .cta_btn {
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px;
    background: #0076F7;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.cd-basket {
    bottom: 0px;
}

@media screen and (max-height: 960px) {
  #cd-cart .cd-cart-items {
    height:72% !important;
  }
}

@media screen and (max-height: 950px){
#cd-cart .cd-cart-items {
    height: 650px!important;
}
}

@media screen and (max-height: 900px){
#cd-cart .cd-cart-items {
    height: 610px!important;
}
}

@media screen and (max-height: 860px){
#cd-cart .cd-cart-items {
    height: 540px!important;
}
}

@media screen and (max-height: 785px){
#cd-cart .cd-cart-items {
    height: 500px!important;
}
}

@media screen and (max-height: 750px){
#cd-cart .cd-cart-items {
    height: 460px!important;
}
}

@media screen and (max-height: 710px){
#cd-cart .cd-cart-items {
    height: 430px!important;
}
}

@media screen and (max-height: 700px) {
  #cd-cart .cd-cart-items {
    height: 32%;
  }
  #cd-cart .checkout_cta_container {
    height: 32%;
  }
}

@media screen and (max-height: 680px){
#cd-cart .cd-cart-items {
    height: 400px!important;
}
}

@media screen and (max-height: 640px){
#cd-cart .cd-cart-items {
    height: 360px!important;
}
}

@media screen and (max-height: 600px){
#cd-cart .cd-cart-items {
    height: 300px!important;
}
}

@media screen and (max-height: 495px){
#cd-cart .cd-cart-items {
    height: 250px!important;
}
}

.no-touch #cd-cart .cta_btn:hover {
  background: #17579c;
}
#cd-cart .cd-go-to-cart {
  text-align: center;
  margin: 1em 0;
}
#cd-cart .cd-go-to-cart a {
  text-decoration: underline;
}

#cd-cart.speed-in .cd-basket {
	right: 260px;
}

.cd-cart-items .image-container {
  margin-right: 10px;
}

.cd-cart-items .card-image {
  width: 50px;
  vertical-align: bottom;
  margin-right: 0px;
  min-height:0px !important;
}

.cart-quantity-content button.active {
  background: #0076f7;
  color: white;
}

.cd-basket {
	background-color: #FCF6EA;
	
  transition: right 0.4s;
  bottom: 0px;
  position: fixed;
  padding: 5px 14px !important;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 1px 4px 0;
  right: 0;
  z-index: 999999;
  cursor: pointer;

  .cd-icon-basket {
  	font-size: 32px;
  }
}
.btn-primary {
  background:#340E5B !important;
}
.add_to_watchlist{
  background: #e29922;
  color:white;
}
.cd-item-count {
	background-color: #340E5B;
  color: #ffffff;
	border-radius: 50%;
  left: -15px;
  position: absolute;
  top: -15px;
  font-size: 13px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  overflow: hidden;
}
@media only screen and (min-width: 1200px) {
  #cd-cart > * {
    padding: 0 2em;
  }
  #cd-cart .cd-cart-items li {
    padding: 1em 2em;
  }
  #cd-cart .cd-item-remove {
    right: 2em;
  }
}


#cd-shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(67, 87, 121, 0.6);
  cursor: pointer;
  z-index: 9998;
  display: none;
}
#cd-shadow-layer.is-visible {
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  -moz-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}

/* -------------------------------- 

xkeyframes 

-------------------------------- */
@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
