<template>
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Manage Products
        <small>Add product</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
     <div class="row">
      <div class="col-md-12 col-lg-8">
           <!-- Input addon -->
           <div class="box box-success">
             <!-- <div class="box-header with-border">
               <h3 class="box-title">Input Addon</h3>
             </div> -->
             <div class="box-body">
              <form action="#"  @submit.prevent="submitForm()" autocomplete="off">
               <div class="row">
                <div class="col-md-12">
                   <h4 >Product Information</h4>
                 </div>
               </div>
                <div class="row">
                 <div class="col-md-8">
                    <div class="form-group">
                       <label for="FirstName">Product Name <small>(append "- Foil" if card is foil)</small></label>
                       <input class="form-control" id="first_name" name="first_name"  v-model="product_data.name"type="text"    />
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="form-group">
                       <label for="FirstName">Category</label>
                       <select v-model="product_data.category" class="form-control">
                          <option value="single cards" >Single Cards</option>
                          <option value="other products">Other Products</option>
                        </select>
                    </div>
                 </div>
                </div>
                <div class="row">
                 <div class="col-md-6">
                  <div class="form-group">
                    <label for="LastName">Set</label>
                    <input class="form-control" name="last_name" v-model="product_data.set" type="text"    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="LastName">Set Code</label>
                    <input class="form-control" name="last_name" v-model="product_data.set_code" type="text"    />
                  </div>
                </div>
                <div class="col-md-3">
                 <div class="form-group">
                    <label for="LastName">Collector number</label>
                    <input type="text" class="form-control" v-model="product_data.collector_number"  >
                  </div>
                </div>
                </div>
                <div class="row">
                 <div class="col-md-12">
                  <p>Note: please dont add a foil price if product is a regular card and vice versa</p>
                 </div>
                </div>
                <div class="row">

                 <div class="col-md-3">
                  <div class="form-group">
                    <label for="LastName">Cost Price</label>
                    <input class="form-control" name="last_name" v-model="product_data.base_price" type="number"    />
                  </div>
                </div>
                 <div class="col-md-3">
                  <div class="form-group">
                    <label for="LastName">Regular Price</label>
                    <input class="form-control" name="last_name" v-model="product_data.regular_price" type="number"   />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="LastName">Foil Price</label>
                    <input class="form-control" name="last_name" v-model="product_data.foil_price" type="number"  />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="LastName">Stocks</label>
                    <input class="form-control" name="last_name" v-model="product_data.stock" type="number"    />
                  </div>
                </div>
                </div>
                <div class="row"> 
                	<div class="col-md-3">
                     <div class="form-group">
                        <label for="LastName">Image</label>
                        <input class="form-control" name="last_name" ref="file" v-on:change="handleFileUpload()" type="file"   accept="image/*" />
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="form-group">
                        <label for="MiddleName">Card type</label>
                        <select v-model="product_data.card_type" class="form-control">
                          <option value="regular" >Regular</option>
                          <option value="foil">Foil</option>
                        </select>
                     </div>
                  </div>
                 <div class="col-md-3">
                     <div class="form-group">
                        <label for="MiddleName">Card status</label>
                        <input class="form-control" v-model="product_data.fully_handled" type="text" readonly="" />
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="form-group">
                        <label for="MiddleName">Priority</label>
                        <select v-model="product_data.priority" class="form-control">
                         <option value="">None</option>
                          <option value="1">Top Product</option>
                          <option value="9">Do not show</option>
                        </select>
                     </div>
                  </div>
                </div>
                <div class="row"> 
                 	<div class="col-md-3">
                    <div class="form-group">
                      <label for="LastName">Type</label>
                      <input type="text" class="form-control" v-model="product_data.type"  >
                    </div>
                  </div>
                  <div class="col-md-3">
                   <div class="form-group">
                      <label for="LastName">Rarity</label>
                      <input type="text" class="form-control" v-model="product_data.rarity"  >
                    </div>
                  </div>
                  <div class="col-md-3">
                   <div class="form-group">
                      <label for="LastName">Color</label>
                      <input type="text" class="form-control" v-model="product_data.color"  >
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="Password">Artist</label>
                      <input class="form-control" type="text"  v-model="product_data.artist"   />
                    </div>
                  </div>
                </div>
                <a href="javascript:void(0);" @click="toggleShow('show')"><p v-show="showCardInfo==''"><i class="fa fa-plus" ></i> Show Card Information</p></a>
                <a href="javascript:void(0);" @click="toggleShow('')"><p  v-show="showCardInfo!=''"><i class="fa fa-minus"></i> Hide Card Information</p></a>
                <div class="card_info_container" v-show="showCardInfo!=''">
                 <div class="row">
                  <div class="col-md-12">
                    <h4 >Card Information</h4>
                   </div>
                 </div>
                 <div class="row"> 
                  
                 </div> 
                 <div class="row">
                 	<div class="col-md-4">
                     <div class="form-group">
                        <label for="LastName">SKU</label>
                        <input class="form-control" name="last_name" v-model="product_data.serial_number" type="text"    />
                     </div>
                  </div>
                  <div class="col-md-4">
                   <div class="form-group">
                      <label for="LastName">Rating</label>
                      <input type="text" class="form-control" v-model="product_data.rating"  >
                    </div>
                  </div>
                 </div>
                 <div class="row">
                  <div class="col-md-3">
                   <div class="form-group">
                      <label for="LastName">Power</label>
                      <input type="text" class="form-control" v-model="product_data.power"  >
                    </div>
                  </div>
                  <div class="col-md-3">
                   <div class="form-group">
                      <label for="LastName">Toughness</label>
                      <input type="text" class="form-control" v-model="product_data.toughness"  >
                    </div>
                  </div>
                  <div class="col-md-3">
                   <div class="form-group">
                      <label for="LastName">Manacost</label>
                      <input type="text" class="form-control" v-model="product_data.manacost"  >
                    </div>
                  </div>
                  <div class="col-md-3">
                   <div class="form-group">
                      <label for="LastName">Converted Manacost</label>
                      <input type="text" class="form-control" v-model="product_data.converted_manacost"  >
                    </div>
                  </div>
                 </div>
                 <div class="row">
                  <div class="col-md-12">
                   <label for="LastName">Flavor</label>
                   <textarea class="form-control" v-model="product_data.flavor"></textarea>
                  </div>
                 </div>
                 <div class="row">
                  <div class="col-md-12">
                   <label for="LastName">Ruling</label>
                   <textarea class="form-control" v-model="product_data.ruling"></textarea>
                  </div>
                 </div>
                 <div class="row">
                  <div class="col-md-12">
                   <label for="LastName">Ability</label>
                   <textarea class="form-control" v-model="product_data.ability"></textarea>
                  </div>
                 </div>
                </div>

                <br>
                <button class="btn btn-success" id="btnSubmit">Add Product</button>
              </form>
             </div>
             <!-- /.box-body -->
           </div>
           <!-- /.box -->
         </div>
     </div>
    </section>
  </div>
</template>
<style type="text/css">
.ladda-button[data-style=expand-right][data-loading] {
    padding-right: 46px;
}
 .ladda-button {
      padding: 7px 15px;
 }
 .color-picker { display: none; position: absolute; margin-top: 3px; z-index: 2; }
</style>
<script type="text/javascript">
import { Chrome } from 'vue-color'
 export default{
  components: {
    'chrome-picker': Chrome
  },
   data(){
     return{
       product_data: {
        name: '',
        base_price: '',
        regular_price: '',
        foil_price:'',
        stock: '',
        set: '',
        rarity:'',
        collector_number: '',
        set_code:'',
        type:'',
        power:'',
        fully_handled:'Near Mint',
        toughness:'',
        card_type:'regular',
        priority:'',
        manacost:'',
        converted_manacost:'',
        artist:'',
        flavor:'',
        color:'',
        generated_mana:'',
        rating:'',
        collector_number:'',
        ruling:'',
        ability: '',
        category:'Single Cards',
        image:'',
        serial_number:'',
        custom_tag: '',
        tag: {
          content: '',
          text_color: '#000',
          bg_color: '#EAEAEA'
        },
        updated_at:''
       },
       tag: {
        text_color: '#fff',
        bg_color: '#000'
       },
       file: '',
       id: '',
       showCardInfo: '',
    }
   },
   created() {
    $(window).click(function(event) {
      if( $(event.target).closest('#product-tag-color').length == 0 ) $('#product-tag-color').hide();
      if( $(event.target).closest('#product-bg-tag-color').length == 0 ) $('#product-bg-tag-color').hide();
    });
   },
   mounted(){
   },
   methods: {
    toggleShow(val) {
     this.showCardInfo = val;
    },
    handleFileUpload(){
    	this.product_data.image = this.$refs.file.files[0];
  	},
     submitForm () {
      confirm_alert('Product will be added','','info').then((response) => {
        var l = Ladda.create( document.querySelector( '#btnSubmit' ) );
        l.start();
        let product_data =  JSON.stringify(this.product_data);
        let url = base_url+'products_api/add';
        this.file = this.$refs.file.files[0];
	       let formData = new FormData();
	       formData.append('file', this.file);
	       formData.append('token', getCookie('csrf_cookie'));
	       formData.append('product_data', product_data);

        axios.post(url, formData,
       {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
       })
       .then(function (response) {
					if(response.data.message=="success") {
               l.stop();
               $("#btnSubmit").removeClass('ladda-button');
               swal("Added Successfully","","success");
               setTimeout(()=>{
                window.location.href = base_url +"secure_admin#/view_products"
               },2000)
           }
           else {
            console.log(response.data.message);
           }
       })
       .catch(function (error) {
           console.log(error);
       });
      });
      
     },
     RGBAToHexA(r,g,b,a) {
      r = r.toString(16);
      g = g.toString(16);
      b = b.toString(16);
      a = Math.round(a * 255).toString(16);

      if (r.length == 1)
        r = "0" + r;
      if (g.length == 1)
        g = "0" + g;
      if (b.length == 1)
        b = "0" + b;
      if (a.length == 1)
        a = "0" + a;
      
      return "#" + r + g + b + a;
     },
     colorStyle(){
      var style = {
        color: this.product_data.tag.text_color,
        background: this.product_data.tag.bg_color
      };
      return style;
     },
     showColorPicker(event, id) {
      event.stopPropagation();
      $('.color-picker:not(#'+id+')').hide();
      $('#'+id).show();
     }
   },
   watch: {
    tag: {
      deep: true,
      handler(tag) {
        if(tag.text_color.hex) this.product_data.tag.text_color = this.RGBAToHexA(tag.text_color.rgba.r, tag.text_color.rgba.g, tag.text_color.rgba.b, tag.text_color.rgba.a);
        if(tag.bg_color.hex) this.product_data.tag.bg_color = this.RGBAToHexA(tag.bg_color.rgba.r, tag.bg_color.rgba.g, tag.bg_color.rgba.b, tag.bg_color.rgba.a);
      }
    }
   }
 }
</script>