<template>
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Manage Products
        <small>Update product</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
     <div class="row">
      <div class="col-md-12 col-lg-8">
           <!-- Input addon -->
           <div class="box box-success">
             <!-- <div class="box-header with-border">
               <h3 class="box-title">Input Addon</h3>
             </div> -->
             <div class="box-body">
              <form action="#"  @submit.prevent="submitForm()" autocomplete="off">
              	<div class="row">
              		<div class="col-md-12">
	                  <h4 >Product Information</h4>
	                </div>
              	</div>
                <div class="row">
                	<div class="col-md-8">
	                   <div class="form-group">
	                      <label for="FirstName">Product Name</label>
	                      <input class="form-control" id="first_name" name="first_name"  v-model="product_data.name"type="text"   required />
	                   </div>
	                </div>
	                <div class="col-md-4">
	                   <div class="form-group">
	                      <label for="FirstName">Category</label>
	                      <input class="form-control" id="first_name" name="first_name"  v-model="product_data.category" type="text"   required />
	                   </div>
	                </div>
                </div>
                <div class="row">
                	<div class="col-md-6">
		               	<div class="form-group">
		                  <label for="LastName">Set</label>
		                  <input class="form-control"  id="last_name" name="last_name" v-model="product_data.set" type="text"   required />
		                </div>
		              </div>
		              <div class="col-md-6">
		               	<div class="form-group">
		                  <label for="LastName">Set Code</label>
		                  <input class="form-control"  id="last_name" name="last_name" v-model="product_data.set_code" type="text"   required />
		                </div>
		              </div>
                </div>
                <div class="row">
                	<div class="col-md-12">
                		<p>Note: please dont add a foil price if product is a regular card and vice versa</p>
                	</div>
                </div>
                <div class="row">

                	<div class="col-md-3">
		               	<div class="form-group">
		                  <label for="LastName">Base Price</label>
		                  <input class="form-control"  id="last_name" name="last_name" v-model="product_data.base_price" type="number"   required />
		                </div>
		              </div>
                	<div class="col-md-3">
		               	<div class="form-group">
		                  <label for="LastName">Regular Price</label>
		                  <input class="form-control"  id="last_name" name="last_name" v-model="product_data.regular_price" type="number" />
		                </div>
		              </div>
		              <div class="col-md-3">
		               	<div class="form-group">
		                  <label for="LastName">Foil Price</label>
		                  <input class="form-control"  id="last_name" name="last_name" v-model="product_data.foil_price" type="number"  />
		                </div>
		              </div>
		              <div class="col-md-3">
		               	<div class="form-group">
		                  <label for="LastName">Stocks</label>
		                  <input class="form-control"  id="last_name" name="last_name" v-model="product_data.stock" type="number"   required />
		                </div>
		              </div>
                </div>
                <div class="row"> 
                	<div class="col-md-3">
                		<div class="form-group">
	                    <label for="LastName">Collector number</label>
	                    <input type="text" class="form-control" v-model="product_data.collector_number"  >
	                  </div>
                	</div>
                	<div class="col-md-3">
                     <div class="form-group">
                        <label for="MiddleName">Card type</label>
                        <select v-model="product_data.card_type" class="form-control">
                          <option value="regular" >Regular</option>
                          <option value="foil">Foil</option>
                        </select>
                     </div>
                  </div>
                 <div class="col-md-3">
                     <div class="form-group">
                        <label for="MiddleName">Card status</label>
                        <select v-model="product_data.fully_handled" class="form-control">
                          <option value="NM">Near Mint</option>
                          <option value="EX">Excellent</option>
                          <option value="VG ">Very Good</option>
                          <option value="G">Good</option>
                          <option value="P">Played</option>
                          <option value="D">Damaged</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="form-group">
                        <label for="MiddleName">Priority</label>
                        <select v-model="product_data.priority" class="form-control">
                          <option value="1">Top Product</option>
                          <option value="9">Do not show</option>
                        </select>
                     </div>
                  </div>
                </div>
                <div class="row">
                 <div class="col-md-12">
                  <h4>Product Tag</h4>
                 </div>
                </div>
                <div class="row"> 
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Tag</label>
                      <select class="form-control" v-model="product_data.tag.content">
                        <option value=""></option>
                        <option value="Promo">Promo</option>
                        <option value="Sale">Sale</option>
                        <option value="custom">Custom</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Text Color</label>
                      <input type="text" class="form-control" readonly="" name="" :style="colorStyle()" @click="showColorPicker($event, 'product-tag-color')" v-model="product_data.tag.text_color">
                      <chrome-picker id="product-tag-color" v-model="tag.text_color" class="color-picker"/>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Background Color</label>
                      <input type="text" class="form-control" readonly="" name="" :style="colorStyle()" @click="showColorPicker($event, 'product-bg-tag-color')" v-model="product_data.tag.bg_color">
                      <chrome-picker id="product-bg-tag-color" v-model="tag.bg_color" class="color-picker"/>
                    </div>
                  </div>
                </div>
                <div class="row" v-if="product_data.tag.content == 'custom'"> 
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Custom Tag</label>
                      <input type="text" class="form-control" v-model="product_data.custom_tag" name="">
                    </div>
                  </div>
                </div>
                <div class="row">
                 <div class="col-md-6">
                    <div class="form-group">
                       <label for="FirstName">Date Created</label>
                       <input class="form-control" id="first_name"  v-model="product_data.created_at"type="text" readonly="" />
                    </div>
                 </div>
                 <div class="col-md-6">
                  <div class="form-group">
                    <label for="LastName">Date Updated</label>
                    <input class="form-control"  id="last_name"  v-model="product_data.updated_at" type="text"   readonly="" />
                  </div>
                 </div>
                </div>
                <a href="javascript:void(0);" @click="toggleShow('show')"><p v-show="showCardInfo==''"><i class="fa fa-plus" ></i> Show Card Information</p></a>
                <a href="javascript:void(0);" @click="toggleShow('')"><p  v-show="showCardInfo!=''"><i class="fa fa-minus"></i> Hide Card Information</p></a>
                <div class="card_info_container" v-show="showCardInfo!=''">
                	<div class="row">
	                	<div class="col-md-12">
	                  	<h4 >Card Information</h4>
	                 	</div>
	                </div>
	                <div class="row"> 
	                 <div class="col-md-6">
		                  <div class="form-group">
		                    <label for="LastName">Type</label>
		                    <input type="text" class="form-control" v-model="product_data.type"  >
		                  </div>
		                </div>
		                <div class="col-md-6">
		                  <div class="form-group">
		                    <label for="Password">Artist</label>
		                    <input class="form-control"  id="last_name" type="text"  v-model="product_data.artist"   />
		                  </div>
		                </div>
	                </div> 
	                <div class="row">
	                	<div class="col-md-4">
	                		<div class="form-group">
		                    <label for="LastName">Rarity</label>
		                    <input type="text" class="form-control" v-model="product_data.rarity"  >
		                  </div>
	                	</div>
	                	<div class="col-md-4">
	                		<div class="form-group">
		                    <label for="LastName">Color</label>
		                    <input type="text" class="form-control" v-model="product_data.color"  >
		                  </div>
	                	</div>
	                	
	                	<div class="col-md-4">
	                		<div class="form-group">
		                    <label for="LastName">Rating</label>
		                    <input type="text" class="form-control" v-model="product_data.rating"  >
		                  </div>
	                	</div>
	                </div>
	                <div class="row">
	                	<div class="col-md-3">
	                		<div class="form-group">
		                    <label for="LastName">Power</label>
		                    <input type="text" class="form-control" v-model="product_data.power"  >
		                  </div>
	                	</div>
	                	<div class="col-md-3">
	                		<div class="form-group">
		                    <label for="LastName">Toughness</label>
		                    <input type="text" class="form-control" v-model="product_data.toughness"  >
		                  </div>
	                	</div>
	                	<div class="col-md-3">
	                		<div class="form-group">
		                    <label for="LastName">Manacost</label>
		                    <input type="text" class="form-control" v-model="product_data.manacost"  >
		                  </div>
	                	</div>
	                	<div class="col-md-3">
	                		<div class="form-group">
		                    <label for="LastName">Converted Manacost</label>
		                    <input type="text" class="form-control" v-model="product_data.converted_manacost"  >
		                  </div>
	                	</div>
	                </div>
	                <div class="row">
	                	<div class="col-md-12">
	                		<label for="LastName">Flavor</label>
	                		<textarea class="form-control" v-model="product_data.flavor"></textarea>
	                	</div>
	                </div>
	                <div class="row">
	                	<div class="col-md-12">
	                		<label for="LastName">Ruling</label>
	                		<textarea class="form-control" v-model="product_data.ruling"></textarea>
	                	</div>
	                </div>
	                <div class="row">
	                	<div class="col-md-12">
	                		<label for="LastName">Ability</label>
	                		<textarea class="form-control" v-model="product_data.ability"></textarea>
	                	</div>
	                </div>
                </div>

                <br>
                <button class="btn btn-success" id="btnSubmit">Update Product</button>
              </form>
             </div>
             <!-- /.box-body -->
           </div>
           <!-- /.box -->
         </div>
     </div>
    </section>
  </div>
</template>
<style type="text/css">
.ladda-button[data-style=expand-right][data-loading] {
    padding-right: 46px;
}
 .ladda-button {
      padding: 7px 15px;
 }
 .color-picker { display: none; position: absolute; margin-top: 3px; z-index: 2 }
</style>
<script type="text/javascript">
import { Chrome } from 'vue-color'
 export default{
  components: {
    'chrome-picker': Chrome
  },
   data(){
     return{
       product_data: {
        name: '',
        base_price: '',
        regular_price: '',
        foil_price:'',
        stock: '',
        set: '',
        rarity:'',
        collector_number: '',
        set_code:'',
        type:'',
        power:'',
        fully_handled:'',
        toughness:'',
        card_type: '',
        manacost:'',
        converted_manacost:'',
        artist:'',
        flavor:'',
        color:'',
        generated_mana:'',
        rating:'',
        collector_number:'',
        ruling:'',
        ability:'',
        category:'',
        custom_tag: '',
        tag: {
          content: '',
          text_color: '#000',
          bg_color: '#EAEAEA'
        },
        created_at:'',
        updated_at:''
       },
       tag: {
        text_color: '#fff',
        bg_color: '#EAEAEA'
       },
       id: '',
       showCardInfo: '',
       loyalty_program:[]
    }
   },
   created() {
    $(window).click(function(event) {
      if( $(event.target).closest('#product-tag-color').length == 0 ) $('#product-tag-color').hide();
      if( $(event.target).closest('#product-bg-tag-color').length == 0 ) $('#product-bg-tag-color').hide();
    });
   },
   mounted(){
    this.id = this.$route.params.id.replace(/\$st/g,"/");
    this.setContent()
   },
   methods: {
   	toggleShow(val) {
   		this.showCardInfo = val;
   	},
     submitForm () {
      confirm_alert('Product will be updated','','info').then((response) => {
        var l = Ladda.create( document.querySelector( '#btnSubmit' ) );
        l.start();
        let product_data =  JSON.stringify(this.product_data);
        let formData = new FormData();
        formData.append('id', this.id);
        formData.append('token', getCookie('csrf_cookie'));
        formData.append('product_data', product_data);
        let url = base_url+'products_api/edit';
        axios.post(url, formData)
         .then((response) => {
           if(response.data.message=="success") {
               l.stop();
               $("#btnSubmit").removeClass('ladda-button');
               swal("Updated Successfully","","success");
               setTimeout(()=>{
                window.close()
               },2000)
           }
           else {
            console.log(response.data.message);
           }
         })
         .catch(function (error) {
           console.log(error);
         });
      });
      
     },
     RGBAToHexA(r,g,b,a) {
      r = r.toString(16);
      g = g.toString(16);
      b = b.toString(16);
      a = Math.round(a * 255).toString(16);

      if (r.length == 1)
        r = "0" + r;
      if (g.length == 1)
        g = "0" + g;
      if (b.length == 1)
        b = "0" + b;
      if (a.length == 1)
        a = "0" + a;
      
      return "#" + r + g + b + a;
     },
     colorStyle(){
      var style = {
        color: this.product_data.tag.text_color,
        background: this.product_data.tag.bg_color
      };
      return style;
     },
     showColorPicker(event, id) {
      event.stopPropagation();
      $('.color-picker:not(#'+id+')').hide();
      $('#'+id).show();
     },
     setContent(){
      const url = `${base_url}products_api/get_product/?q=${escape(this.id)}`;
       axios.get(url)
       .then((response) => {
         var contents = response.data.product;
         contents.map((item, index) => {
         	this.product_data.name =  item.name,
         	this.product_data.base_price =  item.base_price,
	        this.product_data.regular_price =  item.regular_price,
	        this.product_data.foil_price = item.foil_price,
	        this.product_data.stock =  item.stock,
	        this.product_data.set =  item.set,
	        this.product_data.rarity = item.rarity,
	        this.product_data.collector_number =  item.collector_number,
	        this.product_data.set_code = item.set_code,
	        this.product_data.type = item.type,
	        this.product_data.card_type  = item.card_type,
	        this.product_data.power = item.power,
	        this.product_data.toughness = item.toughness,
	        this.product_data.manacost = item.manacost,
	        this.product_data.converted_manacost = item.converted_manacost,
	        this.product_data.artist = item.artist,
	        this.product_data.flavor = item.flavor,
	        this.product_data.color = item.color,
	        this.product_data.generated_mana = item.generated_mana,
	        this.product_data.rating = item.rating,
	        this.product_data.ruling = item.ruling,
          this.product_data.ability = item.ability,
	        this.product_data.fully_handled = item.fully_handled,
	        this.product_data.category = item.category,
          this.product_data.custom_tag = item.tag == 'custom' ? item.custom_tag : '',
          this.product_data.tag.content = item.tag,
          this.product_data.tag.custom_tag = item.custom_tag,
          this.product_data.tag.text_color = item.tag_color,
          this.product_data.tag.bg_color = item.tag_bg_color,
	        this.product_data.created_at = item.created_at,
	        this.product_data.updated_at = item.updated_at
         })
         this.tag.text_color = this.product_data.tag.text_color ? this.product_data.tag.text_color : this.tag.text_color;
         this.tag.bg_color = this.product_data.tag.bg_color ? this.product_data.tag.bg_color : this.tag.bg_color;
         close_loading();       
       })
       .catch(function (error) {
         console.log(error);
       });
     }
   },
   watch: {
    tag: {
      deep: true,
      handler(tag) {
        if(tag.text_color.hex) this.product_data.tag.text_color = this.RGBAToHexA(tag.text_color.rgba.r, tag.text_color.rgba.g, tag.text_color.rgba.b, tag.text_color.rgba.a);
        if(tag.bg_color.hex) this.product_data.tag.bg_color = this.RGBAToHexA(tag.bg_color.rgba.r, tag.bg_color.rgba.g, tag.bg_color.rgba.b, tag.bg_color.rgba.a);
      }
    }
   }
 }
</script>