<template>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper manage_products">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       	Manage Products
        <small>View List</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<div class="col-md-12">
    			<!-- Form Element sizes -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">List of Products</h3>
            </div>
            <div class="box-body">
             <div class="row">
              <div class="col-md-12">
               <button class="btn btn-warning" @click="selectAll" v-show="allSelected==false">Select All</button>
               <button class="btn btn-warning" @click="selectAll" v-show="allSelected==true">Unselect All</button>
               <button class="btn btn-danger" @click="deleteAllProduct" v-show="selected_id.length > 0">Delete Selected Products</button>
               <button class="btn btn-info" @click="showduplicateProduct()" v-show="selected_id.length > 0">Duplicate Products</button>
               <button class="btn btn-info" data-toggle="modal" data-target="#move_product_modal" v-show="selected_id.length > 0">Move Selected Products</button>
               <button class="btn btn-info" data-toggle="modal" data-target="#bulk_modal">Bulk Edit</button>
               <button class="btn btn-info" data-toggle="modal" data-target="#rename_category_modal">Rename Category</button>
               <button class="btn btn-primary" data-toggle="modal" data-target="#filter_modal">Filter Products</button>
               <button class="btn btn-primary" @click="exportProduct()">Export Product</button>
               <button class="btn btn-primary" @click="chooseFile()">Import Product</button>

               <input type="file" id="choose_file_input" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="display: none">
              </div>
             </div>
             <br>
             <h3>Products for {{disp_category}}</h3>
             <div class="tbl_products_container">
              <div class="tbl-products-container">
              	<table id="tbl_products_header">
                  <thead>
                    <tr>
                      <th style="width: 50px">Row</th>
                      <th style="width: 300px">Product Name</th>
                      <th style="width: 200px">Language</th>
                      <th style="width: 150px">Price </th>
                      <th style="width: 100px">Stocks </th>
                      <th style="width: 150px">Condition</th>
                      <th style="width: 150px">Promo</th>
                      <th style="width: 100px">Datestamp</th>
                      <th style="width: 150px">Tag</th>
                      <!-- <td>Custom Tag</td> -->
                      <th style="width: 130px">Top Product</th>
                    </tr>
                  </thead>
                </table>
                <div class="tbl-products-body">
                  <table id="tbl_products_body">
                    <tbody>
                      <tr v-for="(val, index) in rows" v-if="renderComponent" :key="`${val.id}`" :class="`row${val.id}`" :data-index="index" :data-name="val.name">
                        <td style="width: 50px; vertical-align: top">
                          <input type="checkbox" :disabled="val.id < 0" v-model="selected_id" :value="val.id">
                        </td>
                        <td style="width: 300px; vertical-align: top; position: relative;" class="td-prod-name">
                          <!-- <div class="row" v-if="val.language == 'tw'">
                            <div class="col-md-6">
                              <input class="form-control required" v-model="val.name" type="text" @change="updateCard($event, val, 'name')"/>
                            </div>
                            <div class="col-md-6">
                              <input class="form-control required" v-model="val.name_tw" type="text" @change="updateCard($event, val, 'chinese_name')"/>
                            </div>
                          </div>
                          <div v-if="val.language != 'tw'">
                            <input class="form-control required" v-model="val.name" type="text" @change="updateCard($event, val, 'name')"/>
                          </div> -->
                          <span class="btn-duplicate">
                            <i class="fa fa-clone" aria-hidden="true" @click="duplicateCard(index, 'condition')"></i>
                          </span>
                          <input class="form-control required" :readonly="val.id < 0" v-model="val.name" type="text" @change="updateCard($event, val, 'name')"/>
                          <!-- <input class="form-control required" :readonly="val.id < 0" v-if="val.language == 'tw'" v-model="val.name_tw" type="text" @change="updateCard($event, val, 'chinese_name')"/>     -->                  
                        </td>
                        <td style="width: 200px; vertical-align: top; position: relative;" class="td-prod-lang">
                          <!-- <select v-model="val.language" :readonly="val.id < 0" class="form-control" @change="updateCard($event, val, 'language')">
                              <option value="eng">English</option>
                              <option value="tw">Chinese</option>
                          </select> -->
                          <span class="btn-duplicate">
                            <i class="fa fa-clone" aria-hidden="true" @click="duplicateCard(index, 'language')"></i>
                          </span>
                          <input class="form-control required" readonly type="text" :value="getLanguage(val.language)">
                        </td>
                        <td style="width: 150px" class="td-prod-price">
                          <div v-for="(card, i) in getCards(val, index)" style="margin-bottom: 5px;">

                            <input class="form-control" v-if="card.id < 0" readonly type="number"/>

                            <input class="form-control" 
                            v-if="!(card.prod_type != 'reg' || card.id < 0)" 
                            :readonly="card.condition.toLowerCase() != 'nm'" 
                            v-model="card.regular_price" 
                            type="number" 
                            @change="updateCard($event, card, 'regular_price')"/>

                            <input class="form-control" 
                            v-if="!(card.prod_type != 'foil' || card.id < 0)" 
                            :readonly="card.condition.toLowerCase() != 'nm'" 
                            v-model="card.foil_price" 
                            type="number" 
                            @change="updateCard($event, card, 'foil_price')"/>

                          </div>
                        </td>
                        <td style="width: 100px">
                          <div v-for="(card, i) in getCards(val, index)" style="margin-bottom: 5px;">
                            <input class="form-control required" :readonly="card.id < 0" v-model="card.stock" type="number" @change="updateCard($event, card, 'stock')"/>
                          </div>
                        </td>
                        <td style="width: 150px">
                          <div v-for="(card, i) in getCards(val, index)" style="margin-bottom: 5px;">
                            <input class="form-control required" readonly :value="getCondition(card.condition)" type="text" />
                          </div>
                          <!-- <select class="form-control" v-model="val.condition" @change="getCardCondition($event, val, index)">
                            <option value="nm">Near Mint</option>
                            <option value="ex">Excellent</option>
                            <option value="vg">Very Good</option>
                            <option value="g">Good</option>
                            <option value="p">Played</option>
                            <option value="d">Damaged</option>
                          </select> -->
                          <!-- <input class="form-control" readonly v-model="val.condition" type="input"/> -->
                        </td>
                        <td style="width: 150px">
                          <div v-for="(card, i) in getCards(val, index)" style="margin-bottom: 5px;">
                            <select v-model="card.promo" :readonly="card.id < 0" class="form-control" @change="updateCard($event, card, 'promo')">
                                <option value=""></option>
                                <option value="planeswalker">Planeswalker</option>
                                <option value="datestamp">Prerelease</option>
                            </select>
                          </div>
                        </td>
                        <td style="width: 100px">
                          <div v-for="(card, i) in getCards(val, index)" style="margin-bottom: 5px;">
                            <input class="form-control" type="text" :readonly="card.id < 0 || card.promo != 'datestamp'" v-model="card.datestamp" name="" @change="updateCard($event, val, 'datestamp')">
                          </div>
                        </td>
                        <td style="width: 150px">
                          <div v-for="(card, i) in getCards(val, index)" style="margin-bottom: 5px;">
                            <select v-model="card.tag" :readonly="card.id < 0" class="form-control" @change="updateCard($event, card, 'tag')">
                              <option value=""></option>
                              <option value="best_seller">Best Seller</option>
                              <option value="great_value">Great Value</option>
                              <option value="limited_time">Limited Time</option>
                              <option value="new_product">New Product</option>
                              <option value="preorder">Preorder</option>
                              <option value="promotion">Promotion</option>
                              <option value="recommended">Recommended</option>
                              <option value="sale">Sale</option>
                              <option value="selling_fast">Selling Fast</option>
                              <option value="special_order">Special Order</option>
                            </select>
                          </div>
                        </td>
                        <!-- <td>
                          <input class="form-control" type="text" :readonly="val.id < 0 || val.tag != 'custom'" v-model="val.custom_tag" name="" style="width: 100px" @change="updateCard($event, val, 'custom_tag')">
                        </td> -->
                        <td style="width: 130px">
                          <div v-for="(card, i) in getCards(val, index)" style="margin-bottom: 5px;">
                            <input type="checkbox" :disabled="card.id < 0" v-model="card.priority" @change="updateCard($event, card, 'priority')">
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
    		</div>
    	</div>
    </section>
    <!-- Modal -->
   <div id="mult_duplicate_prod_modal" class="modal fade" role="dialog">
     <div class="modal-dialog">

       <!-- Modal content-->
       <div class="modal-content">
         <div class="modal-header">
          <h4 class="modal-title">Duplicate Card</h4>
         </div>
         <div class="modal-body">
           <div class="row">
            <div class="col-md-12">
              <label>Condition</label>
              <select class="form-control" v-model="mult_condition">
                <option value="NM">NM</option>
                <option value="SP">SP</option>
                <option value="MP">MP</option>
                <option value="HP">HP</option>
                <!-- <option value="EX">Excellent</option>
                <option value="VG">Very Good</option>
                <option value="G">Good</option>
                <option value="P">Played</option>
                <option value="D">Damaged</option> -->
              </select>
            </div>
            <div class="col-md-12">
              <label>Language</label>
              <select class="form-control" v-model="mult_language">
                <option value="eng">English</option>
                <option value="tw">Chinese</option>
                <option value="jp">Japanese</option>
              </select>
            </div>
          </div>
         </div>
         <div class="modal-footer">
           <button class="btn btn-primary" @click="duplicateProduct()">Submit</button>
           <button class="btn btn-default" data-dismiss="modal">Back</button>
         </div>
       </div>
     </div>
   </div>
    <!-- Modal -->
    <!-- Modal -->
   <div id="duplicate_prod_modal" class="modal fade" role="dialog">
     <div class="modal-dialog">

       <!-- Modal content-->
       <div class="modal-content">
         <div class="modal-header">
          <h4 class="modal-title">Duplicate Card</h4>
         </div>
         <div class="modal-body">
           <div class="row">
            <div class="col-md-12">
              <label>Product Name</label>
              <input class="form-control" name="" v-model="duplicate_card.name" readonly>
            </div>
            <div class="col-md-12" v-if="duplicate_card.mode == 'condition'">
              <label>Condition</label>
              <select class="form-control" v-model="duplicate_card.condition">
                <option value="NM">NM</option>
                <option value="SP">SP</option>
                <option value="MP">MP</option>
                <option value="HP">HP</option>
                <!-- <option value="EX">Excellent</option>
                <option value="VG">Very Good</option>
                <option value="G">Good</option>
                <option value="P">Played</option>
                <option value="D">Damaged</option> -->
              </select>
            </div>
            <div class="col-md-12" v-if="duplicate_card.mode == 'language'">
              <label>Language</label>
              <select class="form-control" v-model="duplicate_card.language">
                <option value="eng">English</option>
                <option value="tw">Chinese</option>
                <option value="jp">Japanese</option>
              </select>
            </div>
          </div>
         </div>
         <div class="modal-footer">
           <button class="btn btn-primary" @click="addDuplicateCard()">Submit</button>
           <button class="btn btn-default" data-dismiss="modal">Back</button>
         </div>
       </div>
     </div>
   </div>
    <!-- Modal -->
   <div id="filter_modal" class="modal fade" role="dialog">
     <div class="modal-dialog">

       <!-- Modal content-->
       <div class="modal-content">
         <div class="modal-header">
           <button class="btn btn-primary pull-right" @click="filterProduct()">Submit</button>
           <h4 class="modal-title">Filter Products</h4>
         </div>
         <div class="modal-body">
           <div class="row">
           	<div class="col-md-12">
           		<label>Product Name</label>
							<input class="form-control" name="product_name" v-model="product_name">
           	</div>
            <div class="col-md-12">
              <label>Select Category</label>
              <select class="form-control"  v-model="category">
               <option  v-for="(item,index) in categories" :value="item.set_code" :key="index">{{item.set}}</option>
              </select>
            </div>
           </div>
           <div v-for="(item,index) in filters" :key="index" v-if="item.main_filter=='Variation' || item.main_filter=='Rarity'">
           <div class="row" v-if="item.main_filter=='Variation'">
	            <div class="col-md-12" >
	              <label >Select {{item.main_filter}}</label>
	              <select class="form-control" v-model="variation" >
                  <option value="">All</option>
	               <option  v-for="(item2,index) in item.sub_filter" :value="item2" :key="index">{{item2}}</option>
	              </select>
	              <!-- <select class="form-control" v-model="type" v-else-if="item.main_filter=='Type'">
	               <option  v-for="(item2,index) in item.sub_filter" :value="item2">{{item2}}</option>
	              </select>
	              <select class="form-control" v-model="colors" v-else-if="item.main_filter=='Colors'">
	               <option  v-for="(item2,index) in item.sub_filter" :value="item2">{{item2}}</option>
	              </select>
	               -->
	            </div>
           	</div>
           	<div class="row">
            	<div class="col-md-12" v-if="item.main_filter=='Rarity'">
	            	<label >Select {{item.main_filter}}</label>
	              <select class="form-control" v-model="rarity">
                  <option value="">All</option>
	               <option  v-for="(item2,index) in item.sub_filter" :value="item2" :key="index">{{item2}}</option>
	              </select>
	            </div>
            </div>
           </div>
          <div class="row">
           <div class="col-md-12">
              <label>Select Language</label>
              <select class="form-control" v-model="filter_language">
                  <option value="">All</option>
                <option v-for="(val, index) in filters['language']" :value="val.language_code" :key="index">{{val.language}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Select Card Category</label>
              <select class="form-control" v-model="filter_card_category">
                <option v-for="(val, index) in filters['card_category']" :value="val.value" :key="index">{{val.category}}</option>
              </select>
            </div>
          </div>
         </div>
         <div class="modal-footer">
           <button class="btn btn-primary" @click="filterProduct()">Submit</button>
         </div>
       </div>

     </div>
   </div>
   <div id="bulk_modal" class="modal fade" role="dialog">
     <div class="modal-dialog">

       <!-- Modal content-->
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">Bulk Edit</h4>
         </div>
         <div class="modal-body">
           <div class="row">
            <div class="col-md-12">
              <label>Enter Stocks <small>(leave blank if no changes)</small></label>
              <input type="number" v-model="num_stocks" name="" class="form-control">
              <label>Base/Cost Price <small>(leave blank if no changes)</small></label>
              <input type="number" v-model="base_price" name="" class="form-control">
              <div v-if="variation=='Regular'">
               <label>Price <small>(leave blank if no changes)</small></label>
               <input type="number" v-model="regular_price" name="" class="form-control">
              </div>
              <div v-else>
               <label>Price <small>(leave blank if no changes)</small></label>
               <input type="number" v-model="foil_price" name="" class="form-control">
              </div>
              <label>Set Code <small>(leave blank if no changes)</small></label>
              <input type="text" v-model="set_code" name="" class="form-control">
              <div>
                <label>Tag <small>(leave blank if no changes)</small></label>
                <select class="form-control" v-model="tag.content">
                  <option value=""></option>
                  <option value="best_seller">Best Seller</option>
                  <option value="great_value">Great Value</option>
                  <option value="limited_time">Limited Time</option>
                  <option value="new_product">New Product</option>
                  <option value="preorder">Preorder</option>
                  <option value="promotion">Promotion</option>
                  <option value="recommended">Recommended</option>
                  <option value="sale">Sale</option>
                  <option value="selling_fast">Selling Fast</option>
                  <option value="special_order">Special Order</option>
                </select>
              </div>
            </div>
           </div>
         </div>
         <div class="modal-footer">
           <button class="btn btn-primary" @click="bulkEdit()">Submit</button>
         </div>
       </div>

     </div>
   </div>
   <div id="rename_category_modal" class="modal fade" role="dialog">
     <div class="modal-dialog">
       <!-- Modal content-->
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">Rename Category</h4>
         </div>
         <form method="POST" @submit.prevent="rename_category()">
         <div class="modal-body">
           <div class="row">
            <div class="col-md-12">
              <label>Enter new category name:</label>
              <input type="text" v-model="new_category_name" name="" class="form-control" required>
            </div>
           </div>
         </div>
         <div class="modal-footer">
           <button class="btn btn-primary">Submit</button>
         </div>
         </form>
       </div>
     </div>
   </div>
   <div id="move_product_modal" class="modal fade" role="dialog">
     <div class="modal-dialog">
       <!-- Modal content-->
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">Move Product</h4>
         </div>
         <form method="POST" @submit.prevent="move_product()">
         <div class="modal-body">
           <div class="row">
            <div class="col-md-12">
              <label>Move product to:</label>
              <select class="form-control"  v-model="move_category" required="">
               <option  v-for="(item,index) in categories" :value="index" :key="index">{{item.set}}</option>
              </select>
            </div>
           </div>
         </div>
         <div class="modal-footer">
           <button class="btn btn-primary">Submit</button>
         </div>
         </form>
       </div>
     </div>
   </div>
   <div id="datestamp_modal" class="modal fade" role="dialog">
     <div class="modal-dialog">
       <!-- Modal content-->
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">Enter Datestamp</h4>
         </div>
         <form method="POST" @submit.prevent="changeStyle2()">
         <div class="modal-body">
           <div class="row">
            <div class="col-md-12">
              <label>Datestamp:</label>
              <input type="text" name="datestamp" class="form-control" v-model="datestamp">
            </div>
           </div>
         </div>
         <div class="modal-footer">
           <button class="btn btn-primary">Submit</button>
         </div>
         </form>
       </div>
     </div>
   </div>
  </div>
</template>
<style type="text/css">
.manage_products .edit_column {
 margin-right:5px;
 background:transparent;
}
.manage_products .edit_column .fa-edit {
 color:blue;
}
.action_container {
 width:200px;
}

 .manage_products .row {
  margin-bottom: 10px;
 }
 .manage_products .action_container input  {
  width: 80px;
 }

 .manage_products .action_container button, .manage_products .action_container input {
  display: inline-block;
 }

 .form-control.required.error {
  border-color: #e40909;
 }

 #tbl_products_header th { text-align: center; border: 1px solid #f4f4f4; padding: 10px; }
 #tbl_products_body td { border: 1px solid #f4f4f4; padding: 10px; }
 #tbl_products_body tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }

 .tbl-products-container { width: 1410px; }
  .tbl_products_container { overflow-x: auto; }
  .tbl-products-body { max-height: 700px; overflow: auto; }
 .tbl_products_container:not(.active) { visibility: hidden; }
 .color-picker { display: none; position: absolute; margin-top: 3px; z-index: 2 }
 .tbl_scrollX { overflow: auto; width: 100%; margin-top: -10px; margin-bottom: -20px; }
 .tbl_scrollX div { height: 5px }

 .td-prod-name .btn-duplicate,
 .td-prod-lang .btn-duplicate { position: absolute; line-height: 34px; width: 25px; left: 10px; }

 .td-prod-name .btn-duplicate i,
 .td-prod-lang .btn-duplicate i { cursor: pointer; }

 .td-prod-name input,
 .td-prod-lang input { padding-left: 25px; }

  /* Chrome, Safari, Edge, Opera */
  .td-prod-price input::-webkit-outer-spin-button,
  .td-prod-price input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  .td-prod-price input[type=number] {
    -moz-appearance: textfield;
  }

  @media (min-width: 768px){
    #filter_modal .modal-dialog {
      width: 400px;
    }
  }

</style>
<script type="text/javascript">
    import { Chrome } from 'vue-color'
    export default{
      components: {
        'chrome-picker': Chrome
    },
	  data(){
	    return{
        rows: [],
        cards: [],
        card_index: [],
        product_selected: [],
        filters:[],
        categories:[],
        filter_language: '',
        filter_card_category: '',
        category:"",
        disp_category:"",
        variation:"Regular",
        colors: "All",
        type: "All",
        rarity: "All",
        num_stocks: '',
        base_price:'',
        set_code:'',
        regular_price:'',
        foil_price:'',
        product_name:'',
        move_category: '',
        new_category_name:'',
        selected_id: [],
        showActionId: '',
        showActionColumn:'',
        new_value:'',
        datestamp:"",
        tmp_id:'',
        base_url:'',
        tmp_row:'',
        allSelected: false,
        tag: {
          content: '',
          text_color: '',
          bg_color: ''
        },
        duplicate_card: {
          index: '',
          id: '',
          name: '',
          condition: '',
          language: '',
          mode: ''
        },
        mult_condition: '',
        mult_language: '',
        custom_tag: '',
        text_color: '#fff',
        bg_color: '#EAEAEA',
        renderComponent: true
			}
	  },
    created() {
      // $(window).click(function(event) {
      //   if( $(event.target).closest('#product-tag-color').length == 0 ){
      //     $('#product-tag-color').hide();
      //     $('#product-tag-color').removeClass('active');
      //   }
      //   if( $(event.target).closest('#product-bg-tag-color').length == 0 ){
      //     $('#product-bg-tag-color').hide();
      //     $('#product-bg-tag-color').removeClass('active');
      //   }
      //   if( $(event.target).closest('.color-picker').length == 0 ) {
      //     if($('.color-picker.active').length > 0) {
      //       let el = $('.color-picker.active').eq(0);
      //       let index = el.data('index');
      //       if(el.data('picker') == 'tag') {
      //         this.updateCard(null, this.rows[index], 'tag_color');
      //       } else if(el.data('picker') == 'bg') {
      //         this.updateCard(null, this.rows[index], 'tag_bg_color');
      //       }
      //     }
      //     $('.color-picker').hide();
      //     $('.color-picker').removeClass('active');
      //   }
      // });

      $(document).on('change', '#choose_file_input', function(e){
        var input = this;
        if(!input.files[0]) return;
        var formData = new FormData();
        formData.append('token', getCookie('csrf_cookie'));
        formData.append('spreadsheet', input.files[0]); 
        var url = base_url+'products_api/import_product';
        loading();

        $.ajax({
            url: url,
            data: formData,
            type: 'POST',
            contentType: false, 
            processData: false, 
            success: function(e) {
              var response = JSON.parse(e);
              $(input).val('');
              if(response.status == 'success'){
                toastr.success(response.message);
                location.reload();
                return;
              }
              toastr.error(response.message);
              close_loading();
            },
            error: function (xhr, ajaxOptions, thrownError) {
              location.reload();
            }
        });
      });
    },
	  mounted () {
      this.base_url = base_url
      loading()
	  	this.setTable();
      this.getFilters();
	  },
	  methods: {
    checked(row,val) {
      var style = this.rows[row].style;
    }, 
    pad(num, size) {
      var s = num+"";
      while (s.length < size) s = "0" + s;
      return s;
    },
    changeStyle(id,row) {
      setTimeout(()=>{
        var style = this.rows[row].style;
        if(style == 'datestamp') {
          $("#datestamp_modal").modal('show');
          this.tmp_id = id 
          this.tmp_row = row
        } else {
          let url = base_url+'products_api/updateStyle';
          axios.post(url, {
              token: getCookie('csrf_cookie'),
              style: style,
              id: id,
              datestamp: ''
          })
          .then((response) => {

          })
          .catch(function (error) {
            console.log(error);
          });
        }
      })
    },
    changeStyle2() {
      setTimeout(()=>{
        var row = this.tmp_row
        var id = this.tmp_id
        var style = this.rows[row].style;
          let url = base_url+'products_api/updateStyle';
          axios.post(url, {
              token: getCookie('csrf_cookie'),
              style: style,
              id: id,
              datestamp: this.datestamp
          })
          .then((response) => {
           $("#datestamp_modal").modal('hide');
           this.tmp_row = ''
           this.tmp_id = ''
          })
          .catch(function (error) {
            console.log(error);
          });
      })
    },
    showAction(id,row,column,current_value) {
     this.showActionId = id;
     this.showActionColumn = column
     this.new_value = current_value
     if(column == "base_price") {
      this.$nextTick(() => this.$refs.base_price[row].focus())
     }
     else if(column == "regular_price") {
      this.$nextTick(() => this.$refs.regular_price[row].focus())
     }
     else if(column == "foil_price") {
      this.$nextTick(() => this.$refs.foil_price[row].focus())
     }
     else if(column == "stock") {
      this.$nextTick(() => this.$refs.stock[row].focus())
     }
     
    },
    getCardDetails(card){
      var disp = '';
      if(card.rarity=='T'){
        if(card.type.includes('Basic Land')) {
          disp = card.name + ' ' +card.name_tw+ ' (' + card.collector_number + ') (' + card.set_code +')';
        } else {
          disp = card.name + ' ' + card.name_tw;
        }
      } else {
        if(card.type.includes('Basic Land')) {
          disp = card.name + ' ' +card.name_tw + ' (' + card.collector_number + ') (' + card.set_code +')';
        } else {
          disp = card.name + ' ' + card.name_tw;
        }
      }
      return disp;
    },
    getCardLanguage(card){
      var disp = card.language ? '[' + card.language + '] ' : '';
      return disp.toUpperCase();
    },
    cancelEdit(){
     this.showActionId = this.showActionColumn = this.new_value = ''
    },
    updateValue(id,row){
     var new_value = this.new_value;
     var column = this.showActionColumn;


     let url = base_url+'products_api/singleEdit';
     axios.post(url, {
        token: getCookie('csrf_cookie'),
        new_value: this.new_value,
        column: this.showActionColumn,
        id: id,
      })
      .then((response) => {
        if(response.data.message=="success") {
          if(column == "base_price") {
           this.rows[row].base_price = new_value
          }
          else if(column == "regular_price") {
           this.rows[row].regular_price = new_value
          }
          else if(column == "foil_price") {
           this.rows[row].foil_price = new_value
          }
          else if(column == "stock") {
           this.rows[row].stock = new_value
          }
          this.showActionId = this.showActionColumn = this.new_value = ''
        }
        else {
         console.log(response.data.message);
        }
      })
      .catch(function (error) {
        console.log(error);
      });

    },
    selectAll: function() {
      if (!this.allSelected) {
       this.rows.map((item, index) => {
        this.selected_id.push(item.id);
       })
       this.allSelected = true;
      } else {
       this.selected_id = [];
       this.allSelected = false;
      }
    },
    duplicateCard(i, mode){
      if(!this.rows[i]) return;
      $('#duplicate_prod_modal').modal('show');

      this.active_card = this.rows[i];

      this.duplicate_card.index = i;
      this.duplicate_card.id = this.rows[i].id;
      this.duplicate_card.name = this.rows[i].name;
      this.duplicate_card.condition = '';
      this.duplicate_card.language = '';
      this.duplicate_card.mode = mode;
      
    },
    getCards(card, i) {
      let arr = [];
      let index = card.actual_name + '_' + card.prod_type + '_' + card['set_code'];
      let lang = card.language;

      for(var key in this.cards[index][lang]) {
        arr.push(this.cards[index][lang][key]);
      }

      return arr;
    },
    addDuplicateCard(){
      let card = this.active_card;
      let vm = this;
      let index = card.actual_name + '_' + card.prod_type + '_' + card['set_code'];
      let condition = this.duplicate_card.condition;
      let dup_language = this.duplicate_card.language;
      condition = condition.toLowerCase();
      dup_language = dup_language.toLowerCase();

      if(this.duplicate_card.mode == 'condition') {

        if(!this.cards[index][card.language][condition]) {
          let card_index = this.card_index[index];
          let lang = card.language;
          this.cards[index][lang][condition] = _.cloneDeep(this.rows[card_index]);
          this.cards[index][lang][condition].condition = condition;
          this.cards[index][lang][condition].language = lang;

          let url = `${base_url}products_api/duplicate_card_condition`;
          let bodyFormData = new FormData();
          bodyFormData.set('token', getCookie('csrf_cookie'));
          bodyFormData.set('id', this.rows[card_index].id);
          bodyFormData.set('fully_handled', condition.toUpperCase());
          axios.post(url,bodyFormData)
          .then((response) => {
            if(response.data.status != 'success') return;
            this.cards[index][lang][condition].id = response.data.product.id;

            this.cards[index][lang][condition].regular_price = response.data.product.regular_price;
            this.cards[index][lang][condition].foil_price = response.data.product.foil_price;
            this.cards[index][lang][condition].stock = response.data.product.stock;
            this.cards[index][lang][condition].priority = '';
            this.cards[index][lang][condition].tag = '';
            this.cards[index][lang][condition].custom_tag = '';
            this.cards[index][lang][condition].promo = '';
            this.cards[index][lang][condition].datestamp = '';
            this.cards[index][lang][condition].tag_color = '';
            this.cards[index][lang][condition].tag_bg_color = '';
            this.cards[index][lang][condition].fully_handled = response.data.product.fully_handled.toLowerCase();
            this.cards[index][lang][condition].condition = response.data.product.fully_handled.toLowerCase();

            this.renderComponent = false;

            // If you like promises better you can
            // also use nextTick this way
            this.$nextTick().then(() => {
              // Add the component back in
              vm.renderComponent = true;
              $('#duplicate_prod_modal').modal('hide');
              toastr.success('success');
            });
          });
          return;
        }
        toastr.error('Card condition already exists');

      } else if(this.duplicate_card.mode == 'language') {
        if(!this.cards[index][dup_language]) {
          let card_index = this.card_index[index];
          let lang = dup_language;
          let url = `${base_url}products_api/duplicate_card_language`;
          let bodyFormData = new FormData();
          bodyFormData.set('token', getCookie('csrf_cookie'));
          bodyFormData.set('id', this.rows[card_index].id);
          bodyFormData.set('language', dup_language);
          axios.post(url,bodyFormData)
          .then((response) => {
            if(response.data.status != 'success') return;

            condition = response.data.product.fully_handled;
            condition = condition.toLowerCase();
            let prod_type = response.data.regular_price != '' ? 'reg' : 'foil';
            this.cards[index][lang] = {};
            this.cards[index][lang][condition] = response.data.product;
            this.cards[index][lang][condition].prod_type = prod_type;
            this.cards[index][lang][condition].fully_handled = response.data.product.fully_handled.toLowerCase();
            this.cards[index][lang][condition].condition = response.data.product.fully_handled.toLowerCase();

            let insert_index = card_index + 1;

            this.rows.splice(insert_index, 0, _.cloneDeep(this.cards[index][lang][condition]));
            this.rows[insert_index].id = -1;
            this.rows[insert_index].actual_name = this.rows[insert_index].name;
            this.rows[insert_index].priority = this.rows[insert_index].priority == '1' ? '1' : '';
            this.rows[insert_index].condition = this.rows[insert_index]['fully_handled'].toLowerCase();

            this.renderComponent = false;

            // If you like promises better you can
            // also use nextTick this way
            this.$nextTick().then(() => {
              // Add the component back in
              vm.rows[insert_index].id = vm.cards[index][lang][condition].id;
              console.log(vm.rows[insert_index]);
              vm.renderComponent = true;
              $('#duplicate_prod_modal').modal('hide');
              toastr.success('success');
            });
          });
          return;
        }
        toastr.error('Card language already exists');
      }
      
    },
    getCardCondition($event, card, i){
      let vm = this;
      let index = card.actual_name + '_' + card.prod_type + '_' + card['set_code'];
      let condition = card.condition;

      if(!this.cards[index][card.language][condition]) {
        let card_index = this.card_index[index];
        let lang = card.language;
        this.cards[index][lang][condition] = _.cloneDeep(this.rows[card_index]);
        this.cards[index][lang][condition].condition = condition;
        this.cards[index][lang][condition].language = lang;
        let url = `${base_url}products_api/duplicate_card_condition`;
        let bodyFormData = new FormData();
        bodyFormData.set('token', getCookie('csrf_cookie'));
        bodyFormData.set('id', this.rows[card_index].id);
        bodyFormData.set('fully_handled', condition.toUpperCase());
        axios.post(url,bodyFormData)
        .then((response) => {
          this.rows[card_index].id = response.data.product.id;
          this.cards[index][lang][condition].id = response.data.product.id;

          this.rows[card_index].regular_price = response.data.product.regular_price;
          this.rows[card_index].foil_price = response.data.product.foil_price;
          this.rows[card_index].stock = response.data.product.stock;
          this.rows[card_index].priority = '';
          this.rows[card_index].tag = '';
          this.rows[card_index].custom_tag = '';
          this.rows[card_index].promo = '';
          this.rows[card_index].datestamp = '';
          this.rows[card_index].tag_color = '';
          this.rows[card_index].tag_bg_color = '';
          this.rows[card_index].fully_handled = response.data.product.fully_handled.toLowerCase();
          this.rows[card_index].condition = response.data.product.fully_handled.toLowerCase();

          this.renderComponent = false;

          // If you like promises better you can
          // also use nextTick this way
          this.$nextTick().then(() => {
            // Add the component back in
            this.renderComponent = true;
          });
        });
        this.cards[index][lang][condition].id = -1;
        this.rows[card_index] = this.cards[index][lang][condition];
        return;
      }

      this.rows[i] = this.cards[index][card.language][card.condition];
      this.rows[i].language = card.language;
      let id = this.cards[index][card.language][card.condition].id;

      this.renderComponent = false;

      // If you like promises better you can
      // also use nextTick this way
      this.$nextTick().then(() => {
        // Add the component back in
        this.renderComponent = true;
        this.rows[i].condition = card.condition;
      });
    },
    getLanguage(value) {

      switch (value) {
        case 'tw':
          value = 'Chinese';
          break;
        case 'eng':
          value = 'English';
          break;
        case 'jp':
          value = 'Japanese';
          break;
        default:
          break;
      }
      return value;
    },
    getCondition(value){
      if(!value) return '';

      return value.toUpperCase();

      //

      switch (value) {
        case 'nm':
          value = 'Near Mint';
          break;
        case 'm':
          value = 'Mint';
          break;
        case 'ex':
          value = 'Excellent';
          break;
        case 'vg':
          value = 'Very Good';
          break;
        case 'g':
          value = 'Good';
          break;
        case 'used':
          value = 'Used';
          break;
        case 'p':
          value = 'Played';
          break;
        case 'd':
          value = 'Damaged';
          break;
        default:
          break;
      }
      return value;
    },
	  setTable() {
     const url = `${base_url}products_api/get_all_products`;
     axios.get(url)
			  .then((response) => {
          this.rows = response.data.products;
          // setTimeout(()=>{
          //  for(var index=0;index < this.rows.length; index++) {
          //    this.rows[index].style = this.rows[index].style != null ? (this.rows[index].style != "" ? this.rows[index].style.split(',') : []) : []; 
          //   }
          // })

          this.cards = [];
          this.card_index = [];
          let cards_list_group = [];
          let tmp_cards_list = [];
          for(let i = 0; i < this.rows.length; i++){
            let prod_type = this.rows[i].regular_price != '' ? 'reg' : 'foil';
            this.rows[i].prod_type = prod_type;
            this.rows[i].actual_name = this.rows[i].name;
            this.rows[i].priority = this.rows[i].priority == '1' ? '1' : '';
            this.rows[i].condition = this.rows[i]['fully_handled'].toLowerCase();
            let index = this.rows[i].name + '_' + this.rows[i].language + '_' + prod_type + '_' + this.rows[i]['set_code'];
            if(!tmp_cards_list[index]) {
              tmp_cards_list[index] = [];
            }
            tmp_cards_list[index].push(this.rows[i]);
          }
          for (let prop in tmp_cards_list) {
            // let fully_handled_list = ['nm', 'ex', 'vg', 'g', 'p', 'd'];
            let fully_handled_list = ['nm', 'sp', 'mp', 'hp'];
            let tmp_array = [];

            fully_handled_list.forEach(function (f) {
              let card_condition = _.find(tmp_cards_list[prop], function (e) {
                return e['fully_handled'].toLowerCase() == f
              });
              if (card_condition) {
                tmp_array.push(card_condition);
              }
            })

            if (tmp_array.length > 0){
              for(let i = 0; i < tmp_array.length; i++){
                let index = tmp_array[i].name + '_' + tmp_array[i].prod_type + '_' + tmp_array[i]['set_code'];
                if(!this.cards[index]){
                  this.cards[index] = [];
                  this.card_index[index] = cards_list_group.length;
                }
                if(!this.cards[index][tmp_array[i].language]) {
                  this.cards[index][tmp_array[i].language] = [];

                  cards_list_group.push(tmp_array[i]);
                }
                this.cards[index][tmp_array[i].language][tmp_array[i].fully_handled.toLowerCase()] = tmp_array[i];
              }
            }
          }
          this.rows = cards_list_group;

          this.category = response.data.cat_code
          this.disp_category = this.category
          this.rarity = response.data.rarity
          this.variation = response.data.variation
          this.product_name = response.data.product_name
          this.filter_card_category = response.data.card_category
          this.filter_language = response.data.card_language
          setTimeout(() => {
            let lengthMenu = this.rows.length > 0 ? this.rows.length : 10;
            $('.tbl_products_container').addClass('active');
          //   $('#tbl_products').DataTable({
          //      "lengthMenu": [lengthMenu],
          //     "searching": false,
          //     "bPaginate": false,
          //     "bLengthChange": false,
          //     "sScrollY": ($(window).height() - 200),
          //     "sScrollX" : "100%",
          //     "ordering": false,
          //     "initComplete": function( settings, json ) {
          //       $('.tbl_products_container').addClass('active');
          //       $('#tbl_products_wrapper').prepend('<div class="tbl_scrollX"><div></div></div>');
          //       $('#tbl_products_wrapper .tbl_scrollX div').css({'width': $('#tbl_products').css('width') });

          //       $('#tbl_products_wrapper .tbl_scrollX').scroll(function(e){
          //         let left = $('#tbl_products_wrapper .tbl_scrollX').scrollLeft();
          //         $('#tbl_products_wrapper .dataTables_scrollBody').scrollLeft(left);
          //       });

          //       $('#tbl_products_wrapper .dataTables_scrollBody').scroll(function(e){
          //         let left = $('#tbl_products_wrapper .dataTables_scrollBody').scrollLeft();
          //         $('#tbl_products_wrapper .tbl_scrollX').scrollLeft(left);
          //       });
          //     }
          //    })
          //    $('#tbl_products').css('height', ($(window).height() - 200));
          }, 2000);

          setTimeout(()=>{
            close_loading()
          },1000)
        })
			  .catch(function (error) {
			    console.log(error);
			  });
	  },
    getFilters() {
     const url = `${base_url}products_api/getFilters`;
     axios.get(url)
     .then((response) => {
         this.filters = response.data.filters;
         this.filters['card_category'] = [{ category: 'All', value: ''}, { category: 'Single Cards', value: 'single cards'}, { category: 'Other Cards', value: 'other cards'}];
         this.categories = response.data.categories;
     })
     .catch(function (error) {
       console.log(error);
     });
    },
	  	edit(id) {
	  		window.open(
        `${this.base_url}secure_admin#/edit_product/${escape(id).replace(/\//g,"$st")}`,
        '_blank' // <- This is what makes it open in a new window.
      );
	  	},
    filterProduct() {
     this.rows = [];

      let bodyFormData = new FormData();
      bodyFormData.set('token', getCookie('csrf_cookie'));
      bodyFormData.set('category', this.category);
      bodyFormData.set('variation', this.variation);
      bodyFormData.set('rarity', this.rarity);
      bodyFormData.set('product_name', this.product_name);
      bodyFormData.set('card_category', this.filter_card_category);
      bodyFormData.set('card_language', this.filter_language);

     let url = base_url+'products_api/filterProduct';
     axios.post(url, bodyFormData)
      .then((response) => {
        if(response.data.message=="success") {
          location.reload();
        }
        else {
         console.log(response.data.message);
        }
      })
      .catch(function (error) {
        console.log(error);
      });
    },
    deleteAllProduct(){
     confirm_alert('Are you sure?','You won\'t be able to revert this! ','warning').then((response) => {
       const url = `${base_url}products_api/deleteAllProduct`;
       loading();
        var fd = new FormData();
        fd.append('token', getCookie('csrf_cookie'));
        fd.append('selected_id', JSON.stringify(this.selected_id));
        fd.append('category', this.category);
        fd.append('variation', this.variation);
        fd.append('rarity', this.rarity);
          axios.post(url,fd)
         .then((response) => {
          console.log(response.data.cat_code);
          location.reload();
         })
       .catch(function (error) {
         console.log(error);
       });
     });
    },
    showduplicateProduct() {
      this.mult_condition = '';
      this.mult_language = '';
      $('#mult_duplicate_prod_modal').modal('show');
    },
    duplicateProduct(){
     confirm_alert('Are you sure?','You won\'t be able to revert this! ','warning').then((response) => {
        var fd = new FormData();
       loading();
        fd.append('token', getCookie('csrf_cookie'));
        fd.append('selected_id', JSON.stringify(this.selected_id));
        fd.append('category', this.category);
        fd.append('variation', this.variation);
        fd.append('rarity', this.rarity);
        fd.append('language', this.mult_language);
        fd.append('fully_handled', this.mult_condition);
        const url = `${base_url}products_api/duplicateProduct`;
          axios.post(url,fd)
         .then((response) => {
          console.log(response.data.cat_code);
          location.reload();
         })
        .catch(function (error) {
         console.log(error);
        });
     });
    },
    bulkEdit() {
     confirm_alert('Are you sure?','You won\'t be able to revert this! ','warning').then((response) => {
       const url = `${base_url}products_api/bulkEdit`;
       loading();
       var fd = new FormData();
       fd.append('token', getCookie('csrf_cookie'));
       fd.append('num_stocks', this.num_stocks);
       fd.append('base_price', this.base_price);
       fd.append('regular_price', this.regular_price);
       fd.append('foil_price', this.foil_price);
       fd.append('selected_id', JSON.stringify(this.selected_id));
       fd.append('category', this.category);
       fd.append('set_code', this.set_code);
       fd.append('variation', this.variation);
       fd.append('tag', JSON.stringify(this.tag));
       fd.append('custom_tag', this.custom_tag);

          axios.post(url,fd)
         .then((response) => {
          close_loading();
          location.reload();
         })
       .catch(function (error) {
         console.log(error);
       });
     });
    },
    rename_category() {
     confirm_alert('Are you sure?','You won\'t be able to revert this! ','warning').then((response) => {
       const url = `${base_url}products_api/rename_category`;
       loading()
          axios.post(url,{
            token: getCookie('csrf_cookie'),
            new_category_name: this.new_category_name,
            set_code: this.category,
            category: this.category,
            variation: this.variation,
            rarity: this.rarity,
            product_name:this.product_name
          })
         .then((response) => {
          close_loading();
          location.reload();
         })
       .catch(function (error) {
         console.log(error);
       });
     });
    },
    move_product() {
      if(!this.categories[this.move_category]) return;
     confirm_alert('Are you sure?','You won\'t be able to revert this! ','warning').then((response) => {
       const url = `${base_url}products_api/move_product`;
       loading()
       var fd = new FormData();
       fd.append('token', getCookie('csrf_cookie'));
       fd.append('move_category', this.categories[this.move_category].set_code);
       fd.append('move_category_name', this.categories[this.move_category].set);
       fd.append('selected_id', JSON.stringify(this.selected_id));
       fd.append('category', this.category);
       fd.append('variation', this.variation);
       fd.append('rarity', this.rarity);
       fd.append('product_name', this.product_name);
          axios.post(url,fd)
         .then((response) => {
          close_loading();
          location.reload();
         })
       .catch(function (error) {
         console.log(error);
       });
     });
    },
	  	// deleteProduct(id) {
	  	// 	confirm_alert('Are you sure?','You won\'t be able to revert this! ','warning').then((response) => {
 		 //  		const url = `${base_url}products_api/deleteProduct`;
 	  //       axios.post(url,{
 	  //       	 token: getCookie('csrf_cookie'),
 			// 	     id: id
 	  //       })
   	// 			  .then((response) => {
    // 						location.reload();
    // 	    })
 			// 	  .catch(function (error) {
 			// 	    console.log(error);
 			// 	  });
 			// 	});
	  	// },
     colorStyle(){
      var style = {
        color: this.tag.text_color,
        background: this.tag.bg_color
      };
      return style;
     },
     showColorPicker(event, id, val) {
      event.stopPropagation();
      $('.color-picker:not(#'+id+')').hide();
      $('#'+id).addClass('active');
      $('#'+id).show();
     },
     RGBAToHexA(r,g,b,a) {
      r = r.toString(16);
      g = g.toString(16);
      b = b.toString(16);
      a = Math.round(a * 255).toString(16);

      if (r.length == 1)
        r = "0" + r;
      if (g.length == 1)
        g = "0" + g;
      if (b.length == 1)
        b = "0" + b;
      if (a.length == 1)
        a = "0" + a;
      
      return "#" + r + g + b + a;
     },
     updateCard(event, card, col) {
      if(event) {
        if($(event.target).hasClass('required')) {
          let val = card[col] + '';
          val = val.trim();
          $(event.target).removeClass('error');
          if(val == '') {
            $(event.target).addClass('error');
            return;
          }
        }
      }
      let name = card['actual_name'] + '_' + card['prod_type'] + '_' + card['set_code'];
      let lang = card['language'];
      let card_index = this.card_index[name];

      if(col == 'tag') {
        let val = card[col] + '';
        if(val != 'custom') {
          card['custom_tag'] = '';
        }
      }

      let value = card[col];
      if(col == 'chinese_name') {
        value = card['name_tw'];

        for(var i = 0; i < $('[data-name="'+card['actual_name']+'"]').length; i++) {
          let index = $('[data-name="'+card['actual_name']+'"]').eq(i).data('index');
          this.rows[index].name_tw = value;
        }
      } else if(col == 'name') {
        let bodyFormData = new FormData();
        bodyFormData.set('name', value);
        bodyFormData.set('actual_name', card['actual_name']);
        bodyFormData.set('set_code', card['set_code']);
        bodyFormData.set('language', lang);
        bodyFormData.set('token', getCookie('csrf_cookie'));
        let url = `${base_url}products_api/change_card_name`;
        if(card['name'] == card['actual_name']) return;
        let index = card['name'] + '_' + card['prod_type'] + '_' + card['set_code'] + '_' + card['fully_handled'].toLowerCase();
        if(this.card_index[index]) {
          this.rows[card_index].name = this.rows[card_index].actual_name;
          toastr.error('Card Name already exists');
          return;
        }

        axios.post(url,bodyFormData)
        .then((response) => {
          response = response.data;
          if(response.is_existing == '1') {
            this.rows[card_index].name = this.rows[card_index].actual_name;
            toastr.error('Card Name already exists');
            return;
          }

          if(response.card) {
            for(var key in this.cards[name]) {
              this.cards[name][key].name_tw = response.card[0]['name_tw'];
              this.cards[name][key].name = value;
              this.cards[name][key].actual_name = value;
            }
          } else {
            for(var key in this.cards[name]) {
              this.cards[name][key].name_tw = '';
              this.cards[name][key].name = value;
              this.cards[name][key].actual_name = value;
            }
          }
          this.cards[index] = this.cards[name];
          this.card_index[index] = this.cards[name];
          this.cards[name] = {};
          this.cards[index] = -1;
        });
        return;
      } else if(col == 'language') {
        let is_exist = false;

        if(this.cards[name][lang]) {
          if(this.cards[name][lang][card['condition']]) {
            is_exist = true;
          }
        }

        if(!is_exist) {
          this.cards[name][lang][card['condition']] = _.cloneDeep(this.rows[card_index]);
          this.cards[name][lang][card['condition']].language = lang;
          this.cards[name][lang][card['condition']].condition = card['condition'];
          let url = `${base_url}products_api/change_card_language`;
          let bodyFormData = new FormData();
          bodyFormData.set('token', getCookie('csrf_cookie'));
          bodyFormData.set('id', this.rows[card_index].id);
          bodyFormData.set('language', lang);
          axios.post(url,bodyFormData)
          .then((response) => {
            this.rows[card_index].id = response.data.product.id;
            this.cards[name][lang][card['condition']].id = response.data.product.id;

            this.rows[card_index].regular_price = response.data.product.regular_price;
            this.rows[card_index].foil_price = response.data.product.foil_price;
            this.rows[card_index].stock = response.data.product.stock;
            this.rows[card_index].priority = '';
            this.rows[card_index].tag = '';
            this.rows[card_index].custom_tag = '';
            this.rows[card_index].promo = '';
            this.rows[card_index].datestamp = '';
            this.rows[card_index].tag_color = '';
            this.rows[card_index].tag_bg_color = '';

            this.renderComponent = false;

            // If you like promises better you can
            // also use nextTick this way
            this.$nextTick().then(() => {
              // Add the component back in
              this.renderComponent = true;
            });
          });
          this.cards[name][lang][card['condition']].id = -1;
          this.rows[card_index] = this.cards[name][lang][card['condition']];

        } else {
          this.rows[card_index] = _.cloneDeep(this.cards[name][lang][card['condition']]);
          this.rows[card_index].language = lang;
          this.rows[card_index].condition = card['condition'];

          this.renderComponent = false;

          // If you like promises better you can
          // also use nextTick this way
          this.$nextTick().then(() => {
            // Add the component back in
            this.renderComponent = true;
          });
        }
        return;
      } else if(col == 'tag') {
        if(col != 'custom') {
          card.custom_tag = '';
        }
      } else if(col == 'promo') {
        if(value != 'datestamp') {
          card.datestamp = '';
        }
      } else if(col == 'priority') {
        value = value ? '1' : '';
      } else if(col == 'regular_price' || col == 'foil_price') {      
        let index = card.actual_name + '_' + card.prod_type + '_' + card['set_code'];
        let lang = card.language;
        let condition = card.fully_handled + '';

        if(condition.toLowerCase() != 'nm') {
          return;
        } else {

          if(this.cards[index][lang]['sp']) {
            if(card.regular_price) {
              this.cards[index][lang]['sp'].regular_price = this.getDiscountedPrice('sp', card.regular_price);
              this.cards[index][lang]['sp'].price = this.getDiscountedPrice('sp', card.regular_price);

              let bodyFormData = new FormData();
              bodyFormData.set('id', this.cards[index][lang]['sp'].id);
              bodyFormData.set('col', 'regular_price');
              bodyFormData.set('value', this.cards[index][lang]['sp'].regular_price);
              bodyFormData.set('token', getCookie('csrf_cookie'));
              let url = `${base_url}products_api/update_product`;

              axios.post(url,bodyFormData)
              .then((response) => {
              });
            } else if(card.foil_price) {
              this.cards[index][lang]['sp'].foil_price = this.getDiscountedPrice('sp', card.foil_price);
              this.cards[index][lang]['sp'].price = this.getDiscountedPrice('sp', card.foil_price);

              let bodyFormData = new FormData();
              bodyFormData.set('id', this.cards[index][lang]['sp'].id);
              bodyFormData.set('col', 'foil_price');
              bodyFormData.set('value', this.cards[index][lang]['sp'].foil_price);
              bodyFormData.set('token', getCookie('csrf_cookie'));
              let url = `${base_url}products_api/update_product`;

              axios.post(url,bodyFormData)
              .then((response) => {
              });
            }
          }

          if(this.cards[index][lang]['mp']) {
            if(card.regular_price) {
              this.cards[index][lang]['mp'].regular_price = this.getDiscountedPrice('mp', card.regular_price);
              this.cards[index][lang]['mp'].price = this.getDiscountedPrice('mp', card.regular_price);

              let bodyFormData = new FormData();
              bodyFormData.set('id', this.cards[index][lang]['mp'].id);
              bodyFormData.set('col', 'regular_price');
              bodyFormData.set('value', this.cards[index][lang]['mp'].regular_price);
              bodyFormData.set('token', getCookie('csrf_cookie'));
              let url = `${base_url}products_api/update_product`;

              axios.post(url,bodyFormData)
              .then((response) => {
              });
            } else if(card.foil_price) {
              this.cards[index][lang]['mp'].foil_price = this.getDiscountedPrice('mp', card.foil_price);
              this.cards[index][lang]['mp'].price = this.getDiscountedPrice('mp', card.foil_price);

              let bodyFormData = new FormData();
              bodyFormData.set('id', this.cards[index][lang]['mp'].id);
              bodyFormData.set('col', 'foil_price');
              bodyFormData.set('value', this.cards[index][lang]['mp'].foil_price);
              bodyFormData.set('token', getCookie('csrf_cookie'));
              let url = `${base_url}products_api/update_product`;

              axios.post(url,bodyFormData)
              .then((response) => {
              });
            }
          }

          if(this.cards[index][lang]['hp']) {
            if(card.regular_price) {
              this.cards[index][lang]['hp'].regular_price = this.getDiscountedPrice('hp', card.regular_price);
              this.cards[index][lang]['hp'].price = this.getDiscountedPrice('hp', card.regular_price);

              let bodyFormData = new FormData();
              bodyFormData.set('id', this.cards[index][lang]['hp'].id);
              bodyFormData.set('col', 'regular_price');
              bodyFormData.set('value', this.cards[index][lang]['hp'].regular_price);
              bodyFormData.set('token', getCookie('csrf_cookie'));
              let url = `${base_url}products_api/update_product`;

              axios.post(url,bodyFormData)
              .then((response) => {
              });
            } else if(card.foil_price) {
              this.cards[index][lang]['hp'].foil_price = this.getDiscountedPrice('hp', card.foil_price);
              this.cards[index][lang]['hp'].price = this.getDiscountedPrice('hp', card.foil_price);

              let bodyFormData = new FormData();
              bodyFormData.set('id', this.cards[index][lang]['hp'].id);
              bodyFormData.set('col', 'foil_price');
              bodyFormData.set('value', this.cards[index][lang]['hp'].foil_price);
              bodyFormData.set('token', getCookie('csrf_cookie'));
              let url = `${base_url}products_api/update_product`;

              axios.post(url,bodyFormData)
              .then((response) => {
              });
            }
          }
        }
      }

      let bodyFormData = new FormData();
      bodyFormData.set('id', card.id);
      bodyFormData.set('col', col);
      bodyFormData.set('value', value);
      bodyFormData.set('token', getCookie('csrf_cookie'));
      let url = `${base_url}products_api/update_product`;

      axios.post(url,bodyFormData)
      .then((response) => {
        console.log(response)
      });
     },
     getDiscountedPrice(condition, price){
      condition = condition.toLowerCase();
      let discount = 0;

      if(condition == 'sp') {
        discount = 0.8;
      } else if(condition == 'mp') {
        discount = 0.7;
      } else if(condition == 'hp') {
        discount = 0.6;
      } else {
        discount = 1;
      }
      price = parseFloat(price) * discount;
      price = parseFloat(price).toFixed(2);

      var result = (price - Math.floor(price)) !== 0;
      if (!result) price = parseFloat(price).toFixed(0);

      return price;
     },
     cardColorStyle(val){
      var style = {
        color: val.tag_color,
        background: val.tag_bg_color
      };
      return style;
     },
     getTagColorId(tag, id) {
      let return_data = '';
      if(tag == 'bg') {
        return_data = 'product-bg-tag-color-'+id;
      } else if(tag == 'tag') {
        return_data = 'product-tag-color-'+id;
      }

      return return_data;
     },
     updateColorValue(val, tag) {
      if(tag == 'tag') {
        val.tag_color = this.RGBAToHexA(val.row_tag_color.rgba.r, val.row_tag_color.rgba.g, val.row_tag_color.rgba.b, val.row_tag_color.rgba.a)
      } else if (tag == 'bg') {
        val.tag_bg_color = this.RGBAToHexA(val.row_bg_color.rgba.r, val.row_bg_color.rgba.g, val.row_bg_color.rgba.b, val.row_bg_color.rgba.a);
      }
     },
     exportProduct() { 
      loading();
      const Excel = require('exceljs');
      const workbook = new Excel.Workbook();
      // create new sheet with pageSetup settings for A4 - landscape
      const worksheet =  workbook.addWorksheet('sheet',{
        views: [
          {state: 'frozen', ySplit: 5, xSplit: 4}
        ]
      });
      var ctr = 0;
      var row = 2;
      worksheet.getCell('A'+row).value = 'Column Guide';
      row++;
      var set_code = '';

      worksheet.getCell('A'+row).value = 'Do not change this column \r\n (For adding new card, leave blank)';
      worksheet.getCell('E'+row).value = 'Accepts number only';
      worksheet.getCell('F'+row).value = 'Accepts number only \r\n If the card is foil, leave this column blank';
      worksheet.getCell('G'+row).value = 'Accepts number only \r\n If the card is regular, leave this column blank';
      worksheet.getCell('H'+row).value = 'Accepts number only';
      worksheet.getCell('J'+row).value = 'Accepted value: \r\n NM | SP | MP | HP';
      worksheet.getCell('K'+row).value = 'eng = English \r\n tw = Chinese \r\n jp = Japanese';
      worksheet.getCell('I'+row).value = 'U = Uncommon \r\n C = Common \r\n R = Rare \r\n M = Mythic \r\n T = Others';
      worksheet.getCell('L'+row).value = 'Accepted value: \r\n planeswalker';
      worksheet.getCell('N'+row).value = 'Accepted value: \r\n best_seller \r\n great_value \r\n limited_time \r\n new_product \r\n preorder \r\n promotion \r\n recommended \r\n sale \r\n selling_fast \r\n special_order';
      row += 2;

      for(var i = 1; i < 21; i++) {
        worksheet.getColumn(i).width = 20;
        worksheet.getColumn(i).alignment = { horizontal: 'center', wrapText: true };
      }
      worksheet.getColumn('B').width = 30;
      worksheet.getColumn('C').width = 30;
      worksheet.getColumn('O').width = 30;
      worksheet.getColumn('Q').width = 50;
      worksheet.getColumn('S').width = 50;
      var header_fill_style = {
        type: 'pattern',
        pattern:'solid',
        fgColor:{ argb:'75a6c2' }
      };

      worksheet.getCell('A'+row).value = 'ID';
      worksheet.getCell('B'+row).value = 'Name';
      worksheet.getCell('C'+row).value = 'Category';
      worksheet.getCell('D'+row).value = 'Category Code';
      worksheet.getCell('E'+row).value = 'Base Price';
      worksheet.getCell('F'+row).value = 'Regular Price';
      worksheet.getCell('G'+row).value = 'Foil Price';
      worksheet.getCell('H'+row).value = 'Stock';
      worksheet.getCell('I'+row).value = 'Rarity';
      worksheet.getCell('J'+row).value = 'Condition';
      worksheet.getCell('K'+row).value = 'Language';
      worksheet.getCell('L'+row).value = 'Promo';
      worksheet.getCell('M'+row).value = 'Datestamp';
      worksheet.getCell('N'+row).value = 'Tag';
      worksheet.getCell('O'+row).value = 'Image Link';
      worksheet.getCell('P'+row).value = 'Collector Number';
      worksheet.getCell('Q'+row).value = 'Ability';
      worksheet.getCell('R'+row).value = 'Type';
      worksheet.getCell('S'+row).value = 'Flavor';

      worksheet.getCell('A'+row).fill = header_fill_style;
      worksheet.getCell('B'+row).fill = header_fill_style;
      worksheet.getCell('C'+row).fill = header_fill_style;
      worksheet.getCell('D'+row).fill = header_fill_style;
      worksheet.getCell('E'+row).fill = header_fill_style;
      worksheet.getCell('F'+row).fill = header_fill_style;
      worksheet.getCell('G'+row).fill = header_fill_style;
      worksheet.getCell('H'+row).fill = header_fill_style;
      worksheet.getCell('I'+row).fill = header_fill_style;
      worksheet.getCell('J'+row).fill = header_fill_style;
      worksheet.getCell('K'+row).fill = header_fill_style;
      worksheet.getCell('L'+row).fill = header_fill_style;
      worksheet.getCell('M'+row).fill = header_fill_style;
      worksheet.getCell('N'+row).fill = header_fill_style;
      worksheet.getCell('O'+row).fill = header_fill_style;
      worksheet.getCell('P'+row).fill = header_fill_style;
      worksheet.getCell('Q'+row).fill = header_fill_style;
      worksheet.getCell('R'+row).fill = header_fill_style;
      worksheet.getCell('S'+row).fill = header_fill_style;

      row++;

      while(ctr < this.rows.length) {
        var arr = this.getCards(this.rows[ctr], ctr);
        for(var i = 0; i < arr.length; i++) {
          var card = arr[i];
          var card_tag = card.tag;
          if(card_tag == 'custom') {
            card_tag = '';
          }
          if(i == 0) set_code = card.set_code;

          worksheet.getCell('A'+row).value = card.id;
          worksheet.getCell('B'+row).value = card.name;
          worksheet.getCell('C'+row).value = card.set;
          worksheet.getCell('D'+row).value = card.set_code;
          worksheet.getCell('E'+row).value = card.base_price;
          worksheet.getCell('F'+row).value = card.regular_price;
          worksheet.getCell('G'+row).value = card.foil_price;
          worksheet.getCell('H'+row).value = card.stock;
          worksheet.getCell('I'+row).value = card.rarity;
          worksheet.getCell('J'+row).value = card.fully_handled;
          worksheet.getCell('K'+row).value = card.language;
          worksheet.getCell('L'+row).value = card.promo;
          worksheet.getCell('M'+row).value = card.datestamp;
          worksheet.getCell('N'+row).value = card_tag;
          worksheet.getCell('O'+row).value = card.image;
          worksheet.getCell('P'+row).value = card.collector_number;
          worksheet.getCell('Q'+row).value = card.ability;
          worksheet.getCell('R'+row).value = card.type;
          worksheet.getCell('S'+row).value = card.flavor;
          row++;
        }

        if(arr.length > 0) {
          ctr++;
        }
      }

      var timestamp = Date.now();
      var date = new Date(timestamp);
      var year = date.getFullYear();
      var month = this.pad(date.getMonth() + 1, 2);
      var day = this.pad(date.getDate(), 2);

      workbook.xlsx.writeBuffer( {
          base64: true
      })
      .then( function (xls64) {
          // build anchor tag and attach file (works in chrome)
          var a = document.createElement("a");
          var data = new Blob([xls64], { type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" });

          var url = URL.createObjectURL(data);
          a.href = url;
          a.download = set_code + '-' + day + month + year + ".xlsx";
          document.body.appendChild(a);
          a.click();
          setTimeout(function() {
              document.body.removeChild(a);
              window.URL.revokeObjectURL(url);

              close_loading();
          },
          0);
      })
      .catch(function(error) {
          console.log(error.message);
      });
     },
     chooseFile() {
      $('#choose_file_input').trigger('click');
     }
   },
   watch: {
    text_color: {
      handler(text_color) {
        if(text_color.hex) this.tag.text_color = this.RGBAToHexA(text_color.rgba.r, text_color.rgba.g, text_color.rgba.b, text_color.rgba.a);
      }
    },
    bg_color: {
      handler(bg_color) {
        if(bg_color.hex) this.tag.bg_color = this.RGBAToHexA(bg_color.rgba.r, bg_color.rgba.g, bg_color.rgba.b, bg_color.rgba.a);
      }
    }
   }
	}
</script>