<template>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Manage Users
        <small>Add new user</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<div class="col-md-10 col-lg-6">
	          <!-- Input addon -->
	          <div class="box box-success">
	            <!-- <div class="box-header with-border">
	              <h3 class="box-title">Input Addon</h3>
	            </div> -->
	            <div class="box-body">
	            	<form action="#"  @submit.prevent="submitForm()" autocomplete="off">
		            <div class="row">
                <div class="col-md-12">
                   <h4 >Personal Information</h4>
                 </div>
               </div>
                <div class="row">
                 <div class="col-md-6">
                    <div class="form-group">
                       <label for="FirstName">First Name</label>
                       <input class="form-control" id="first_name" name="first_name"  v-model="user_data.first_name"type="text"   required />
                    </div>
                 </div>
                 <div class="col-md-6">
                  <div class="form-group">
                    <label for="LastName">Last Name</label>
                    <input class="form-control" data-val="true" id="last_name" name="last_name" v-model="user_data.last_name" type="text"   required />
                  </div>
                 </div>
                </div>
                <div class="row"> 
                 <div class="col-md-6">
                     <div class="form-group">
                        <label for="MiddleName">Loyalty</label>
                        <select class="form-control" v-model="user_data.user_loyalty" required>
                          <option  :value="item.id" :key="index" v-for="(item,index) in loyalty_program">{{item.level_name}}</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="MiddleName">Status</label>
                        <select v-model="user_data.status" class="form-control" required>
                          <option value="1" >Active</option>
                          <option value="0">Inactive</option>
                        </select>
                     </div>
                  </div>
                </div>
		              <div class="row">
                 <div class="col-md-12">
                   <h4 >Account Information</h4>
                  </div>
                </div>
                <div class="row"> 
                 <div class="col-md-5">
                   <div class="form-group">
                     <label for="LastName">Email</label>
                     <input type="text" class="form-control" v-model="user_data.email"  required>
                   </div>
                 </div>
                 <div class="col-md-3">
                   <div class="form-group">
                     <label for="Password">Password</label>
                     <input class="form-control" data-val="true" type="password"  v-model="user_data.password"  required />
                   </div>
                 </div>
                 <div class="col-md-3">
                   <div class="form-group">
                     <label for="Role">Role</label>
                     <select v-model="user_data.role" class="form-control" required>
                       <option value="admin" >Admin</option>
                       <option value="user">User</option>
                     </select>
                   </div>
                 </div>
                </div> 	
		              <button class="btn btn-success" id="btnSubmit">Add User</button>
	            	</form>
	            </div>
	            <!-- /.box-body -->
	          </div>
	          <!-- /.box -->
	        </div>
    	</div>
    </section>
  </div>
</template>
<style type="text/css">
.ladda-button[data-style=expand-right][data-loading] {
    padding-right: 46px;
}
	.ladda-button {
		    padding: 7px 15px;
	}
</style>
<script type="text/javascript">

	export default{
	  data(){
	    return{
	    		user_data: {
	    			last_name: '',
        first_name: '',
        contact_number:'',
        email: '',
        status:'1',
        role: 'admin',
        user_loyalty: '1',
	    		},
       loyalty_program:[]
			}
	  },
	  mounted(){
    this.getLoyalty()
	  },
	  methods: {
	    submitForm () {
	    	confirm_alert('The user will be added','','info').then((response) => {
	    			var l = Ladda.create( document.querySelector( '#btnSubmit' ) );
			    	l.start();
			    	let user_data =  JSON.stringify(this.user_data);
			    	let url = base_url+'users_api/add';
				  	axios.post(url, {
			        token: getCookie('csrf_cookie'),
			        user_data: user_data
			      })
			      .then((response) => {
			        if(response.data.message=="success") {
			            l.stop();
			            $("#btnSubmit").removeClass('ladda-button');
			            swal("Added Successfully","","success");
			            setTimeout(()=>{
			            	window.location.href = base_url +"secure_admin#/view_users"
			            },2000)
			        }
			        else {
			        	console.log(response.data.message);
			        }
			      })
			      .catch(function (error) {
			        console.log(error);
			      });
	    	});
	    	
	    },
     getLoyalty(){
      const url = `${base_url}loyalty_program_api/get_all_loyalty_program`;
       axios.get(url)
       .then((response) => {
         this.loyalty_program = response.data.loyalty_program;
       })
       .catch(function (error) {
         console.log(error);
       });
     }
	  }
	}
</script>