<template>
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Manage Users
        <small>Update user</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
     <div class="row">
      <div class="col-md-10 col-lg-6">
           <!-- Input addon -->
           <div class="box box-success">
             <!-- <div class="box-header with-border">
               <h3 class="box-title">Input Addon</h3>
             </div> -->
             <div class="box-body">
              <form action="#"  @submit.prevent="submitForm()" autocomplete="off">
              	<div class="row">
              		<div class="col-md-12">
	                  <h4 >Personal Information</h4>
	                </div>
              	</div>
                <div class="row">
                	<div class="col-md-6">
	                   <div class="form-group">
	                      <label for="FirstName">First Name</label>
	                      <input class="form-control" id="first_name" name="first_name"  v-model="user_data.first_name"type="text"   required />
	                   </div>
	                </div>
	                <div class="col-md-6">
		               	<div class="form-group">
		                  <label for="LastName">Last Name</label>
		                  <input class="form-control" data-val="true" id="last_name" name="last_name" v-model="user_data.last_name" type="text"   required />
		                </div>
		               </div>
                </div>
                <div class="row"> 
                 <div class="col-md-4">
                     <div class="form-group">
                        <label for="MiddleName">Loyalty</label>
                        <select class="form-control" v-model="user_data.user_loyalty">
                          <option  :value="item.id" :key="index" v-for="(item,index) in loyalty_program">{{item.level_name}}</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group">
                        <label for="MiddleName">Credits <small><a href="javascript:void(0);" @click="viewpurrcoins(email)">view history</a></small></label>
                        <input class="form-control" id="credits" name="credits"  v-model="credits" type="text"    />
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group">
                        <label for="MiddleName">Status</label>
                        <select v-model="user_data.status" class="form-control" required>
                          <option value="1" >Active</option>
                          <option value="0">Inactive</option>
                        </select>
                     </div>
                  </div>
                </div>
                <div class="row">
                	<div class="col-md-4">
                    <div class="form-group">
                       <label for="FirstName">Lifetime Spent</label>
                       <input class="form-control" id="first_name"  v-model="total_price_spent"type="text" readonly="" />
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="form-group">
                       <label for="FirstName">Date Created</label>
                       <input class="form-control" id="first_name"  v-model="user_data.created_at"type="text" readonly="" />
                    </div>
                 </div>
                 <div class="col-md-4">
                  <div class="form-group">
                    <label for="LastName">Date Updated</label>
                    <input class="form-control" data-val="true" id="last_name"  v-model="user_data.updated_at" type="text"   readonly="" />
                  </div>
                 </div>
                </div>
                <div class="row">
                	<div class="col-md-12">
                  	<h4 >Account Information</h4>
                 	</div>
                </div>
                <div class="row"> 
                 <div class="col-md-5">
	                  <div class="form-group">
	                    <label for="LastName">Email</label>
	                    <input type="text" class="form-control" v-model="user_data.email" readonly="" required>
	                  </div>
	                </div>
	                <div class="col-md-3">
	                  <div class="form-group">
	                    <label for="Password">Password</label>
	                    <input class="form-control" data-val="true" id="last_name" type="text"  v-model="user_data.password"   />
	                  </div>
	                </div>
	                <div class="col-md-3">
	                  <div class="form-group">
	                    <label for="Role">Role</label>
	                    <select v-model="user_data.role" class="form-control" required>
	                      <option value="admin" >Admin</option>
	                      <option value="user">User</option>
	                    </select>
	                  </div>
	                </div>
                </div> 
                <button class="btn btn-success" id="btnSubmit">Update User</button>
              </form>
             </div>
             <!-- /.box-body -->
           </div>
           <!-- /.box -->
         </div>
     </div>
    </section>
  </div>
</template>
<style type="text/css">
.ladda-button[data-style=expand-right][data-loading] {
    padding-right: 46px;
}
 .ladda-button {
      padding: 7px 15px;
 }
</style>
<script type="text/javascript">

 export default{
   data(){
     return{
       user_data: {
        last_name: '',
        first_name: '',
        contact_number:'',
        email: '',
        role: '',
        status:'',
        user_loyalty: '',
        created_at:'',
        updated_at:''
       },
       email: '',
       total_price_spent: '',
       current_loyalty:'',
       current_credits:'',
       credits:'',
       loyalty_program:[]
    }
   },
   mounted(){
    this.email = this.$route.params.id.replace(/\$st/g,"/");
    this.getLoyalty();
    this.setContent()
   },
   methods: {
     submitForm () {
      confirm_alert('The user will be updated','','info').then((response) => {
        var l = Ladda.create( document.querySelector( '#btnSubmit' ) );
        l.start();
        let user_data =  JSON.stringify(this.user_data);
        let url = base_url+'users_api/edit';
        axios.post(url, {
           token: getCookie('csrf_cookie'),
           user_data: user_data,
           email: this.email,
           current_loyalty: this.current_loyalty,
           current_credits: this.current_credits,
           credits: this.credits
         })
         .then((response) => {
           if(response.data.message=="success") {
               l.stop();
               $("#btnSubmit").removeClass('ladda-button');
               swal("Updated Successfully","","success");
               setTimeout(()=>{
                window.location.href = base_url +"secure_admin#/view_users"
               },2000)
           }
           else {
            console.log(response.data.message);
           }
         })
         .catch(function (error) {
           console.log(error);
         });
      });
      
     },
     getLoyalty(){
      const url = `${base_url}loyalty_program_api/get_all_loyalty_program`;
       axios.get(url)
       .then((response) => {
         this.loyalty_program = response.data.loyalty_program;
       })
       .catch(function (error) {
         console.log(error);
       });
     },
     viewpurrcoins(email) {
	  		this.$router.push(`/view_purrcoins/${escape(email).replace(/\//g,"$st")}`);
	  	},
     setContent(){
      const url = `${base_url}users_api/get_user/?q=${escape(this.email)}`;
       axios.get(url)
       .then((response) => {
         var contents = response.data.user;
         console.table(contents)
         contents.map((item, index) => {
          this.user_data.last_name = item.last_name
          this.user_data.first_name = item.first_name
          this.user_data.email = item.email 
          this.user_data.role = item.role
          this.user_data.status = item.status
          this.user_data.user_loyalty = item.user_loyalty
          this.current_loyalty = item.user_loyalty
          this.current_credits = item.credits
          this.credits = item.credits
          this.total_price_spent = item.total_price_spent
          this.user_data.created_at = item.created_at
          this.user_data.updated_at = item.updated_at 
         })
         close_loading();       
       })
       .catch(function (error) {
         console.log(error);
       });
     }
   }
 }
</script>