<template>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       	Manage Users
        <small>View List</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<div class="col-md-12">
    			<!-- Form Element sizes -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">List of Users</h3>
            </div>
            <div class="box-body">
            	<table id="tbl_users" class="table table-bordered table-striped table-responsive">
                <thead>
                <tr>
                	<th>Row</th>
                  <th>Email</th>
                  <th>Loyalty</th>
                  <th>Lifetime Spent</th>
                  <th>Purrcoins</th>
                  <th>Role</th>
                  <th>Status</th>
                  <th>Date created</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(val, index) in rows" :key="index" :class="`row${index}`">
                  <td>{{++index}}</td>
                  <td>{{val.email}}</td>
                  <td>{{val.level_name}}</td>
                  <td>{{main_currency_sign}} {{val.total_price ? val.total_price : 0 }}</td>
                  <td><a href="javascript:void(0)" @click="viewpurrcoins(val.email)">{{val.credits ? val.credits : 0 }}</a></td>
                  <td >{{val.role}}</td>
                  <td v-if="val.status==1"><span class="label label-success">Active</span></td>
                  <td v-else><span class="label label-danger">Inactive</span></td>
                  <td >{{val.created_at}}</td>
                  <td>
                  	<div class="dropdown">
										  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Show Actions
										  <span class="caret"></span></button>
										  <ul class="dropdown-menu">
										    <li><a href="javascript:void(0)" @click="edit(val.email)">Edit</a></li>
										    <li><a href="javascript:void(0)" @click="changeStatus(val.email,val.status)">Change Status</a></li>
										    <li><a href="javascript:void(0)" @click="deleteUser(val.email)">Delete User</a></li>
										  </ul>
										</div>
                   	
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
    		</div>
    	</div>
    </section>
  </div>
</template>
<script type="text/javascript">
	export default{
	  data(){
	    return{
        rows: [],
        main_currency_sign:'NT'
			}
	  },
	  mounted () {
      loading()
	  	this.setTable();
      setTimeout(()=>{
        close_loading()
      },1000)
	  },
	  methods: {
	  	setTable() {
        const url = `${base_url}/users_api/get_users`;
        axios.get(url)
			  .then((response) => {
           this.rows = response.data.users;
          setTimeout(() => {
          	 $('#tbl_users').DataTable({
          	 	"lengthMenu": [25,50, 100],
          	 	"columnDefs": [ {
			          "targets": [6,8],
			          "orderable": false,
			    		},
			    		{'sType': 'currency', 'aTargets': [2] }
			    		]
          	 })
          })
        })
			  .catch(function (error) {
			    console.log(error);
			  });
	  	},
	  	edit(email) {
	  		this.$router.push(`/edit_user/${escape(email).replace(/\//g,"$st")}`);
	  	},
	  	viewpurrcoins(email) {
	  		this.$router.push(`/view_purrcoins/${escape(email).replace(/\//g,"$st")}`);
	  	},
	  	deleteUser(email) {
	  		confirm_alert('Are you sure?','You won\'t be able to revert this! ','warning').then((response) => {
 		  		const url = `${base_url}users_api/delete`;
 	        axios.post(url,{
 	        	 token: getCookie('csrf_cookie'),
 				     email: email
 	        })
   				  .then((response) => {
    						location.reload();
    	    })
   				  .catch(function (error) {
   				    console.log(error);
   				  });
 				});
	  	},
	    changeStatus(email,status){
	      confirm_alert('Are you sure?','You won\'t be able to revert this! ','warning').then((response) => {
	       const url = `${base_url}users_api/changeStatus`;
	       axios.post(url,{
	          token: getCookie('csrf_cookie'),
	          email: email,
	          status:status
	        })
	       .then((response) => {
	        location.reload();
	       })
	       .catch(function (error) {
	         console.log(error);
	       });
	      });
		   }
   }
	}
</script>