<template>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       	Manage Loyalty Program
        <small>View List</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<div class="col-md-12">
    			<!-- Form Element sizes -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">List of Loyalty Program</h3>
            </div>
            <div class="box-body">
            	<table id="tbl_loyalty_program" class="table table-bordered table-striped table-responsive">
                <thead>
                <tr>
                	<th>Row</th>
                	<th>Level Number</th>
                  <th>Level Name</th>
                  <th>Level Name (Chinese)</th>
                  <th>Lifetime spend</th>
                  <th>Single Cards Rebate</th>
                  <th>Other Products Rebate</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(val, index) in rows" :key="index" :class="`row${index}`">
                  <td>{{++index}}</td>
                  <td>{{val.level_number}}</td>
                  <td>{{val.level_name}}</td>
                  <td>{{val.level_name_tw}}</td>
                  <td>{{val.lifetime_spend}}</td>
                  <td >{{val.single_cards_rebate}}</td>
                  <td >{{val.other_products_rebate}}</td>
                  <td>
                  	<div class="dropdown">
										  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Show Actions
										  <span class="caret"></span></button>
										  <ul class="dropdown-menu">
										    <li><a href="javascript:void(0)" @click="edit(val.id)">Edit</a></li>
										  </ul>
										</div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
    		</div>
    	</div>
    </section>
  </div>
</template>
<script type="text/javascript">
	export default{
	  data(){
	    return{
        rows: [],
			}
	  },
	  mounted () {
      loading()
	  	this.setTable();
      setTimeout(()=>{
        close_loading()
      },1000)
	  },
	  methods: {
	  	setTable() {
        const url = `${base_url}/loyalty_program_api/get_all_loyalty_program`;
        axios.get(url)
			  .then((response) => {
           this.rows = response.data.loyalty_program;
          setTimeout(() => {
          	 $('#tbl_loyalty_program').DataTable()
          })
        })
			  .catch(function (error) {
			    console.log(error);
			  });
	  	},
	  	edit(id) {
	  		this.$router.push(`/edit_loyalty/${escape(id).replace(/\//g,"$st")}`);
	  	}
   }
	}
</script>