<template>
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Manage Banner
        <small>Update Banner</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
     <div class="row">
      <div class="col-md-6 col-lg-5">
           <!-- Input addon -->
           <div class="box box-success">
             <!-- <div class="box-header with-border">
               <h3 class="box-title">Input Addon</h3>
             </div> -->
             <div class="box-body">
              <form action="#"  @submit.prevent="submitForm()" autocomplete="off">
              	<div class="row">
              		<div class="col-md-12">
	                  <h4 >Banner</h4>
	                </div>
              	</div>
                <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="LastName">Image (prefer size: 2500x600)</label>
                        <input class="form-control"  id="last_name" name="last_name" ref="file" v-on:change="handleFileUpload()" type="file"   accept="image/*" />
                     </div>
                  </div>
                </div>
               

                <button class="btn btn-success" id="btnSubmit">Add Banner</button>
              </form>
               <div class="row" v-if="image_list.length > 0">
                  <div class="col-md-12">
                    <h4>Banner List</h4>
                  </div>
                </div>
                <div class="row" v-for="(item, index) in image_list" style="margin-bottom:10px;">
                  <div class="col-md-10">
                    <span class="input-group-btn" >
                         <button class="btn btn-danger" type="button" @click="deleteBanner(item.id,item.file_name,index)"><i class="fa fa-minus"></i></button>
                         <button class="btn btn-primary" type="button" @click="moveUp(index)" v-if="index!=0"><i class="fa fa-arrow-up"></i></button>
                         <button class="btn btn-primary" type="button" @click="moveDown(index)" v-if="index!=image_list.length-1"><i class="fa fa-arrow-down"></i></button>
                       </span>
                    <img :src="item.image" class="img-responsive" >
                  </div>
                </div>
             </div>
             <!-- /.box-body -->
           </div>
           <!-- /.box -->
         </div>
     </div>
    </section>
  </div>
</template>
<style type="text/css">
.ladda-button[data-style=expand-right][data-loading] {
    padding-right: 46px;
}
 .ladda-button {
      padding: 7px 15px;
 }
</style>
<script type="text/javascript">

 export default{
   data(){
     return{
        file: '',
        image:'',
        image_list: []
    }
   },
   created(){

   },
   mounted(){
    this.getBanners()
   },
   methods: {
    getBanners(){
      const url = `${base_url}widgets_api/get_banners`;
       axios.get(url)
       .then((response) => {
         this.image_list = response.data.banners;
         close_loading();       
       })
       .catch(function (error) {
         console.log(error);
       });
    },
    handleFileUpload(){
      this.image = this.$refs.file.files[0];
    },
    deleteBanner(id,file_name,index) {
      confirm_alert('Banner will be deleted','','info').then((response) => {
        this.image_list.splice(index, 1);
        let url = base_url+'widgets_api/deleteBanner';
        axios.post(url, {
           token: getCookie('csrf_cookie'),
           id: id,
           file_name: file_name
         })
         .then((response) => {
           if(response.data.message=="success") {
               l.stop();
               $("#btnSubmit").removeClass('ladda-button');
               swal("Deleted Successfully","","success");
               this.image_list.splice(index, 1);
           }
           else {
            console.log(response.data.message);
           }
         })
         .catch(function (error) {
           console.log(error);
         });
      });
      
    },
     submitForm () {
      confirm_alert('Banner will be added','','info').then((response) => {
        var l = Ladda.create( document.querySelector( '#btnSubmit' ) );
        l.start();
        let url = base_url+'widgets_api/add';
        this.file = this.$refs.file.files[0];
         let formData = new FormData();
         formData.append('file', this.file);
         formData.append('token', getCookie('csrf_cookie'));
        axios.post(url, formData,
         {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
         })
       .then(function (response) {
          if(response.data.message=="success") {
               l.stop();
               $("#btnSubmit").removeClass('ladda-button');
               swal("Added Successfully","","success");
               setTimeout(()=>{
                location.reload()
               },2000)
           }
           else {
            swal("Please upload .jpg or .png extension only","","danger");
           }
       })
       .catch(function (error) {
           swal("Please upload .jpg or .png extension only","","danger");
       });
      });
      
     },
     moveDown(index) {
      let tmp_order = [this.image_list[index], this.image_list[index + 1]];
      this.image_list.splice(index, 2, tmp_order[1], tmp_order[0] );
      [this.image_list[index].order, this.image_list[index+1].order] = [this.image_list[index+1].order, this.image_list[index].order]
      this.updateBanner()
     },
     moveUp(index) {
      let tmp_order = [this.image_list[index], this.image_list[index - 1]];
      this.image_list.splice(index-1, 2, tmp_order[0], tmp_order[1]);
      var tmp_index = index - 1;
      [this.image_list[tmp_index].order, this.image_list[tmp_index+1].order] = [this.image_list[tmp_index+1].order, this.image_list[tmp_index].order]
      this.updateBanner()
     },
     updateBanner() {
      loading()
      const url = `${base_url}widgets_api/updateBanner`;
       axios.post(url,{
           token: getCookie('csrf_cookie'),
           image_list: this.image_list,
         })
       .then((response) => {
         close_loading();       
       })
       .catch(function (error) {
         console.log(error);
       });
     }
   }
 }
</script>