<template>
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Manage Newest Expansion
        <small>Update Newest Expansion</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
     <div class="row">
      <div class="col-md-6 col-lg-5">
           <!-- Input addon -->
           <div class="box box-success">
             <!-- <div class="box-header with-border">
               <h3 class="box-title">Input Addon</h3>
             </div> -->
             <div class="box-body">
              <form action="#"  @submit.prevent="submitForm()" autocomplete="off">
               <div class="row">
                <div class="col-md-12">
                   <h4 >Newest Expansion</h4>
                 </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="LastName">Set Name</label>
                        <input class="form-control"  id="last_name" name="last_name" type="text"   v-model="set_name" required="" />
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="LastName">Set Code</label>
                        <input class="form-control"  id="last_name" name="last_name" type="text"  v-model="set_code" required=""/>
                     </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="LastName">Image (prefer size: 270px x 140px)</label>
                        <input class="form-control"  id="last_name" name="last_name" ref="file" v-on:change="handleFileUpload()" type="file"   accept="image/*" :required="updateButton==false"/>
                     </div>
                  </div>
                </div>
                <button class="btn btn-success" id="btnSubmit" v-if="updateButton==false">Add Newest Expansion</button>
                <div v-if="updateButton==true">
                 <button class="btn btn-success" id="btnSubmit">Update Newest Expansion</button>
                 <button type="button" class="btn btn-default" id="btnSubmit" @click="backAdd()">Back to Add Newest Expansion</button>
                </div>
              </form>
               <div class="row" v-if="image_list.length > 0">
                  <div class="col-md-12">
                    <h4>Newest Expansion List</h4>
                  </div>
                </div>
                <div class="row" v-for="(item, index) in image_list" style="margin-bottom:10px;">
                  <div class="col-md-10">
                    <button class="btn btn-danger pull-right" @click="deleteNewestExpansion(item.id,item.file_name,index)" >Remove</button>
                    <button class="btn btn-default pull-right" @click="updateNewestExpansion(item.id,item.file_name,index)" style="margin-right:10px;">Update</button>
                    <br><br>
                    <img :src="item.image" class="img-responsive" >
                  </div>
                </div>
             </div>
             <!-- /.box-body -->
           </div>
           <!-- /.box -->
         </div>
     </div>
    </section>
  </div>
</template>
<style type="text/css">
.ladda-button[data-style=expand-right][data-loading] {
    padding-right: 46px;
}
 .ladda-button {
      padding: 7px 15px;
 }
</style>
<script type="text/javascript">

 export default{
   data(){
     return{
        file: '',
        image:'',
        set_name: '',
        set_code: '',
        tmp_file_name: '',
        updateButton:false,
        image_list: [],
        updateId: ''
    }
   },
   created(){

   },
   mounted(){
    this.getNewestExpansion()
   },
   methods: {
    backAdd() {
     this.set_name =  '';
     this.set_code =  '';
     this.updateButton = false;
    },
    getNewestExpansion(){
      const url = `${base_url}widgets_api/getNewestExpansion`;
       axios.get(url)
       .then((response) => {
        this.image_list = response.data.newest_expansion;
         close_loading();       
       })
       .catch(function (error) {
         console.log(error);
       });
    },
    handleFileUpload(){
      this.image = this.$refs.file.files[0];
    },
    updateNewestExpansion(id,file_name,index) {
     this.set_name =  this.image_list[index].set;
     this.set_code =  this.image_list[index].set_code;
      this.updateButton = true;
      this.tmp_file_name = file_name
      this.updateId = id;
    },
    deleteNewestExpansion(id,file_name,index) {
      confirm_alert('Expansion will be deleted','','info').then((response) => {
        this.image_list.splice(index, 1);
        let url = base_url+'widgets_api/deleteNewestExpansion';
        axios.post(url, {
           token: getCookie('csrf_cookie'),
           id: id,
           file_name: file_name
         })
         .then((response) => {
           if(response.data.message=="success") {
               l.stop();
               $("#btnSubmit").removeClass('ladda-button');
               swal("Deleted Successfully","","success");
               this.image_list.splice(index, 1);
           }
           else {
            console.log(response.data.message);
           }
         })
         .catch(function (error) {
           console.log(error);
         });
      });
      
    },
     submitForm () {
      if(this.updateButton == false) {
       confirm_alert('Expansion will be added','','info').then((response) => {
         var l = Ladda.create( document.querySelector( '#btnSubmit' ) );
         l.start();
         let url = base_url+'widgets_api/add_newest_expansion';
         this.file = this.$refs.file.files[0];
          let formData = new FormData();
          formData.append('set_name', this.set_name);
          formData.append('set_code', this.set_code);
          formData.append('file', this.file);
          formData.append('token', getCookie('csrf_cookie'));
         axios.post(url, formData,
          {
             headers: {
               'Content-Type': 'multipart/form-data'
             }
          })
        .then(function (response) {
           if(response.data.message=="success") {
                l.stop();
                $("#btnSubmit").removeClass('ladda-button');
                swal("Added Successfully","","success");
                setTimeout(()=>{
                 location.reload()
                },2000)
            }
            else {
             swal("Please upload .jpg or .png extension only","","error");
            }
        })
        .catch(function (error) {
            swal("Please upload .jpg or .png extension only","","error");
        });
       });
      
      } else {
       confirm_alert('Expansion will be updated','','info').then((response) => {
         var l = Ladda.create( document.querySelector( '#btnSubmit' ) );
         l.start();
         let url = base_url+'widgets_api/update_newest_expansion';
         this.file = this.$refs.file.files[0];
          let formData = new FormData();
          formData.append('set_name', this.set_name);
          formData.append('set_code', this.set_code);
          formData.append('id', this.updateId);
          formData.append('tmp_file_name', this.tmp_file_name);
          formData.append('file', this.file);
          formData.append('token', getCookie('csrf_cookie'));
         axios.post(url, formData,
          {
             headers: {
               'Content-Type': 'multipart/form-data'
             }
          })
        .then(function (response) {
           if(response.data.message=="success") {
                l.stop();
                $("#btnSubmit").removeClass('ladda-button');
                swal("Updated Successfully","","success");
                setTimeout(()=>{
                 location.reload()
                },2000)
            }
            else {
             swal("Please upload .jpg or .png extension only","","error");
            }
        })
        .catch(function (error) {
            swal("Please upload .jpg or .png extension only","","error");
        });
       });
      }
     }
   }
 }
</script>