.card_list {
	font-family: "Lato";
	font-size: 13px;
}

.card_table_list {
	width: 100% !important;
}

#card-list-container,
#card-gallery-container {
	padding-top: 10px;
}

#card-list-container .card-image .after {
	cursor: pointer;
}

#card-gallery-container .gallery_view_container {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	height: 100%;
}

#card-gallery-container .tab-pane-border {
	border: none !important;
}

#card-gallery-container .condition_list,
#card-gallery-container .card_condition {
	margin-bottom: 40px;
}

@media(max-width: 767px) {
	#card-gallery-container .btn {
		width: 83% !important;
	}
}

@media(max-width: 640px) {
	#card-gallery-container .btn {
		width: 70% !important;
		margin-left: 5.5% !important;
		text-align: center;
	}
}

@media(max-width: 550px) {
	#card-gallery-container .card-image .card-watchlist-container {
		top: 80%;
	}
}

@media(max-width: 455px) {
	.card-image {
		min-height: 180px;
	}
}

.card-text-price {
	width: 100%;
	text-align: center;
	min-height: 20px;
	font-size: 14px;
	font-weight: bold;
}

#card-gallery-container .card-name {
	overflow-wrap: break-word;
	margin-bottom: 105px;
}

.card-detail-container {
    position: absolute;
    width: 95%;
    left: 4px;
    bottom: 0;
}

#card-gallery-container .accessories-container .card-detail-container {
	padding-bottom: 40px;
}

#card-gallery-container .card-name,
#card-gallery-container .card-info {
	width: 100%;
	text-align: center;
	min-height: 20px;
}

.mobile-filter-section {
	margin-top: 10px;
	margin-bottom: 10px;
	text-transform: capitalize;
}

.mobile-filter-section .form-group {
	margin-bottom: 2px;
}

.mobile-filter-section .form-group a.active {
	color: black;
	text-decoration: underline;
}

.add_item_to_wishlist {
	overflow: hidden;
	text-overflow: ellipsis;
	z-index: 60;
}

#card-gallery-container .btn {
	position: absolute;
	bottom: 0;
	left: 4px;
	border-radius: 0px;
	font-size: 12px;
	padding: 6px 10px;
	margin: 0 auto;

	width: 95%;
	display: block;
}

.add_to_wishlist {
	background: #e29922;
	color: white;
}

#card-list-container .table {
	display: table !important;
}

#card-list-container .add_to_cart,
#card-list-container .add_item_to_wishlist {
	width: 100px;
}

#card-list-container .add_item_to_wishlist {
	font-size: 12px;
	border: 1px solid #ffd700 !important;
	background: #e29922;
	height: 32px;
	margin-top: 2px;
	margin-bottom: 10px;
}

#card-gallery-container .add_item_to_wishlist.btn-success {
	border: 1px solid transparent !important;
	background: #efefef !important;
	color: #333;
}

@media (max-width: 1199px) {
	#card-gallery-container .btn {
		left: 15px;
		width: 75%;
	}
}

@media (min-width: 992px) {
	.mobile-filter-section {
		display: none;
	}
}

@media (max-width: 991px) {
	#card-gallery-container .btn {
		width: 84%;
	}

	.mobile-filter-section {
		display: block;
	}

	.filter-section {
		display: none;
	}
}

#card-gallery-container .card-image {
	min-height: 128px;
}

#card-gallery-container .card-image.accessories-image {
	min-height: 265px;
	line-height: 265px;
}


#card-gallery-container .card-image.accessories-image .preview_button {
	line-height: normal;
}

/*
@media(max-width: )
.table-card-list .card-image {
	max-height: 90px;
	overflow: hidden;
}*/
#card-list-container .card_label {
	height: auto;
}

#card-list-container .card_tag_language {
    height: 12px;
    width: 18px;
    left: 3px;
    top: 10px;
}

.table-card-list .card-image img {
	height: 80px;
}

.btn-primary {
	background: #7771e0 !important;
	background-color: #7771e0;
	border-color: #7771e0;
}

.btn-success {
	background: #ffd700 !important;
}


#card-gallery-container .card-name,
#card-gallery-container .card-info {
	font-family: "Roboto";
}

.table-card-list .card-name a {
	cursor: pointer;
	font-family: "Roboto";
	font-weight: bold;
	text-decoration: underline;
}

.table-card-list .add_to_cart {
	margin-top: -5px !important;
}

.table-card-list .add-cart-wrapper.active .cart-quantity-overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9;
}

.table-card-list .add-cart-wrapper.active .cart-quantity-content {
	display: block;
	z-index: 2;
}

.table-card-list .cart-quantity-content {
	position: absolute;
	display: none;
	margin-left: -155px;
	margin-top: -80px;
	background: white;
	padding: 2px;
	max-height: 195px;
	width: 150px;
	border: 1px solid black;
	overflow: auto;
}

.table-card-list .label-quantity {
	margin-left: 10px;
}

#card-gallery-container .out-of-stock-container {
	position: absolute;
	bottom: 10px;
	text-align: center;
	width: 95%;
}

.table-card-list .out-of-stock,
#card-gallery-container .out-of-stock {
	font-weight: bold;
	color: #bf4473;
}

.table-card-list .cart-quantity-content button {
	width: 32%;
	margin-left: 1.5px;
	margin-top: 1.5px;
	height: 45px;
}

.checkbox-group {
	padding: 10px;
	border: 1px solid #e9e9e9;
}

.filter-header {
	width: 100%;
	background: #340E5B;
	color: white;
	padding: 10px 15px;
	margin-bottom: -5px;
}

.tab-pane-border {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#card-gallery-container .accessories-container {
	margin-bottom: 15px;
}

#card-gallery-container .accessories-container .card-price {
	min-height: 140px;
}

@media only screen and (max-width: 991px) {
	.filter-header {
		display: none;
	}

	#card-gallery-container .card-image {
		min-height: 220px;
	}

	.filter-section .checkbox-container {
		display: inline-block;
		/*width: 20%;*/
		width: auto;
	}

	.top_header .container,
	.main_header .container {
		width: auto;
	}

}

@media only screen and (max-width: 767px) {
	#card-gallery-container .col {
		width: 30%;
		margin-left: 1%;
		margin-right: 1%;
		float: left;
	}

	#card-gallery-container .card-image {
		min-height: 150px;
	}

	#card-gallery-container {
		padding: 10px 0px;
	}
}

@media only screen and (max-width: 670px) {
	.filter-section .checkbox-container {
		width: auto;
	}

	#card-gallery-container .card-image {
		min-height: 150px;
	}

	#card-gallery-container .col {
		width: 40%;
		margin-left: 4%;
		margin-right: 4%;
		float: left;
	}

	.card_list {
		font-size: 12px;
	}

	.table-card-list thead th:first-child,
	.table-card-list tbody tr td:first-child {
		display: none;
	}
}

.sub_currency {
	font-size: 12px;
	font-weight: normal !important;
}

@media only screen and (max-width: 580px) {
	#card-gallery-container .btn {
		margin-left: 5% !important;
	}
}

@media only screen and (max-width: 540px) {
	#card-gallery-container .card-image {
		min-height: 100px;
	}

	#card-gallery-container .btn {
		margin-left: 5.5% !important;
	}
}

@media only screen and (max-width: 500px) {
	.filter-section .checkbox-container {
		width: auto;
	}

	.table-card-list thead tr th:not(:nth-child(2)) {
		color: transparent;
	}

	#card-gallery-container .card-image .card-watchlist-container {
		bottom: 0;
		left: 0;
	}

	#card-gallery-container .card-watchlist-container .add_item_to_wishlist {
		margin-left: 0 !important;
		width: 100% !important;
		left: 0;
		border: 1px solid #ffd700 !important;
		background: #FCF6EA !important;
		margin-top: 2px;
		color: #000 !important;
		font-size: 12px;
	}
}


@media only screen and (max-width: 470px) {


	.table-card-list .add_to_cart {
		padding: 5px 8px;
		font-size: 12px;
	}

	.table-card-list thead tr th,
	.table-card-list tbody tr td {
		padding-right: 0px;
	}

	.table-card-list thead tr th:not(:nth-child(2)),
	.table-card-list tbody tr td:not(:nth-child(2)) {
		padding-left: 0px;
	}

	.table-card-list thead th:last-child,
	.table-card-list tbody tr td:last-child {
		padding-right: 5px;
	}

	#card-gallery-container .add_to_cart {
		margin-left: 3% !important;
		width: 94% !important;
		left: 0;
	}
}

@media (max-width: 767px) {
	#card-gallery-container .col-xs-3 {
		width: 33.33% !important;
	}
}

.img-list {
	text-align: center;
}

.img-list li {
	width: 250px;
	display: inline-block;
	list-style-type: none;
}

.img-list li img {
	width: 100%;
}

.mask {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.mask .img-box {
	width: 30%;
	max-width: 400px;
	padding: 10px;
	background: #fff;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media(max-width: 767px) {
	.mask .img-box {
		width: 75%;
	}
}
.mask .img-box img.card_label {
	width: 80%;
}
.mask .img-box img.card_tag_language {
    width: 23%;
    height: auto;
    top: 13%;
    left: 30px;
}

.mask .img-box img {
	width: 100%;
}

.mask .img-box .close {
	color: #000;
	background: rgba(255, 255, 255, 0.8);
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	position: absolute;
	top: -35px;
	right: -35px;
	font-size: 24px;
	font-weight: bold;
	border-radius: 50%;
	cursor: pointer;
}

.mask .img-box .close:hover {
	background: white;
}

.is-visible {
	z-index: 999;
	display: block !important;
}

.mask.is-visible {
	z-index: 10000;
}

.fadein {
	animation: fadein 400ms ease-in-out;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.fadeout {
	animation: fadeout 400ms ease-in-out;
}

@keyframes fadeout {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.img-box .close {
	opacity: 1 !important;
}

#card-gallery-container .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0);
	transition: background 0.5s ease;
}

#card-gallery-container .card-image:hover .overlay {
	display: block;
	background: rgba(0, 0, 0, .3);
}

#card-gallery-container .card-image:hover .middle {
	opacity: 1 !important;
	z-index: 9999;
}

#card-gallery-container .card-image .card-watchlist-container {
	display: none;
}

#card-gallery-container .card-image:hover .card-watchlist-container {
	display: block;
}

#card-gallery-container .card-image .card-watchlist-container .add_item_to_wishlist:not(.active) {
	display: none;
}

.image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

.mask .img-box .language_tag {
	font-size: 18px;
	top: 13%;
	left: 10%;
}

.mask .img-box .card_tag {
	font-size: 18px;
	top: 14%;
	right: 11%;
	max-width: 80px;
}

.mask .img-box .planeswalker_tag {
	width: auto;
	right: 13%;
	bottom: 46%;
	height: 11% !important;
}

.mask .img-box .datestamp_tag {
	right: 14%;
	bottom: 46%;
	font-size: 25px !important;
}

#card-gallery-container .middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

#card-gallery-container .card-image:hover .lazy,
#card-gallery-container .card-image:hover .card_tag_language {
	opacity: 0.3;
}

#card-gallery-container .card-image:hover .img_tag {
	opacity: 0.3;
}

#card-gallery-container .card-image:hover .planeswalker_tag {
	opacity: 0.3;
}

#card-gallery-container .card-image a .lazy {
	min-height: 150px;
	max-height: 100%;
}

#card-gallery-container .card-image a:hover .middle {
	opacity: 1;
}

.preview_button {
	background-color: #7771e0;
	color: white;
	font-size: 16px;
	padding: 12px 25px;
}

@media(max-width: 991px) {
	#card-gallery-container .planeswalker_tag {
		right: 18px;
	}

	#card-gallery-container .language_tag {
		top: 30px;
		left: 15px;
	}

	#card-gallery-container .card_tag {
		top: 30px;
		right: 15px;
	}

	#card-gallery-container .datestamp_tag {
		bottom: 43%;
		right: 18px;
	}

	#card-gallery-container .card-image .card-watchlist-container {
		position: absolute;
		width: 100%;
		top: 75%;
	}
}

@media (max-width: 767px) {
	#card-gallery-container .language_tag {
		top: 12%;
		left: 9%;
	}

	#card-gallery-container .card_tag {
		top: 12%;
		right: 9%;
	}

	#card-gallery-container .datestamp_tag {
		right: 11%;
	}
}

@media(max-width: 767px) and (min-width: 650px) {
	#card-gallery-container .planeswalker_tag {
		right: 22px;
		height: 30px !important;
	}
}

@media(max-width: 900px) and (min-width: 768px) {
	.mask .img-box .datestamp_tag {
		font-size: 8px;
		right: 15%;
	}
}

@media(max-width: 997px) {
	#card-gallery-container .middle {
		transition: .5s ease;
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		text-align: center;
	}
}

@media (max-width: 650px) and (min-width: 500px) {
	#card-gallery-container .planeswalker_tag {
		right: 20px;
		height: 27px !important;
	}
}

@media (max-width: 360px) {
	#card-gallery-container .planeswalker_tag {
		right: 12px;
	}
}

#card-gallery-container .row-eq-height .col-xs-3 {
	padding-right: 3px;
	padding-left: 3px;
	margin-bottom: 15px;
}
