.card-view-image {
	width: 100%;
}

.is-divider {
    height: 3px;
    display: block;
    background-color: rgba(0,0,0,0.1);
    margin: 1em 0 1em;
    width: 100%;
    max-width: 30px;
}

.card-price-amount {
	font-size: 1.5em;
	font-weight: bolder;
}

.card-price-symbol {
  margin-top: 3px;
  font-weight: bolder;
  position: absolute;
}

.buttons_added {
	margin-top: 25px;
	margin-bottom: 25px;
}

.input-text-quantity {
	width: 50px;
}

.card-information p {
	margin: 0;
}

.card-information .card-title {
	margin-bottom: 0px;
}

.card-information .condition_list {
	margin-top: 5px;
}

.card-information .btn-default,
.related-card-section .btn-default {
	color: #333!important;
  background-color: #fff!important;
  border-color: #ccc!important;
}

.btn-primary {
	background: #0076F7;
}

.add-to-cart-quantity {
	background: #0076F7;
	border: 1px solid #0076F7;
	margin: 0px !important;
}

.btn-default.add-to-cart-quantity {
	color: #333 !important;
    background-color: #fff;
    border-color: #ccc;
}

.card-meta>span {
    display: block;
    border-top: 1px dotted #ddd;
    padding: 5px 0;
}

.card-footer {
	margin-top: 30px;
	border-top: 1px solid #ececec;
}

.slick-prev:before, .slick-next:before {
    color: black;
}

.card-item a {
	display: inline-block;
  padding: 6px 0;
  -ms-flex: 1;
  flex: 1;
}
.card-item a:hover {
	text-decoration: underline !important;
}
.card-item span {
	margin-top: 10px;
}

.product-sidebar {
	border-right: 1px solid #ececec;
}

#card-tree-view .list-group-item {
	border: none;
	color: #05a9e2;
}

.related-card-section .image-container img {
	max-height: 150px;
	margin: auto;
}

#card-tree-view li+li {
	border-top: 1px solid #ececec !important;
}

.wishlist-button {
	color: #d6d6d6;
	cursor: pointer;
  margin-top: 10px;
  text-shadow: 0px 0px 2px black;
}

.wishlist-button:hover, .wishlist-button.active {
	color: #e31515;
	text-shadow: none;
}

.watchlist-button.active {
  background-color: #d9534f;
  border-color: #d43f3a;
  color: white !important;
}

.watchlist-button.active:hover {
  background-color: #d43f3a;
}

.watchlist-button {
	margin: 0px !important;
}

.display-card-image {
	margin-bottom: 5px;
}

.card_tag_language {
    width: 40px;
    height: 25px;
}

.display-card-image img:not(.card_tag_language):not(.card_label) {
	visibility: hidden;
	display: none;
	transition: visibility 0s, opacity 2s linear;
}

.display-card-image img.active:not(.card_tag_language):not(.card_label) {
	opacity: 1;
	display: block;
	visibility: visible;
}

.additional-card-image img {
	cursor: pointer;
}

.related-card-section .datestamp_tag {
	font-size: 10px;
}

.image-container.single-img .display-card-image .datestamp_tag {
    bottom: 45%;
}

.image-container.single-img .display-card-image .planeswalker_tag {
    bottom: 48%;
}

.display-card-image .datestamp_tag {
    bottom: 55%;
    right: 20px;
}

.display-card-image .planeswalker_tag {
	visibility: visible;
	display: block;
	bottom: 57%;
    right: 19px;
}

.related-card-section .language_tag {
    top: 18px;
    left: 10px;
    padding: 3px;
    font-size: 7px;
}

.related-card-section .card_tag {
    top: 18px;
    right: 10px;
    padding: 3px;
    font-size: 7px;
}

@media only screen and (min-width: 1200px) {
	.display-card-image .language_tag {
		top: 30px;
	    left: 15px;
	}
	.display-card-image .card_tag {
		top: 30px;
	    right: 15px;
	}
}

@media only screen and (min-width: 992px) {
	.card_view_container {
		float:right!important;
	}
}

@media only screen and (max-width: 992px) {
	.product-sidebar {
		width: 100%;
	}
}

.product-sidebar {
	float: left;
}

@media only screen and (max-width: 767px) {
	.card-image-container {
		text-align: center;
	}
	.additional-card-image {
		width: 80%; margin: auto;
	}
	.additional-card-image img {
		width: 100% !important;
	}
	.card-image-container .display-card-image img:not(.planeswalker_tag):not(.card_tag_language):not(.card_label) {
		width: 200px!important;
		height: auto;
		margin: auto;
	}

	.image-container.addtl-img .display-card-image .datestamp_tag {
		bottom: 64%;
		font-size: 12px;
	}
 
	.image-container.single-img .display-card-image .datestamp_tag {
		bottom: 45%;
		font-size: 12px;
	}

	.image-container.single-img .display-card-image .planeswalker_tag {
		height: 25px !important;
		bottom: 50%;
	}

	.image-container.addtl-img .display-card-image .planeswalker_tag {
		height: 25px !important;
		bottom: 66%;
	}

	.card_tag_language {
	    width: 30px;
	    height: 20px;
	}

	.display-card-image .card_tag_language{
		margin-left: -90px;
		left: auto !important;
	    width: 50px;
	    height: 30px;
	}
	.display-card-image .card_label{
		left: auto !important;
	    margin-left: -80px;
	    width: 160px;
	}

	.image-container .display-card-image .language_tag {
		top: 30px;
	}
	.image-container .display-card-image .card_tag {
		top: 30px;
	}
}