.cart_table tr td img:not(.card_tag_language):not(.card_label) {
	height: 100px;
}

.card_tag_language {
    width: 20px;
    height: 14px;
    top: 10%;
    left: 5%;
}

.cart_table tr td {
	vertical-align: middle !important;
}

.btn-primary {
  background: #0076F7;
}

.btn-primary:hover {
	background: #17579c;
}
.cart_page .cart-container th {
	font-weight: 600;
	text-transform: uppercase;
}

.cart_page .cart-container tr {
	border-bottom: 1px solid #ececec;
}

.cart_page hr {
	margin-top: 10px;
}
.cart_page .order_details .order_details_title {
	font-weight: 600;
	text-transform: uppercase;
}
.cart_page .tmp_btn_checkout {
	width: 100%;
	padding:20px 10px;
}

.cart_page #purrcoins{
	margin: 10px 0;
	/*display: none;*/
}

.cart_page .order_details_label {
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.cart_page .order_badge {
    height: 150px;
    display: block;
    margin:0 auto;
}

.cart_page .coupon_container .coupon_form {
}

.cart_page .purrcoins_badge {
	height: 18px;
	margin-top: -3px;
}

.cart_page .order_details_text {
	text-align: center
}

.marginbottom0 {
	margin-bottom: 0;
}

span.remove_item {
	cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #05a9e2;
}

.cd-basket {
	bottom: 35px;
}

.image-container { display: inline-block; margin-right: 0px; }