.checkout_type, .checkout_subtype {
	display: none;
}

#confirmationModal .confirmation_order {
	border-bottom: 1px solid black;
}

@media (max-width: 991px) {
	#confirmationModal .shipping_address {
		padding-top: 10px;
		border-top: 1px solid black;
	}
}

.checkout_page .privacy_policy_text {
	font-size: 12px;
	font-weight: 400;
	margin-top: 10px;
	color:#9a9a9a;
}

.confirmation_order label {
	font-weight: bold !important;
}