/* Icons */
@font-face {
	font-family: 'Beleren-Bold';
	src: url('./fonts/Beleren-Bold.eot');
	src: url('./fonts/Beleren-Bold.eot?#iefix') format('embedded-opentype'), url('./fonts/Beleren-Bold.woff') format('woff'), url('./fonts/Beleren-Bold.ttf') format('truetype'), url('./fonts/Beleren-Bold.svg#Beleren-Bold') format('svg');
}

@font-face {
	font-family: 'Generica Regular';
	font-style: normal;
	font-weight: normal;
	src: local('../fonts/generica/Generica Regular'), url('../fonts/generica/Generica.woff') format('woff');
}

@font-face {
	font-family: 'Generica Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Generica Bold'), url('Generica Bold.woff') format('woff');
}

@font-face {
	font-family: 'Generica Condosed';
	font-style: normal;
	font-weight: normal;
	src: local('Generica Condosed'), url('Generica Condosed.otf') format('otf');
}

body {
	font-family: 'Roboto';
}

.top_header {
	background: #340E5B;
	margin-bottom: 0px;
}

.clickable {
	cursor: pointer;
}

.top_header .navbar-brand,
.top_header ul li a {
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
}
.nav-tabs>li>a {
  font-family: "Roboto";
}
.top_header ul li a:hover,
.top_header .navbar-brand,
.top_header ul li a:focus,
.top_header .navbar-brand,
.top_header ul li a:active {
	color: #fff;
	background: none;
}

.none {
	display: none;
}

.footer-links {
	text-transform: capitalize;
}

.navbar {
	border-radius: 0px;
}

.main_header {
	margin-bottom: 0px;
	padding: 10px 0px;
	background: white;
}

.menu_sub_category a {
	color: #404040;
}

.main_header_cta {
	text-align: center;
}

.top_products .btn-primary {
	background: #05a9e2 !important;
}

.top_products .btn-default {
	color: #333 !important;
	background-color: #fff !important;
	border-color: #ccc !important;
}

.main_header_sub_cta {
	display: inline-block;
	margin-top: 12px;
}

.main_header .search_form {
	display: inline-block;
}

.main_header ul .cta {
	margin-top: 5px;

}

.main_header .navbar-brand {
	float: none;
	min-height: 50px;
	height: auto;
	display: block;
	margin-top: -4px;
}

.main_header .navbar-brand img {
	height: 60px;
}

.main_header ul li a {
	background: #340E5B;
	margin-right: 10px;
	color: #fff;
	border-radius: 6px;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.main_header ul li a:hover,
.main_header ul li a:active,
.main_header ul li a:focus {
	background: #652978;
}

.main_header ul li a .fa {
	margin-left: 5px
}

.bottom_header {
	background: #340E5B;
	margin-bottom: 0px;
}

.bottom_header .navbar-brand,
.bottom_header ul li a {
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
}

.bottom_header ul li a:hover,
.bottom_header .navbar-brand,
.bottom_header ul li a:focus,
.bottom_header .navbar-brand,
.bottom_header ul li a:active {
	color: #fff;
	background: none;
}

.bottom_header .categories_container {
	padding-left: 0px;
}

.bottom_header .nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
	background-color: #652978;
}

.bottom_header .dropdown-menu li a {
	color: #464646;
	cursor: pointer;
	padding: 10px 20px;
}


.bottom_header .dropdown-menu li a:hover,
.bottom_header .dropdown-menu li a:focus,
.bottom_header .dropdown-menu li a:active {
	color: #fff;

	background: #0076f7;
}

.fill {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	right: 0;
	bottom: 0;
	padding: 0 !important;
	margin: 0 !important;
}

.effect-sparkle {
	background-image: url(../images/sparkle1.png), url(../images/sparkle2.png);
	animation: sparkle 60s linear infinite;
}

.post-content .demo-container {
	border-radius: .5em;
	margin: 2em -35% 2em 0;
}

.fave {
	width: 65px;
	height: 50px;
	background: transparent url(../images/twitter_fave.png) no-repeat;
	background-position: 0 2px;
	cursor: pointer;
	-webkit-animation: fave 1s steps(55);
	animation: fave 1s steps(55);
}

.fave:hover,
.fave.active {
	background-position: -3519px 2px;
	-webkit-transition: background 1s steps(55);
	transition: background 1s steps(55);
}

.homepage .section-title {
	position: relative;
	-js-display: flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
}

.homepage .section-title b {
	display: block;
	-ms-flex: 1;
	flex: 1;
	height: 2px;
	opacity: .1;
	background-color: currentColor;
}

.homepage .section-title-center span,
.section-title-bold-center span {
	text-align: center;
}

.homepage .section-title-center span {
	margin: 0 15px;
}

.homepage .section-title span {
	font-size: 18px;
	text-transform: uppercase;
}

.homepage .section_container {
	margin: 40px 0px 0px;
}

@keyframes rain {
	0% {
		background-position: 0px 0px
	}

	100% {
		background-position: 500px 1000px
	}
}

.effect-rain {
	background-image: url("../img/effects/rain.png");
	animation: rain 2s linear infinite
}

@keyframes sparkle {
	0% {
		background-position: 0px 0px, 0px 0px, 0px 0px
	}

	100% {
		background-position: -500px -1000px, -400px -400px, 300px 300px
	}
}

.effect-sparkle {
	background-image: url("../images/sparkle1.png"), url("../images/sparkle2.png");
	animation: sparkle 60s linear infinite
}

@keyframes glass {
	0% {
		background-position: 0px 0px, 0px 0px, 0px 0px
	}

	100% {
		background-position: 500px 1000px, 400px 400px
	}
}

.effect-sliding-glass {
	background-image: url("../img/effects/glass1.png"), url("../img/effects/glass2.png");
	animation: glass 30s linear infinite
}

@keyframes confetti {
	0% {
		background-position: 0px 0px, 0px 0px, 0px 0px
	}

	100% {
		background-position: 500px 1000px, 400px 400px, 300px 300px
	}
}

.effect-confetti {
	background-image: url("../img/effects/confetti1.png"), url("../img/effects/confetti2.png");
	animation: confetti 10s linear infinite
}

@keyframes snow {
	0% {
		background-position: 0px 0px, 0px 0px, 0px 0px
	}

	100% {
		background-position: 500px 1000px, 400px 400px, 300px 300px
	}
}

.effect-snow {
	background-image: url("../img/effects/snow1.png"), url("../img/effects/snow2.png");
	animation: snow 20s linear infinite
}

.standard_container .overlay {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.0);
}

.standard_container {
	height: 250px;
	position: relative;
	border-radius: 10px 10px 0px 0px;
	border: 1px solid #e1e1e1;
}

.standard_container img {
	vertical-align: middle;
	margin-top: 12%;
}

@media (max-width: 1199px) {
	.standard_container {
		width: 60%;
		height: 220px;
		margin-left: 20%;
	}

	.standard_container img {
		margin-top: 5%;
	}
}

@media (max-width: 991px) {
	.standard_container {
		width: 70%;
		height: 220px;
		margin-left: 15%;
	}
}

@media (max-width: 500px) {
	.standard_container {
		width: 100%;
		height: 190px;
		margin-left: 0%;
	}

	.standard_container img {
		margin-top: 5%;
	}
}

.standard_container .bg_1 {
	background: url('../images/01/war.jpg');
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	background-repeat: no-repeat;
	border-radius: 10px;
}

.standard_container .bg_2 {
	background: url('../images/01/rna.jpg');
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	background-repeat: no-repeat;
	border-radius: 10px;
}

.standard_container .bg_3 {
	background: url('../images/01/uma.jpg');
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	background-repeat: no-repeat;
	border-radius: 10px;
}

.standard_container .bg_4 {
	background: url('../images/01/grn.jpg');
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	background-repeat: no-repeat;
	border-radius: 10px;
}

.standard_container .bg_5 {
	background: url('../images/01/m20.jpg');
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	background-repeat: no-repeat;
	border-radius: 10px;
}

.standard_container .bg_6 {
	background: url('../images/01/mh1.jpg');
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	background-repeat: no-repeat;
	border-radius: 10px;
}

.standard_container .cta {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
	min-width: 80%;
	padding: 15px 25px;
	text-transform: uppercase;
	color: #666 !important;
	font-weight: 700;
	letter-spacing: 1px;
	border-radius: 18px;
}

.standard_container .cta:focus,
.hot_categories_container .cta:focus {
	outline: 0;
}


.hot_categories_container {
	height: 250px;
	position: relative;
	border-radius: 10px;
	margin: auto;
	max-width: 600px;
}

.hot_categories_container .overlay {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.2);
}

.hot_categories_container .bg_1 {
	background: url('../images/01/Format-Standard.jpg');
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	background-repeat: no-repeat;
	border-radius: 10px;
}

.hot_categories_container .bg_2 {
	background: url('../images/01/Format-Modern.jpg');
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	background-repeat: no-repeat;
	border-radius: 10px;
}

.hot_categories_container .bg_3 {
	background: url('../images/01/Format-Legacy.jpg');
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	background-repeat: no-repeat;
	border-radius: 10px;
}

.hot_categories_container .bg_4 {
	background: url('../images/01/Format-CommandTower.jpg');
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	background-repeat: no-repeat;
	border-radius: 10px;
}

.hot_categories_container .bg_5 {
	background: url('../images/01/old_school.jpeg');
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	background-repeat: no-repeat;
	border-radius: 10px;
}

.hot_categories_container .bg_6 {
	background: url('../images/01/Wallpaper_WARAA.jpg');
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	background-repeat: no-repeat;
	border-radius: 10px;
}

.hot_categories_container .cta {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
	min-width: 80%;
	padding: 15px 25px;
	text-transform: uppercase;
	color: #666 !important;
	font-weight: 700;
	letter-spacing: 1px;
	border-radius: 18px;
}

.site-footer {
	background-color: #5B5B5B;
	padding: 45px 0 20px;
	font-size: 15px;
	line-height: 24px;
	color: #c5c5c5;
}

.site-footer hr {
	border-top-color: #bbb;
	opacity: 0.5
}

.site-footer hr.small {
	margin: 20px 0
}

.site-footer h6 {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 5px;
	letter-spacing: 2px
}

.site-footer a {
	color: #c5c5c5;
}

.site-footer a:hover {
	color: #fff;
	text-decoration: none;
}

.footer-links {
	padding-left: 0;
	list-style: none
}

.footer-links li {
	display: block
}

.footer-links a {
	color: #c5c5c5;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
	color: #fff;
	text-decoration: none;
}

.footer-links.inline li {
	display: inline-block
}

.site-footer .social-icons {
	text-align: right
}

.site-footer .social-icons a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-left: 6px;
	margin-right: 0;
	border-radius: 100%;
	background-color: #fff
}

.copyright-text {
	margin: 0
}

@media (max-width:991px) {
	.site-footer [class^=col-] {
		margin-bottom: 30px
	}
}

@media (max-width:767px) {
	.site-footer {
		padding-bottom: 0
	}

	.site-footer .copyright-text,
	.site-footer .social-icons {
		text-align: center
	}
}

.social-icons {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}

.social-icons li {
	display: inline-block;
	margin-bottom: 4px
}

.social-icons li.title {
	margin-right: 15px;
	text-transform: uppercase;
	color: #96a2b2;
	font-weight: 700;
	font-size: 13px
}

.social-icons a {
	background-color: #eceeef;
	color: #818a91;
	font-size: 16px;
	display: inline-block;
	line-height: 44px;
	width: 44px;
	height: 44px;
	text-align: center;
	margin-right: 8px;
	border-radius: 100%;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
	color: #fff;
	background-color: #29aafe
}

.social-icons.size-sm a {
	line-height: 34px;
	height: 34px;
	width: 34px;
	font-size: 14px
}

.social-icons a.facebook:hover {
	background-color: #3b5998
}

.social-icons a.twitter:hover {
	background-color: #00aced
}

.social-icons a.linkedin:hover {
	background-color: #007bb6
}

.social-icons a.dribbble:hover {
	background-color: #ea4c89
}

@media (max-width:767px) {
	.social-icons li.title {
		display: block;
		margin-right: 0;
		font-weight: 600
	}
}

.slider {
	width: auto;
	margin: 30px 50px 50px;
}

.slick-slide {
	color: white;
	padding: 40px 0 10px;
	font-size: 30px;
	text-align: center;
	outline: 0 !important;
}

.slick-prev:before,
.slick-next:before {
	color: black;
}

.slick-dots {
	bottom: -30px;
}

.mt-3 {
	margin-top: 30px;
}

.homepage .card_container {
	padding: 10px 20px;
}

.homepage .card-details {
	margin-top: 10px;
	text-align: center;
	color: #6d6d6d;
	font-size: 14px;
}

.homepage .price {
	font-weight: 600;
	color: #000;
}

.homepage .card_name {
	margin-bottom: 5px;
}

.homepage .add_to_cart {
	background: #0076F7;
	color: #fff;
	border-radius: 6px;
}

.homepage .add_to_cart:hover {
	background: #17579c;
}

.card_container .card_name {
	height: 40px;
}

.card_container .add_to_cart {
	width: 100px;
}

.star_icon {
	height: 25px;
	margin-top: -2px;
}

div#result,
#result2 p {
	text-align: center;
	color: red;
	font-size: 12px;
}

.ladda-button {
	background-color: #999;
}

.our_store .section-title {
	position: relative;
	-js-display: flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
}

.our_store .section-title b {
	display: block;
	-ms-flex: 1;
	flex: 1;
	height: 2px;
	opacity: .1;
	background-color: currentColor;
}

.our_store .section-title-center span,
.section-title-bold-center span {
	text-align: center;
}

.our_store .section-title-center span {
	margin: 0 15px;
}

.our_store .section-title span {
	font-size: 18px;
	text-transform: uppercase;
}

.our_store .section_container {
	margin: 40px 0px 0px;
}

.faq .section-title {
	position: relative;
	-js-display: flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
}

.faq .section-title b {
	display: block;
	-ms-flex: 1;
	flex: 1;
	height: 2px;
	opacity: .1;
	background-color: currentColor;
}

.faq .section-title-center span,
.section-title-bold-center span {
	text-align: center;
	font-weight: 400;
}

.faq .section-title-center span {
	margin: 0 15px;
}

.faq .section-title span {
	font-size: 18px;
	text-transform: uppercase;
}

.faq .section_container {
	margin: 40px 0px 0px;
}

.shipping .section-title {
	position: relative;
	-js-display: flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
}

.shipping .section-title b {
	display: block;
	-ms-flex: 1;
	flex: 1;
	height: 2px;
	opacity: .1;
	background-color: currentColor;
}

.shipping .section-title-center span,
.section-title-bold-center span {
	text-align: center;
}

.shipping .section-title-center span {
	margin: 0 15px;
}

.shipping .section-title span {
	font-size: 18px;
	text-transform: uppercase;
}

.shipping .section_container {
	margin: 40px 0px 0px;
}

.privacy_policy .section-title {
	position: relative;
	-js-display: flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
}

.privacy_policy .section-title b {
	display: block;
	-ms-flex: 1;
	flex: 1;
	height: 2px;
	opacity: .1;
	background-color: currentColor;
}

.privacy_policy .section-title-center span,
.section-title-bold-center span {
	text-align: center;
}

.privacy_policy .section-title-center span {
	margin: 0 15px;
}

.privacy_policy .section-title span {
	font-size: 18px;
	text-transform: uppercase;
}

.privacy_policy .section_container {
	margin: 40px 0px 0px;
}

.tos .section-title {
	position: relative;
	-js-display: flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
}

.tos .section-title b {
	display: block;
	-ms-flex: 1;
	flex: 1;
	height: 2px;
	opacity: .1;
	background-color: currentColor;
}

.tos .section-title-center span,
.section-title-bold-center span {
	text-align: center;
}

.tos .section-title-center span {
	margin: 0 15px;
}

.tos .section-title span {
	font-size: 18px;
	text-transform: uppercase;
}

.tos .section_container {
	margin: 40px 0px 0px;
}

.related-card-section .card_container {
	padding: 10px 20px;
}

.related-card-section .card-details {
	margin-top: 10px;
	text-align: center;
	color: #6d6d6d;
	font-size: 14px;
}

.related-card-section .price {
	font-weight: 600;
	color: #000;
}

.related-card-section .card_name {
	min-height: 40px;
	height: auto;
	margin-bottom: 5px;

}

.related-card-section .add_to_cart {
	background: #0076F7;
	color: #fff;
	border-radius: 6px;
}

.related-card-section .add_to_cart:hover {
	background: #17579c;
}

.star_icon {
	height: 32px;
}

.loading-container {
	text-align: center;
	height: 100%;
	padding-top: 15px;
}

/* lds-roller */
.lds-roller {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
	margin: auto;
}

.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 32px 32px;
}

.lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #05a9e2;
	margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
	top: 50px;
	left: 50px;
}

.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
	top: 54px;
	left: 45px;
}

.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
	top: 57px;
	left: 39px;
}

.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
	top: 58px;
	left: 32px;
}

.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
	top: 57px;
	left: 25px;
}

.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
	top: 54px;
	left: 19px;
}

.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
	top: 50px;
	left: 14px;
}

.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
	top: 45px;
	left: 10px;
}

@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* end lds-roller */
.language_tag {
	position: absolute;
	top: 23px;
	left: 10px;
	padding: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.cart_page .language_tag,
#card-list-container .language_tag {
	top: 10px;
	left: 5px;
	padding: 3px;
	font-size: 5px;
}

.card_tag {
	position: absolute;
	top: 23px;
	right: 10px;
	padding: 3px;
	letter-spacing: 1px;
	font-size: 10px;
	font-family: 'Beleren-Bold';
	max-width: 50px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card_tag_language {
	position: absolute;
    width: 35px;
    height: 22px;
    top: 12%;
    left: 5%;
}

.card_label {
	position: absolute;
    width: 80%;
    left: 10%;
    bottom: 0;
}

.cd-cart-items .card_tag_language {
    width: 15px;
    height: 8px;
}

.cart_page .card_tag,
#card-list-container .card_tag {
	top: 10px;
	right: 5px;
	padding: 2px;
	font-size: 5px;
	max-width: 22px;
}

.datestamp_tag {
	position: absolute;
	bottom: 42%;
	right: 15px;
	color: #fabb27;
	font-size: 9px;
	font-family: 'Beleren-Bold';
}

.planeswalker_tag {
	position: absolute;
	bottom: 44%;
	right: 12px;
	height: 23px !important;
}

#cd-cart .datestamp_tag,
.cart_page .datestamp_tag,
#card-list-container .datestamp_tag {
	font-size: 4px;
	right: 5px;
	bottom: 39%;
}

#cd-cart .planeswalker_tag,
.cart_page .planeswalker_tag,
#card-list-container .planeswalker_tag {
	height: 14px !important;
	right: 5px;
	bottom: 44%;
}

#card-gallery-container .card-image:hover .planeswalker_tag {
	opacity: 0.3;
}

.auto-complete-container {
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 999;
	text-align: left;
	margin-top: 35px;
	display: none;
}

.auto-complete-container ul {
	background: none repeat scroll 0 0 #ffffff;
	border-top: 1px dotted #ccc;
	border-bottom: 1px solid #ccc;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	position: relative;
}

.auto-complete-container ul li.selected {
	background: none repeat scroll 0 0 #ebebeb;
	cursor: pointer;
}

.auto-complete-container ul li {
	background: inherit;
	border-color: #ccc;
	border-image: none;
	border-style: solid;
	border-width: 0 1px;
	display: block;
	font-size: 14px;
	font-weight: normal;
	padding: 4px 12px;
	cursor: pointer;
}

.auto-complete-container ul li:hover {
	background: #ccc;
}

.auto-complete-container ul li div {
	display: block;
	font-weight: normal;
	word-break: break-all;
}

#loyalty_modal .thank_you_badge {
	height: 250px;
}

.breadcrumb-item, .filter-header, .checkbox-container {
  font-family: "Roboto";
}
div {
  font-family: 'Roboto';
}
#loyalty_modal .level_name {
  font-family: "Roboto";
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 24px;
	margin-bottom: 0px;
}

#loyalty_modal .level_number {
	font-size: 14px;
}

.wobble-hor-bottom {
	-webkit-animation: wobble-hor-bottom 1s both;
	animation: wobble-hor-bottom 1s both;
}

@-webkit-keyframes wobble-hor-bottom {

	0%,
	100% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}

	15% {
		-webkit-transform: translateX(-30px) rotate(-6deg);
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		-webkit-transform: translateX(15px) rotate(6deg);
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		-webkit-transform: translateX(-15px) rotate(-3.6deg);
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		-webkit-transform: translateX(9px) rotate(2.4deg);
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		-webkit-transform: translateX(-6px) rotate(-1.2deg);
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@keyframes wobble-hor-bottom {

	0%,
	100% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}

	15% {
		-webkit-transform: translateX(-30px) rotate(-6deg);
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		-webkit-transform: translateX(15px) rotate(6deg);
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		-webkit-transform: translateX(-15px) rotate(-3.6deg);
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		-webkit-transform: translateX(9px) rotate(2.4deg);
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		-webkit-transform: translateX(-6px) rotate(-1.2deg);
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

.div-hidden {
	transition: opacity 1.75s ease 0s;
	opacity: 0;
	visibility: hidden;
}

.div-show {
	transition: opacity 1.5s ease 0s;
	opacity: 1;
	visibility: visible;
}

.block-container {
	position: relative;
	margin: 8px 0;
	width: 250px;
}

.div-overlay {
	position: absolute;
	top: 0;
	animation-iteration-count: 1;
	animation-duration: 1.5s;
	visibility: hidden;
}

.div-overlay-left {
	animation-name: slide-left;
}

.div-overlay-right {
	animation-name: slide-right;
}

@keyframes slide-left {
	from {
		left: 0;
		opacity: 1;
		visibility: visible;
	}

	to {
		left: -30px;
		opacity: 0;
	}
}

@keyframes slide-right {
	from {
		left: 0;
		opacity: 1;
		visibility: visible;
	}

	to {
		left: 30px;
		opacity: 0;
	}
}

.checkout_cta_container {
	position: absolute;
	width: 100%;
	bottom: 0px;
	background: white;
	text-align: center;
}

.main_category li:first-child {
	display: inline;
	text-align: center;
	text-decoration: none;
	padding: 70px;
	border-right: 1px solid #d0d0d0;
}

.main_category li:nth-child(2) {
	display: inline;
	text-align: center;
	text-decoration: none;
	padding: 70px 50px 70px 50px;
	border-right: 1px solid #d0d0d0;
}


.main_category li a {
	font-size: 24px;
	color: #272727;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	position: relative;
	top: 30%;
	transform: translateY(-50%);

}

.paddingright60 {
	padding-right: 60px;
}

.search_menu_fixed {
	margin-top: 0px;
}

.subscribe_container {
	text-align: center;
	margin-top: 50px;
}

.forgot_password_text {
	float: left;
	font-family: 'MontserratAlternates-Bold';
}

.register_text {
	float: right;
	font-family: 'MontserratAlternates-Bold';
}

.android_header {
	height: 30px;
	margin-top: 5px;
}

.cart_info2 {
	min-height: 180px;
}

.cart_body tr {
	border-bottom: 1px solid #e0e0e0;
}

.cart_body tr:last-child {
	border-bottom: none;
}

.order_summary_header {
	background: #fe980f;
	color: white;
	font-family: 'Roboto';
	padding: 5px 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.shipping_info {
	background: #fe980f;
	color: white;
	font-family: 'Roboto', sans-serif;
	padding: 5px 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.order_summary_container {
	margin-top: 60px;
}

.order_summary {
	outline: 1px solid #e0e0e0;
}

.level_info {
	margin-top: 0px;
	font-family: 'Roboto';
	padding: 10px;
	font-size: 9px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 0px;
}

.loading_screen {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgb(255, 255, 255);
	text-align: center;
	z-index: 1000;
}

.loading_screen img {
	margin-top: 15%;
}

.loading_screen #loading_percentage {
	font-size: 30px;
	font-family: "Roboto";
	font-weight: bold;
	color: #0076F7;
}

.order_info {
	padding-top: 0px;
}

.bronze_text {
	color: #CD7F32;
}

.free_dev_info {
	margin-top: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.margin_bottom0 {
	margin-bottom: 0px;
}

.order_hr {
	margin: 2px 0px;
}

.cart_sub_info {
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	color: #fe980f;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 0px;
}

.cart_sub_info_total {
	font-weight: bold;
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #fe980f;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 0px;
}

.cart_sub_info span,
.cart_sub_info_total span {
	margin-top: 0px;
	padding-top: 0px;
	color: #000;
}

.custom_btn {
	background: #e0e0e0;
	margin-top: 20px;
	margin-left: 5px;
	border-radius: 0px;
	letter-spacing: 1px;
	font-weight: bold;
}

.custom_btn {
	background: #fe980f;
	margin-top: 20px;
	margin-left: 5px;
	border-radius: 0px;
	letter-spacing: 1px;
	font-weight: bold;
	color: white;
	border: 0px;
}

.btn_update_cart {
	background: #FE980F;
	width: 100%;
	border-radius: 0px;
	color: white;
}

.btn_update_cart:hover {
	background: #FE980F !important;
	color: white !important;
}


.margin_top10 {
	margin-top: 10px;
}

.order_notes {
	font-size: 14px;
	min-height: 100px;
}

.margin_top130 {
	margin-top: 130px;
}

.voucher_text {
	margin-top: -10px;
	text-align: center;
	font-size: 10px;
	margin-bottom: 0px;
	font-family: 'Roboto';
}

.lang_currency_mobile a {
	color: white;
	font-size: 10px;
	margin-top: 7px;
}

.mobile_welcome_title {
	display: none;
}

.bggrey {
	background: #e0e0e0 !important;
}

.android {
	height: 75px;
	margin-left: -10px;
}

body {
	overflow-x: hidden;
}

.messenger-text {
	border: 2px dashed #fe980e;
	min-height: 100px;
	margin-top: 20px;
}

.messenger_instruction {
	font-family: 'OpenSans-Regular';
	margin-top: 15px;
}

.messenger_note {
	font-family: 'OpenSans-Regular';
	font-size: 12px;
	margin-top: 15px;
}

.mobile_change_language_container {
	display: none;
}

@media only screen and (max-width: 1300px) {
	.table-responsive {
		display: block;
	}
}

.checkout_address {
	min-height: 80px;
}

.mobile_navbar {
	display: none;
	margin-bottom: 0px;
}

.mobile_navbar .navbar-toggle {
	margin-top: 18px;
}

@media only screen and (max-width: 767px) {
	.mobile_navbar {
		display: block;
	}

	.welcome_title {
		display: none !important;
	}

	.mobile_welcome_title {
		display: block;
	}

	.main_header,
	.bottom_header {
		display: none;
	}

	.top_header .navbar-brand {
		float: left;
		font-size: 10px;
		margin: 0 auto;
		text-align: center;
		display: block;
	}

	.mobile_change_language_container {
		display: block;
		float: right;
		margin-top: 12px;
		margin-right: 10px;
	}
}


@media only screen and (max-width: 444px) {
	.top_header .navbar-brand {
		font-size: 10px;
	}
}

@media only screen and (max-width: 370px) {
	.top_header .navbar-brand {
		font-size: 10px;
	}
}

@media only screen and (max-width: 340px) {
	.top_header .navbar-brand {
		padding: 15px 5px;
		font-size: 10px;
	}
}

.cards_table_list {
	width: 100% !important;
}

.divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}

#cd-cart .cd-cart-items {
	height: 75% !important;
}

#card-gallery-container .col {
	margin-bottom: 10px;
}

#card-gallery-container .card-price {
	padding: 10px 3px;
}


.cards_table_list thead th {
	text-align: center;
}

.cards_table_list tbody td {
	padding: 0px !important;
	text-align: center;
}

.table-card-list .card-image {
	margin: 5px 0px;
}

.cards_table_list tr td {
	padding: 22px 5px !important;
}

.cards_table_list tr td:first-child {
	padding: 0px 5px !important;
}

.table-card-list .add_to_cart {
	margin-top: 0px !important;
}

.all_sets_container {
	margin-top: 20px;
	margin-bottom: 50px;
}

.set_header {
	border-bottom: 1px solid #d1d1d1;
	width: 100%;
	height: 40px;
	background: #340E5B;
	padding: 5px 20px;
	font-size: 22px;
	color: white;
	margin-bottom: 10px;
}

.all_sets_container .section_container {
	margin: 40px 0px 0px;
}

.all_sets_container .section-title span {
	font-size: 18px;
	text-transform: uppercase;
}

.all_sets_container .section-title b {
	display: block;
	-ms-flex: 1;
	flex: 1;
	height: 2px;
	opacity: .1;
	background-color: currentColor;
}

.all_sets_container .section-title {
	position: relative;
	-js-display: flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
}

.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}

.error_field {
	border: 1px solid red !important;
}

.header_banner {
	background: url(../images/loyalty_program.png);
	background-size: 100% 100%;
	width: 100%;
	height: 240px;
	position: relative;
	background-repeat: no-repeat;
	border-radius: 10px;
}

@media (max-width: 991px) {
	.header_banner {
		height: 200px;
	}
}

@media (max-width: 768px) {
	.header_banner {
		height: 150px;
	}
}

.keyrune_row {
	background: white;
	position: absolute;
	width: 100%;
	margin-left: 0%;
	bottom: -2px;
	border-bottom: 1px solid #e1e1e1;
}

.keyrune_style {
	text-align: center;
	font-size: 24px;
	display: inline-block;
	margin-right: 15px;
}

.keyrune_row p:last-child {
	margin-right: 0px;
}

.related-card-section a:focus {
	outline: none !important;
}

.card_overlay {
	background: url('../images/filter.png');
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 1;

}

.image-container {
	position: relative;
}

.image-container .after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	height: 100%;
	color: #FFF;
}

.image-container .after {
	display: block;
	background: url('../images/filter.png');
	background-repeat: no-repeat;
	background-size: cover;
}
