.loyalty_program {
	padding: 20px 0;
}

.loyalty_table td {
	vertical-align: middle !important;
}

.loyalty_table .img-badge {
	width: 60px;
}

.loyalty_table thead {
	background: #340e5b;
    color: white;
}

.loyalty_table thead td {
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}

@media (min-width: 600px) {
	.loyalty_table thead td {
		padding: 30px 8px !important;
	}
}
@media (max-width: 599px) {
	.loyalty_table thead td {
		padding: 10px 3px !important;
	}
}

@media (max-width: 700px) {
	.loyalty_table {
		font-size: 12px;
	}
}
@media (max-width: 650px) {
	.loyalty_table .img-badge {
		width: 40px;
	}
}
@media (max-width: 500px) {
	.loyalty_table {
		font-size: 10px;
	}
}