.none {
	display: none;
}



.category-products {
	border: 1px solid #F7F7F0;
	margin-bottom: 35px;
	padding-bottom: 20px;
	padding-top: 15px;
}

.left-sidebar h2,
.brands_products h2 {
	color: #FE980F;
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 700;
	margin: 0 auto 30px;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	z-index: 3;
}

.left-sidebar h2:after,
h2.title:after {
	content: " ";
	position: absolute;
	border: 1px solid #f5f5f5;
	bottom: 8px;
	left: 0;
	width: 100%;
	height: 0;
	z-index: -2;
}

.left-sidebar h2:before {
	content: " ";
	position: absolute;
	background: #fff;
	bottom: -6px;
	width: 130px;
	height: 30px;
	z-index: -1;
	left: 50%;
	margin-left: -65px;
}

h2.title:before {
	content: " ";
	position: absolute;
	background: #fff;
	bottom: -6px;
	width: 220px;
	height: 30px;
	z-index: -1;
	left: 50%;
	margin-left: -110px;
}

.category-products .panel {
	background-color: #FFFFFF;
	border: 0px;
	border-radius: 0px;
	box-shadow: none;
	margin-bottom: 0px;
}

.category-products .panel-default .panel-heading {
	background-color: #FFFFFF;
	border: 0 none;
	color: #FFFFFF;
	padding: 5px 20px;
}

.category-products .panel-default .panel-heading .panel-title a {
	color: #696763;
	font-family: 'Roboto';
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
}

.panel-group .panel-heading+.panel-collapse .panel-body {
	border-top: 0 none;
}

.category-products .badge {
	background: none;
	border-radius: 10px;
	color: #696763;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	min-width: 10px;
	padding: 3px 7px;
	text-align: center;
	vertical-align: baseline;
	white-space: nowrap;
}

.panel-body ul {
	padding-left: 20px;
}


.panel-body ul li a {
	color: #696763;
	font-family: 'Roboto';
	font-size: 12px;
	text-transform: uppercase;
}

.brands-name {
	border: 1px solid #F7F7F0;
	padding-bottom: 20px;
	padding-top: 15px;
}


.brands-name .nav-stacked li a {
	background-color: #FFFFFF;
	color: #696763;
	font-family: 'Roboto';
	font-size: 14px;
	padding: 5px 25px;
	text-decoration: none;
	text-transform: uppercase;
}

.brands-name .nav-stacked li a:hover {
	background-color: #fff;
	color: #696763;
}

.shipping {
	background-color: #F2F2F2;
	margin-top: 40px;
	overflow: hidden;
	padding-top: 20px;
	position: relative;
}


.price-range {
	margin-top: 30px;
}

.well {
	background-color: #FFFFFF;
	border: 1px solid #F7F7F0;
	border-radius: 4px;
	box-shadow: none;
	margin-bottom: 20px;
	min-height: 20px;
	padding: 35px;
}


.tooltip-inner {
	background-color: #FE980F;
	border-radius: 4px;
	color: #FFFFFF;
	max-width: 200px;
	padding: 3px 8px;
	text-align: center;
	text-decoration: none;
}

.tooltip.top .tooltip-arrow {
	border-top-color: #FE980F;
	border-width: 5px 5px 0;
	bottom: 0;
	left: 50%;
	margin-left: -5px;
}


.padding-right {
	padding-right: 0;
}

.features_items {
	overflow: hidden;
}


h2.title {
	color: #FE980F;
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 700;
	margin: 0 15px;
	text-transform: uppercase;
	margin-bottom: 30px;
	position: relative;
}

.product-image-wrapper {
	border: 1px solid #F7F7F5;
	overflow: hidden;
	margin-bottom: 30px;
}

.single-products {
	position: relative;
}

.new,
.sale {
	position: absolute;
	top: 0;
	right: 0;
}

.productinfo h2 {
	color: #FE980F;
	font-family: 'Roboto';
	font-size: 24px;
	font-weight: 700;
}

.product-overlay h2 {
	color: #fff;
	font-family: 'Roboto';
	font-size: 24px;
	font-weight: 700;
}


.productinfo p {
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 400;
	color: #696763;
}

.productinfo img {
	width: 100%;
}

.productinfo {
	position: relative;
}

.product-overlay {
	background: #FE980F;
	top: 0;
	display: none;
	height: 0;
	position: absolute;
	transition: height 500ms ease 0s;
	width: 100%;
	display: block;
	opacity: ;
}

.single-products:hover .product-overlay {
	display: block;
	height: 100%;
}


.product-overlay .overlay-content {
	bottom: 0;
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
}

.product-overlay .add-to-cart {
	background: #fff;
	border: 0 none;
	border-radius: 0;
	color: #FE980F;
	font-family: 'Roboto';
	font-size: 15px;
	margin-bottom: 25px;
}

.product-overlay .add-to-cart:hover {
	background: #fff;
	color: #FE980F;
}


.product-overlay p {
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 400;
	color: #fff;
}



.add-to-cart {
	background: #F5F5ED;
	border: 0 none;
	border-radius: 0;
	color: #696763;
	font-family: 'Roboto';
	font-size: 15px;
	margin-bottom: 25px;
}

.add-to-cart:hover {
	background: #FE980F;
	border: 0 none;
	border-radius: 0;
	color: #FFFFFF;
}

.add-to {
	margin-bottom: 10px;
}

.add-to-cart i {
	margin-right: 5px;
}

.add-to-cart:hover {
	background: #FE980F;
	color: #FFFFFF;
}

.choose {
	border-top: 1px solid #F7F7F0;
}

.choose ul li a {
	color: #B3AFA8;
	font-family: 'Roboto';
	font-size: 13px;
	padding-left: 0;
	padding-right: 0;
}

.choose ul li a i {
	margin-right: 5px;
}

.choose ul li a:hover {
	background: none;
	color: #FE980F;
}

.category-tab {
	overflow: hidden;
}

.category-tab ul {
	background: #40403E;
	border-bottom: 1px solid #FE980F;
	list-style: none outside none;
	margin: 0 0 30px;
	padding: 0;
	width: 100%;
}

.category-tab ul li a {
	border: 0 none;
	border-radius: 0;
	color: #B3AFA8;
	display: block;
	font-family: 'Roboto';
	font-size: 14px;
	text-transform: uppercase;
}

.category-tab ul li a:hover {
	background: #FE980F;
	color: #fff;
}

.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #FE980F;
	border: 0px;
	color: #FFFFFF;
	cursor: default;
	margin-right: 0;
	margin-left: 0;
}

.nav-tabs li a {
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 4px 4px 0 0;
	line-height: 1.42857;
	margin-right: 0;
}

.recommended_items {
	overflow: hidden;
}

#recommended-item-carousel .carousel-inner .item {
	padding-left: 0;
}

.recommended-item-control {
	position: absolute;
	top: 41%;
}

.recommended-item-control i {
	background: none repeat scroll 0 0 #FE980F;
	color: #FFFFFF;
	font-size: 20px;
	padding: 4px 10px;
}

.recommended-item-control i:hover {
	background: #ccccc6;
}

.recommended_items h2 {}

.our_partners {
	overflow: hidden;
}

.our_partners ul {
	background: #F7F7F0;
	margin-bottom: 50px;
}


.our_partners ul li a:hover {
	background: none;
}

/*************************
*******Shop CSS******
**************************/


#advertisement {
	padding-bottom: 45px;
}

#advertisement img {
	width: 100%;
}

.pagination {
	display: inline-block;
	margin-bottom: 25px;
	margin-top: 0;
	padding-left: 15px;
}

.pagination li:first-child a,
.pagination li:first-child span {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	margin-left: 0;
}

.pagination li:last-child a,
.pagination li:last-child span {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.pagination .active a,
.pagination .active span,
.pagination .active a:hover,
.pagination .active span:hover,
.pagination .active a:focus,
.pagination .active span:focus {
	background-color: #FE980F;
	border-color: #FE980F;
	color: #FFFFFF;
	cursor: default;
	z-index: 2;
}

.pagination li a,
.pagination li span {
	background-color: #f0f0e9;
	border: 0;
	float: left;
	line-height: 1.42857;
	margin-left: -1px;
	padding: 6px 12px;
	position: relative;
	text-decoration: none;
	margin-right: 5px;
	color: #000;
}

.pagination li a:hover {
	background: #FE980F;
	color: #fff;
}



/*************************
*******Product Details CSS******
**************************/

.product-details {
	overflow: hidden;
}


#similar-product {
	margin-top: 40px;
}


#reviews {
	padding-left: 25px;
	padding-right: 25px;
}

.product-details {
	margin-bottom: 40px;
	overflow: hidden;
	margin-top: 10px;
}



.view-product {
	position: relative;
}

.view-product img {
	border: 1px solid #F7F7F0;
	height: 380px;
	width: 100%;
}

.view-product h3 {
	background: #FE980F;
	bottom: 0;
	color: #FFFFFF;
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 0;
	padding: 8px 20px;
	position: absolute;
	right: 0;
}

#similar-product .carousel-inner .item {
	padding-left: 0px;
}

#similar-product .carousel-inner .item img {
	display: inline-block;
	margin-left: 15px;
}

.item-control {
	position: absolute;
	top: 35%;
}

.item-control i {
	background: #FE980F;
	color: #FFFFFF;
	font-size: 20px;
	padding: 5px 10px;
}

.item-control i:hover {
	background: #ccccc6;
}

.product-information {
	border: 1px solid #F7F7F0;
	overflow: hidden;
	padding-bottom: 60px;
	padding-left: 60px;
	padding-top: 60px;
	position: relative;
}

.newarrival {
	position: absolute;
	top: 0;
	left: 0
}

.product-information h2 {
	color: #363432;
	font-family: 'Roboto';
	font-size: 20px;
	margin-top: 0;
}

.product-information p {
	color: #696763;
	font-family: 'Roboto';
	margin-bottom: 5px;
}

.product-information span {
	display: inline-block;
	margin-bottom: 8px;
	margin-top: 18px;
}

.product-information span span {
	color: #FE980F;
	float: left;
	font-family: 'Roboto';
	font-size: 30px;
	font-weight: 700;
	margin-right: 20px;
	margin-top: 0px;
}

.product-information span input {
	border: 1px solid #DEDEDC;
	color: #696763;
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 700;
	height: 33px;
	outline: medium none;
	text-align: center;
	width: 50px;
}

.product-information span label {
	color: #696763;
	font-family: 'Roboto';
	font-weight: 700;
	margin-right: 5px;
}

.share {
	margin-top: 15px;
}


.cart {
	background: #FE980F;
	border: 0 none;
	border-radius: 0;
	color: #FFFFFF;
	font-family: 'Roboto';
	font-size: 15px;
	margin-bottom: 10px;
	margin-left: 20px;
}


.shop-details-tab {
	border: 1px solid #F7F7F0;
	margin-bottom: 75px;
	margin-left: 15px;
	margin-right: 15px;
	padding-bottom: 10px;
}

.shop-details-tab .col-sm-12 {
	padding-left: 0;
	padding-right: 0;
}


#reviews ul {
	background: #FFFFFF;
	border: 0 none;
	list-style: none outside none;
	margin: 0 0 20px;
	padding: 0;
}

#reviews ul li {
	display: inline-block;
}

#reviews ul li a {
	color: #696763;
	display: block;
	font-family: 'Roboto';
	font-size: 14px;
	padding-right: 15px;
}

#reviews ul li a i {
	color: #FE980F;
	padding-right: 8px;
}

#reviews ul li a:hover {
	background: #fff;
	color: #FE980F;
}

#reviews p {
	color: #363432;
}

#reviews form span {
	display: block;
}

#reviews form span input {
	background: #F0F0E9;
	border: 0 none;
	color: #A6A6A1;
	font-family: 'Roboto';
	font-size: 14px;
	outline: medium none;
	padding: 8px;
	width: 48%;
}

#reviews form span input:last-child {
	margin-left: 3%;
}

#reviews textarea {
	background: #F0F0E9;
	border: medium none;
	color: #A6A6A1;
	height: 195px;
	margin-bottom: 25px;
	margin-top: 15px;
	outline: medium none;
	padding-left: 10px;
	padding-top: 15px;
	resize: none;
	width: 99.5%;
}

#reviews button {
	background: #FE980F;
	border: 0 none;
	border-radius: 0;
	color: #FFFFFF;
	font-family: 'Roboto';
	font-size: 14px;
}


/*************************
*******404 CSS******
**************************/

.logo-404 {
	margin-top: 60px;
}

.content-404 h1 {
	color: #363432;
	font-family: 'Roboto';
	font-size: 41px;
	font-weight: 300;
}

.content-404 img {
	margin: 0 auto;
}

.content-404 p {
	color: #363432;
	font-family: 'Roboto';
	font-size: 18px;
}

.content-404 h2 {
	margin-top: 50px;
}

.content-404 h2 a {
	background: #FE980F;
	color: #FFFFFF;
	font-family: 'Roboto';
	font-size: 44px;
	font-weight: 300;
	padding: 8px 40px;
}


/*************************
*******login page CSS******
**************************/

#form {
	padding-top: 20px;
	display: block;
	padding-bottom: 50px;
	overflow: hidden;
}

.login-container {
	padding-left: 0px;
	background: white;
	padding-bottom: 20px;
}

.login-form {}

.signup-form {}

.login-form h2,
.signup-form h2 {
	color: #737372;
	font-family: 'MontserratAlternates-Bold';
	font-size: 25px;
	font-weight: 300;
	margin-bottom: 20px;
}


.login-form form input,
.signup-form form input {
	background: white;
	border: 1px solid #d0d0d0;
	color: #696763;
	display: block;
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 300;
	height: 45px;
	margin-bottom: 15px;
	outline: medium none;
	padding-left: 10px;
	width: 100%;
}

.login-form form span {
	line-height: 25px;
}

.login-form form span input {
	width: 15px;
	float: left;
	height: 15px;
	margin-right: 5px;
}



.login_form_btn {
	background: #FE980F;
	border: medium none;
	border-radius: 0;
	color: #FFFFFF;
	display: block;
	font-family: 'MontserratAlternates-Bold';
	padding: 6px 25px;
	width: 100%;
}

.login_form_btn:hover {
	background: #FE980F;
	color: #FFFFFF;
}

.reg_btn {
	background: #FE980F;
	border-radius: 0;
	display: block;
	color: #FFFFFF;
	width: 100%;
	padding: 6px 25px;
	text-align: center;
	font-family: 'MontserratAlternates-Bold', sans-serif;
}

.reset_pass_btn {
	background: #FE980F;
	border-radius: 0;
	display: block;
	color: #FFFFFF;
	width: 100%;
	padding: 6px 25px;
	text-align: center;
	font-family: 'MontserratAlternates-Bold', sans-serif;
}

.reset_pass_btn:hover {
	background: #FE980F;
	color: #FFFFFF;
}

.register_terms {
	color: #999999;
	text-align: center;
	font-size: 11px;
	font-family: 'MontserratAlternates-Bold';
}

.reg_btn:hover {
	color: #FFFFFF;
	background: #FE980F;
}

.login-form label {}


.login-form label input {
	border: medium none;
	display: inline-block;
	height: 0;
	margin-bottom: 0;
	outline: medium none;
	padding-left: 0;
}


.or {
	background: #FE980F;
	border-radius: 40px;
	color: #FFFFFF;
	font-family: 'Roboto';
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	margin-top: 75px;
	text-align: center;
	width: 50px;
}


/*************************
*******Cart CSS******
**************************/

#do_action {
	margin-bottom: 50px;
}

.breadcrumbs {
	position: relative;
}

.breadcrumbs .breadcrumb {
	background: transparent;
	margin-bottom: 75px;
	padding-left: 0;
}

.breadcrumbs .breadcrumb li a {
	background: #FE980F;
	color: #FFFFFF;
	padding: 3px 7px;
}

.breadcrumbs .breadcrumb li a:after {
	content: "";
	height: auto;
	width: auto;
	border-width: 8px;
	border-style: solid;
	border-color: transparent transparent transparent #FE980F;
	position: absolute;
	top: 11px;
	left: 48px;

}

.breadcrumbs .breadcrumb>li+li:before {
	content: " ";
}

#cart_items {
	margin-bottom: 100px;
}

#cart_items .cart_info2 {
	border: 1px solid #E6E4DF;
	margin-bottom: 50px;
	min-height: 300px;
}


#cart_items .cart_info2 .cart_menu {
	background: #FE980F;
	color: #fff;
	font-size: 16px;
	font-family: 'Roboto';
	font-weight: normal;
}

#cart_items .cart_info2 .table.table-condensed thead tr {
	height: 51px;
}


#cart_items .cart_info2 .table.table-condensed tr {
	border-bottom: 1px solid#F7F7F0
}

#cart_items .cart_info2 .table.table-condensed tr:last-child {
	border-bottom: 0
}

.cart_info2 table tr td {
	border-top: 0 none;
	vertical-align: inherit;
}


#cart_items .cart_info2 .image {
	padding-left: 30px;
}

.cart_description {
	padding-left: 0px !important;
}

#cart_items .cart_info2 .cart_description h4 {
	margin-bottom: 0;
	max-width: 85%;
	word-break: break-all;
}

#cart_items .cart_info2 .cart_description h4 a {
	color: #363432;
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: normal;
	max-width: 85%;
	word-break: break-all;

}

#cart_items .cart_info2 .cart_description p {
	color: #696763;
	font-size: 13px;
}


#cart_items .cart_info2 .cart_price p {
	color: #696763;
	font-size: 16px
}


#cart_items .cart_info2 .cart_total_price {
	color: #FE980F;
	font-size: 18px;
}

.cart_product {
	display: block;
	margin: 15px -70px 10px 25px;
}

.cart_quantity_button a {
	background: #FE980F;
	color: white;
	display: inline;
	font-size: 18px;
	height: 28px;
	overflow: hidden;
	text-align: center;
	width: 35px;
	float: left;
	padding-top: 1px;
}


.cart_quantity_input {
	color: #696763;
	float: left;
	font-size: 16px;
	text-align: center;
	font-family: 'Roboto';

}


.cart_delete {
	margin-right: -12px;
	overflow: hidden;
}


.cart_delete a {
	background: #FE980F;
	color: #FFFFFF;
	padding: 5px 7px;
	font-size: 16px
}

.cart_delete a:hover {
	background: #FE980F
}


.bg h2.title {
	margin-right: 0;
	margin-left: 0;
	margin-top: 0;
}

.heading h3 {
	color: #363432;
	font-size: 20px;
	font-family: 'Roboto';
}

.heading p {
	color: #434343;
	font-size: 16px;
	font-weight: 300;
}


#do_action .total_area {
	padding-bottom: 18px !important;
}

#do_action .total_area,
#do_action .chose_area {
	border: 1px solid #E6E4DF;
	color: #696763;
	padding: 30px 25px 30px 0;
	margin-bottom: 80px;
}

.total_area span {
	float: right;
}

.total_area ul li {
	background: #E6E4DF;
	color: #696763;
	margin-top: 10px;
	padding: 7px 20px;
}


.user_option label {
	color: #696763;
	font-weight: normal;
	margin-left: 10px;
}


.user_info {
	display: block;
	margin-bottom: 15px;
	margin-top: 20px;
	overflow: hidden;
}

.user_info label {
	color: #696763;
	display: block;
	font-size: 15px;
	font-weight: normal;

}

.user_info .single_field {
	width: 31%
}

.user_info .single_field.zip-field input {
	background: transparent;
	border: 1px solid#F0F0E9
}

.user_info>li {
	float: left;
	margin-right: 10px
}

.user_info>li>span {}

.user_info input,
select,
textarea {
	background: #F0F0E9;
	border: 0;
	color: #696763;
	padding: 5px;
	width: 100%;
	border-radius: 0;
	resize: none
}

.user_info select:focus {
	border: 0
}


.chose_area .update {
	margin-left: 40px;
}

.update,
.check_out {
	background: #FE980F;
	border-radius: 0;
	color: #FFFFFF;
	margin-top: 18px;
	border: none;
	padding: 5px 15px;
}

.update {
	margin-left: 40px;
}

.check_out {
	margin-left: 20px
}



/*************************
*******checkout CSS******
**************************/

.step-one {
	margin-bottom: -10px
}

.register-req,
.step-one .heading {
	background: none repeat scroll 0 0 #F0F0E9;
	color: #363432;
	font-size: 20px;
	margin-bottom: 35px;
	padding: 10px 25px;
	font-family: 'Roboto';
}

.checkout-options {
	padding-left: 20px
}


.checkout-options h3 {
	color: #363432;
	font-size: 20px;
	margin-bottom: 0;
	font-weight: normal;
	font-family: 'Roboto';
}

.checkout-options p {
	color: #434343;
	font-weight: 300;
	margin-bottom: 25px;
}

.checkout-options .nav li {
	float: left;
	margin-right: 45px;
	color: #696763;
	font-size: 18px;
	font-family: 'Roboto';
	font-weight: normal;
}

.checkout-options .nav label {
	font-weight: normal;
}

.checkout-options .nav li a {
	color: #FE980F;
	font-size: 18px;
	font-weight: normal;
	padding: 0
}

.checkout-options .nav li a:hover {
	background: inherit;
}

.checkout-options .nav i {
	margin-right: 10px;
	border-radius: 50%;
	padding: 5px;
	background: #FE980F;
	color: #fff;
	font-size: 14px;
	padding: 2px 3px;
}


.register-req {
	font-size: 14px;
	font-weight: 300;
	padding: 15px 20px;
	margin-top: 35px;

}

.register-req p {
	margin-bottom: 0
}



.shopper-info p,
.bill-to p,
.order-message p {
	color: #696763;
	font-size: 20px;
	font-weight: 300
}


.shopper-info .btn-primary {
	background: #FE980F;
	border: 0 none;
	border-radius: 0;
	margin-right: 15px;
	margin-top: 20px;
}


.form-two,
.form-one {
	float: left;
	width: 47%
}


.shopper-info>form>input,
.form-two>form>select,
.form-two>form>input,
.form-one>form>input {
	background: #F0F0E9;
	border: 0 none;
	margin-bottom: 10px;
	padding: 10px;
	width: 100%;
	font-weight: 300
}

.form-two>form>select {
	padding: 10px 5px
}

.form-two {
	margin-left: 5%
}


.order-message textarea {
	font-size: 12px;
	height: 150px;
	margin-bottom: 20px;
	padding: 15px 20px;
}

.order-message label {
	font-weight: 300;
	color: #696763;
	font-family: 'Roboto';
	margin-left: 10px;
	font-size: 14px
}


.review-payment h2 {
	color: #696763;
	font-size: 20px;
	font-weight: 300;
	margin-top: 15px;
	margin-bottom: 20px
}

.payment-options {
	margin-bottom: 125px;
	margin-top: -25px
}

.payment-options span label {
	color: #696763;
	font-size: 14px;
	font-weight: 300;
	margin-right: 30px;
}

#cart_items .cart_info2 .table.table-condensed.total-result {
	margin-bottom: 10px;
	margin-top: 35px;
	color: #696763
}

#cart_items .cart_info2 .table.table-condensed.total-result tr {
	border-bottom: 0
}

#cart_items .cart_info2 .table.table-condensed.total-result span {
	color: #FE980F;
	font-weight: 700;
	font-size: 16px
}

#cart_items .cart_info2 .table.table-condensed.total-result .shipping-cost {
	border-bottom: 1px solid #F7F7F0;
}




/*************************
*******Blog CSS******
**************************/



.blog-post-area .single-blog-post h3 {
	color: #696763;
	font-size: 16px;
	font-family: 'Roboto';
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 17px;
}

.single-blog-post>a {}

.blog-post-area .single-blog-post a img {
	border: 1px solid #F7F7F0;
	width: 100%;
	margin-bottom: 30px
}

.blog-post-area .single-blog-post p {
	color: #363432
}

.blog-post-area .post-meta {
	display: block;
	margin-bottom: 25px;
	overflow: hidden;
}

.blog-post-area .post-meta ul {
	padding: 0;
	display: inline;
}

.blog-post-area .post-meta ul li {
	background: #F0F0E9;
	float: left;
	margin-right: 10px;
	padding: 0 5px;
	font-size: 11px;
	color: #393b3b;
	position: relative;
}

.blog-post-area .post-meta ul li i {
	background: #FE980F;
	color: #FFFFFF;
	margin-left: -4px;
	margin-right: 7px;
	padding: 4px 7px;
}

.sinlge-post-meta li i:after,
.blog-post-area .post-meta ul li i:after {
	content: "";
	position: absolute;
	width: auto;
	height: auto;
	border-color: transparent transparent transparent #FE980F;
	border-width: 4px;
	border-style: solid;
	top: 6px;
	left: 24px
}

.blog-post-area .post-meta ul span {
	float: right;
	color: #FE980F
}

.post-meta span {
	float: right;
}

.post-meta span i {
	color: #FE980F
}


.blog-post-area .single-blog-post .btn-primary {
	background: #FE980F;
	border: medium none;
	border-radius: 0;
	color: #FFFFFF;
	margin-top: 17px;
}

.pagination-area {
	margin-bottom: 45px;
	margin-top: 45px
}

.pagination-area .pagination li a {
	background: #F0F0E9;
	border: 0 none;
	border-radius: 0;
	color: #696763;
	margin-right: 5px;
	padding: 4px 12px;
}

.pagination-area .pagination li a:hover,
.pagination-area .pagination li .active {
	background: #FE980F;
	color: #fff
}



/*************************
*******Blog Single CSS******
**************************/

.pager-area {
	overflow: hidden;
}

.pager-area .pager li a {
	background: #F0F0E9;
	border: 0 none;
	border-radius: 0;
	color: #696763;
	font-size: 12px;
	font-weight: 700;
	padding: 4px;
	text-transform: uppercase;
	width: 57px;
}

.pager-area .pager li a:hover {
	background: #FE980F;
	color: #fff
}

.rating-area {
	border: 1px solid #F7F7F0;
	direction: block;
	overflow: hidden;
}

.rating-area ul li {
	float: left;
	padding: 5px;
	font-size: 12px
}

.rating-area .ratings {
	float: left;
	padding-left: 0;
	margin-bottom: 0
}


.rating-area .ratings li i {
	color: #CCCCCC
}

.rating-area .rate-this {
	color: #363432;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}

.rating-area .ratings .color,
.rating-area .color {
	color: #FE980F
}


.rating-area .tag {
	float: right;
	margin-bottom: 0;
	margin-right: 10px;
}

.rating-area .tag li {
	padding: 5px 2px;
}

.rating-area .tag li span {
	color: #363432;
}


.socials-share {
	margin-bottom: 30px;
	margin-top: 18px;
}


.commnets .media-object {
	margin-right: 15px;
	width: 100%;
}

.commnets {
	border: 1px solid #F7F7F0;
	padding: 18px 18px 18px 0;
	margin-bottom: 50px
}

.commnets .pull-left {
	margin-right: 22px
}

.commnets p,
.response-area p,
.replay-box p {
	font-size: 12px
}

.media-heading {
	color: #363432;
	font-size: 14px;
	font-weight: 700;
	font-family: 'Roboto';
	margin-bottom: 15px
}

.blog-socials {
	margin-bottom: -9px;
	margin-top: 14px;
}

.blog-socials ul {
	padding-left: 0;
	overflow: hidden;
	float: left;
}

.blog-socials .btn.btn-primary {
	margin-top: 0;
}

.blog-socials ul li {

	float: left;
	height: 17px;
	margin-right: 5px;
	text-align: center;
	width: 17px;
}


.blog-socials ul li a {
	color: #393B3B;
	display: block;
	font-size: 10px;
	padding: 1px;
	background: #F0F0E9;
}

.blog-socials ul li a:hover {
	color: #fff;
	background: #FE980F
}


.media-list .btn-primary,
.commnets .btn-primary {
	background: #FC9A11;
	border: 0 none;
	border-radius: 0;
	color: #FFFFFF;
	float: left;
	font-size: 10px;
	padding: 1px 7px;
	text-transform: uppercase;
}

.response-area h2 {
	color: #363432;
	font-size: 20px;
	font-weight: 700;
}

.response-area .media {
	border: 1px solid #F7F7F0;
	padding: 18px 18px 18px 0;
	margin-bottom: 27px
}

.response-area .media img {
	height: 102px;
	width: 100%;
}

.response-area .media .pull-left {
	margin-right: 25px
}

.response-area .second-media {
	margin-left: 5%;
	width: 95%;
}


.sinlge-post-meta {
	overflow: hidden;
	padding-left: 0;
	margin-bottom: 15px
}



.sinlge-post-meta li {
	background: #F0F0E9;
	color: #363432;
	float: left;
	font-size: 10px;
	font-weight: 700;
	margin-right: 10px;
	padding: 0 10px 0 0;
	position: relative;
	text-transform: uppercase;
}

.sinlge-post-meta li i {
	background: #FE980F;
	color: #FFFFFF;
	margin-right: 10px;
	padding: 8px 10px;
}

.sinlge-post-meta li i:after {
	top: 7px;
	border-width: 6px;
	left: 27px;
}


.replay-box {
	margin-bottom: 107px;
	margin-top: 55px;
}

.replay-box h2 {
	font-weight: 700;
	font-size: 20px;
	color: #363432;
	margin-top: 0;
	margin-bottom: 45px
}

.replay-box label {
	background: #FE980F;
	color: #FFFFFF;
	margin-bottom: 15px;
	padding: 3px 15px;
	float: left;
	font-weight: 400;
}

.replay-box span {
	color: #FE980F;
	float: right;
	font-weight: 700;
	margin-top: 21px;
}

.replay-box form input {
	border: 1px solid #F7F7F0;
	color: #ADB2B2;
	font-size: 12px;
	margin-bottom: 22px;
	padding: 8px;
	width: 100%;
}

.replay-box form input:hover,
.text-area textarea:hover {
	border: 1px solid #FE980F;
}

.text-area {
	margin-top: 66px
}

.text-area textarea {
	background: transparent;
	border: 1px solid#F7F7F0
}

.btn.btn-primary {
	background: #FE980F;
	border: 0 none;
	border-radius: 0;
	margin-top: 16px;
}

.blank-arrow {
	position: relative;
}

.blank-arrow label:after {
	content: "";
	position: absolute;
	width: auto;
	height: auto;
	border-style: solid;
	border-width: 8px;
	border-color: #FE980F transparent transparent transparent;
	top: 25px;
	left: 5px
}

}

#contact-page #message {
	height: 160px;
	resize: none;
}

#main-contact-form .btn-primary {
	margin-bottom: 15px;
	margin-top: 20px;
}


#contact-page .form-control:focus,
#contact-page .form-control:hover {
	box-shadow: inherit;
	border-color: #FDB45E;
}

#contact-page .contact-info {
	padding: 0 20px;
}

#contact-page .contact-info address {
	margin-bottom: 40px;
	margin-top: -5px;
}

#contact-page .contact-info p {
	margin-bottom: 0;
	color: #696763;
	font-size: 16px;
	line-height: 25px;
}

.social-networks {
	overflow: hidden;
	text-align: center;
}

.social-networks ul {
	margin-top: -5px;
	padding: 0;
	display: inline-block;
}

.social-networks ul li {
	float: left;
	text-decoration: none;
	list-style: none;
	margin-right: 20px;
}

.social-networks ul li:last-child {
	margin-right: 0;
}

.social-networks ul li a {
	color: #999;
	font-size: 25px;
}

.contact-info .social-networks ul li a i {
	background: none;
}

.contact-info .social-networks ul li a:hover {
	color: #FE980F;
}

/* Contains the password input and the login button */
.lockscreen-credentials {
	margin-left: 70px;
}

.lockscreen-credentials .form-control {
	border: 0;
}

.lockscreen-credentials .btn {
	background-color: #fff;
	border: 0;
	padding: 0 10px;
}

.lockscreen-footer {
	margin-top: 10px;
}

/*
 * Page: Login & Register
 * ----------------------
 */
.login-logo,
.register-logo {
	font-size: 35px;
	text-align: center;
	margin-bottom: 25px;
	font-weight: 300;
}

.login-logo a,
.register-logo a {
	color: #444;
}

.login-page,
.register-page {
	background: #d2d6de;
}

.login-box,
.register-box {
	width: 360px;
	margin: 7% auto;
	margin-bottom: 0% !important;
}

@media (max-width: 768px) {

	.login-box,
	.register-box {
		width: 90%;
		margin-top: 20px;
	}
}

.login-box-body,
.register-box-body {
	background: #fff;
	padding: 20px;
	border-top: 0;
	color: #666;
}

.login-box-body .form-control-feedback,
.register-box-body .form-control-feedback {
	color: #777;
}

.login-box-msg,
.register-box-msg {
	margin: 0;
	text-align: center;
	padding: 0 20px 20px 20px;
}

.social-auth-links {
	margin: 10px 0;
}

/*
 * Page: 400 and 500 error pages
 * ------------------------------
 */
.error-page {
	width: 600px;
	margin: 20px auto 0 auto;
}

@media (max-width: 991px) {
	.error-page {
		width: 100%;
	}
}

.error-page>.headline {
	float: left;
	font-size: 100px;
	font-weight: 300;
}

@media (max-width: 991px) {
	.error-page>.headline {
		float: none;
		text-align: center;
	}

	.padding0 {
		padding: 0;
	}

	.padding5 {
		padding: 5px;
	}

	.paddingleft0 {
		padding-left: 0px;
	}

	.paddingright0 {
		padding-right: 0px;
	}

	.error-text {
		color: #780000;
	}

	.panel-danger>.panel-body>p {
		color: #780000;
	}

	.transparent {
		background-color: transparent !important;
	}

	.text-center {
		text-align: center !important;
	}

	.submenu-hr {
		margin-bottom: 2px;
		margin-top: 2px;
	}

	.bronze {
		background: #cd7f32;
		color: white;
		text-transform: uppercase;
	}

	/**** Services **/
	.services-container {
		min-height: 400px;
		padding: 0px;
	}

	.card {
		/* Add shadows to create the "card" effect */
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
	}

	.card img {
		width: 100%;
		overflow: hidden;
	}

	.card .desc {
		background-color: #F7F8FA;
		min-height: 90px;
		padding: 5px 10px 20px 10px;
		overflow: hidden;
	}

	/* On mouse-over, add a deeper shadow */
	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	}

	.card .desc h4 {
		font-family: "Roboto";
		font-weight: 900;
		line-height: 1.42857143;
		text-align: center;
		text-transform: uppercase;
	}

	.card .desc h4 span {
		color: #e87b28;
	}

	.card .desc p {
		font-family: "Roboto";
	}

	.actionBtn9 {
		position: relative;
		overflow: hidden;
		display: block;
		width: 150px;
		padding: 10px;
		margin: auto;
		border: 2px solid #4b4b4b;
		text-align: center;
		text-transform: uppercase;
		box-shadow: 8px 8px 0 0px rgba(105, 109, 120, 0.5);
		-webkit-box-shadow: 8px 8px 0 0px rgba(105, 109, 120, 0.5);
		-moz-box-shadow: 8px 8px 0 0px rgba(105, 109, 120, 0.5);
		transition: all .3s;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		color: #e87b28;
		font-size: 14px;
		text-transform: uppercase;
		text-decoration: none;
		font-family: "PoppinsSlab-Bold", sans-serif;
	}

	.actionBtn9 .txt {
		display: block;
		z-index: 10;
		position: relative;
		text-decoration: none !important;
	}

	.actionBtn9 .txt:hover {
		text-decoration: none !important;
	}

	.actionBtn9 .bubble_inner {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.actionBtn9 .bubble_inner .bubble {
		position: absolute;
		top: 5px;
		display: block;
		width: 30%;
		height: 100%;
		border-radius: 50% 50% 0 0;
		background-color: #e87b28;
		transform: scaleY(1) translateY(37px);
		-webkit-transform: scaleY(1) translateY(37px);
		-moz-transform: scaleY(1) translateY(37px);
		transition: all .5s .5s;
		-webkit-transition: all .5s .5s;
		-moz-transition: all .3s .5s;
	}

	.actionBtn9 .bubble_inner .bubble:nth-child(1) {
		left: 0;
		transition-delay: .06s;
		-webkit-transition-delay: .06s;
		-moz-transition-delay: .06s;
	}

	.actionBtn9 .bubble_inner .bubble:nth-child(2) {
		left: 25%;
		transition-delay: .12s;
		-webkit-transition-delay: .12s;
		-moz-transition-delay: .12s;
	}

	.actionBtn9 .bubble_inner .bubble:nth-child(3) {
		left: 50%;
		transition-delay: .18s;
		-webkit-transition-delay: .18s;
		-moz-transition-delay: .18s;
	}

	.actionBtn9 .bubble_inner .bubble:nth-child(4) {
		left: 75%;
		transition-delay: .24s;
		-webkit-transition-delay: .24s;
		-moz-transition-delay: .24s;
	}

	.actionBtn9:hover {
		box-shadow: 0px 0px 0 0px rgba(105, 109, 120, 0.5);
		-webkit-box-shadow: 0px 0px 0 0px rgba(105, 109, 120, 0.5);
		-moz-box-shadow: 0px 0px 0 0px rgba(105, 109, 120, 0.5);
	}

	.actionBtn9:hover .txt {
		color: #fff;
		text-decoration: none !important;
	}

	.actionBtn9:hover .bubble_inner .bubble {
		transform: scaleY(2) translateY(-8px);
		-webkit-transform: scaleY(2) translateY(-8px);
		-moz-transform: scaleY(2) translateY(-8px);
	}

	a:hover {
		text-decoration: none !important;
	}

	.header-middle {
		background: white !important;
	}

	.navbar-fixed-top {
		box-shadow: 0px 0px 1px 0px rgba(78, 78, 78, 0.1);
		-webkit-box-shadow: 0px 1px 0px 0px rgba(78, 78, 78, 0.1);
		-moz-box-shadow: 0px 0px 1px 0px rgba(78, 78, 78, 0.1);
	}

	.banner {
		background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), rgba(0, 0, 0, 0.1) url("../img/banner.jpg") no-repeat center;
		background-size: cover;
		height: 235px;
		position: relative;
		overflow: hidden;
	}

	.shop-sidebar {
		box-shadow: -2px 0px 2px 0px rgba(78, 78, 78, 0.1);
		-webkit-box-shadow: -2px 0px 2px 0px rgba(78, 78, 78, 0.1);
		-moz-box-shadow: -2px 0px 2px 0px rgba(78, 78, 78, 0.1);
	}

	.shop-menubar {
		background-color: rgba(41, 41, 41, 0.75);
		bottom: 0;
		width: 100%;
	}

	.shop-menubar {
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: #292929;
		padding: 8px;
		z-index: 1295;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-flow: row wrap;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
	}

	.intro-footer {
		bottom: 0px;
		width: 100%;
		left: 0px;
		min-height: 80px;
		background: rgba(0, 0, 0, 0.5);
		position: absolute;
	}

	.hide {
		display: none;
	}

	.banner-text {
		color: white;
		font-size: 20px;
		font-family: 'Roboto';
		margin-top: 25px;
		text-align: center;
	}

	.branch-select {
		width: 100%;
		box-sizing: border-box;
		font-size: 1.6rem;
		font-weight: 300;
		font-size: 1.4rem;
		padding-left: 12px;
		padding-right: 12px;
		height: 45px;
		line-height: inherit;
		border-radius: 3px;
		margin-top: 15px;
		background-color: white;
	}

	.branch-select:focus {
		border-color: #FE980F;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(254, 152, 15, .6);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(254, 152, 15, .6);
	}

	.time-select {
		width: 100%;
		box-sizing: border-box;
		font-size: 1.6rem;
		font-weight: 300;
		font-size: 2rem;
		padding-left: 12px;
		padding-right: 12px;
		height: 48px;
		line-height: inherit;
		border-radius: 0;
		margin-top: 15px;
	}

	.customer-add {
		box-sizing: border-box;
		font-size: 1.6rem;
		font-weight: 300;
		font-size: 2rem;
		padding-left: 12px;
		padding-right: 12px;
		height: 48px;
		line-height: inherit;
		border-radius: 0;
		margin-top: 15px;
	}

	.prodsearch {
		width: 100%;
		box-sizing: border-box;
		font-size: 1.6rem;
		font-weight: 300;
		font-size: 2rem;
		padding-left: 12px;
		padding-right: 12px;
		height: 48px;
		line-height: inherit;
		border-radius: 0;
		margin-top: 20px;
	}

	.orders-main-container {
		margin-top: 20px;
	}

	.orders-sub-container {
		margin-top: 30px;
	}

	.orders-sub-text {
		color: #FE980F;
		text-align: center;
		font-size: 20px;
		font-family: 'Roboto';
	}

	.no-order {
		text-align: center;
		font-size: 16px;
		font-family: 'Roboto';
	}

	.reminder {
		box-sizing: border-box;
		font-size: 1.5rem;
		padding-left: 12px;
		padding-right: 12px;
		min-height: 150px;
		line-height: inherit;
		border-radius: 0;
		margin-top: 15px;
	}

	.hr-order {
		margin-bottom: 5px;
		margin-top: 5px;
	}

	.orders {
		height: 250px;
		overflow-y: scroll;
		box-sizing: border-box;
		overflow-x: hidden;
		/*
  -moz-box-shadow: 0px 3px 5px rgb(100,100,100);
  -webkit-box-shadow: 0px 3px 5px rgb(100,100,100);
  box-shadow: 0px 3px 5px rgb(100,100,100);*/
	}

	.order-text {
		font-family: 'Roboto--serif;
color:#FFAB3E;
		font-size: 16px;
	}

	.order-subtext {
		font-family: 'Roboto--serif;
color:black;
		font-size: 16px;
		margin-right: 50px;

	}

	.search_menu {
		background: white;
		min-height: 75px;
		width: 99%;
		border-bottom: 1px solid #E9EBEE;

	}


	.heightauto {
		height: auto;
	}

	.main_category {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		height: 70px;

	}
