.subheader_container {
	background-color: #f7f7f7;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  border-right: 3px solid #0076F7;
}

.my_account_contents {
	margin:30px auto;
}

.my_account .btn-default {
	width: 100%;
    padding: 20px 20px;
    margin-top: 15px;
}

.my_account .cta_view {
	text-transform: uppercase;
	background: #0076F7;
}

.my_account .cta_view:hover {
	background: #17579c;
}

.my_account label {
	font-weight: 500;
}

.my_account label span {
	color:red;
}

.my_account .billing_address .row {
	margin-bottom: 10px;
}

.my_account .shipping_address .row {
	margin-bottom: 10px;
}

.my_account .account_details .row {
	margin-bottom: 10px;
}

.my_account .loyalty_program {
  padding:30px 0;
}

.my_account .sabai_badge {
  height: 150px;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: -20px;
}

.my_account .text_container {
  min-height: 150px;
}

.my_account .label-exp-progress {
  top: 125px;
  position: absolute;
  right: 0;
}

.my_account .exp-progress {
  top: 145px;
  position: absolute;
  right: 0;
  width: 200px;
}

@media(max-width: 767px) {
  .my_account .tabs-left > .nav-tabs{
    float:none;
    margin-right: 0px;
    margin-bottom: 10px;
  }
}