body{
	font-family: "Roboto";
}
.shipping_details {
	margin:40px auto;
}
.shipping h3 {
	line-height: 35px;
	font-weight: 600;
	color:#555;
	font-size: 21px;
}

.shipping h3 span{
	line-height: 35px;
	font-weight: 400;
	color:#555;
	font-size: 18px;
}

.shipping_details .row {
	margin-bottom: 20px;
}

.shipping_details ul {
	padding-left: 20px;
}