body{
	font-family: 'Roboto';
}
.tos_details {
	margin:40px auto;
}
.tos h3 {
	line-height: 35px;
	font-weight: 600;
	color:#555;
	font-size: 21px;
}

.tos h3 span{
	line-height: 35px;
	font-weight: 400;
	color:#555;
	font-size: 18px;
}

.tos_details .row {
	margin-bottom: 20px;
}

.tos_details ul {
	padding-left: 20px;
}