.watchlist-container {
	max-height: 700px;
	overflow: auto;
}
.table-watchlist .card-image {
	max-height: 90px;
	overflow: hidden;
}

.table-watchlist .card-image img:not(.card_tag_language):not(.card_label) {
  height: 80px;
}

.table-watchlist .card-image img.card_tag_language {
    width: 16px !important;
    height: 10px !important;
}

.table-watchlist .card-name a {
	cursor: pointer;
	text-decoration: underline;
}