<template>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Dashboard
        <small></small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><img src="assets/images/White/150x150/orders.png"></span>

            <div class="info-box-content">
              <span class="info-box-text">Orders</span>
              <span class="info-box-number" v-html="num_orders"></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><img src="assets/images/White/150x150/products.png"></span>

            <div class="info-box-content">
              <span class="info-box-text">Products</span>
              <span class="info-box-number" v-html="num_products"></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><img src="assets/images/White/150x150/sales.png"></span>

            <div class="info-box-content">
              <span class="info-box-text">Total Sales</span>
              <span class="info-box-number" v-html="num_sales"></span>
            </div>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><img src="assets/images/White/150x150/users.png"></span>

            <div class="info-box-content">
              <span class="info-box-text">Users</span>
              <span class="info-box-number" v-html="num_users"></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
  </div>
</template>
<script type="text/javascript">
  export default{
    data(){
     return {
     	num_orders: 0,
     	num_products: 0,
     	num_sales: 0,
     	num_users: 0

     } 
    },
    mounted(){
      loading()
      this.getData()
      setTimeout(()=>{
        close_loading()
      },1000)
    },
    methods: {
    	getData(){
    		const url = `${base_url}/dashboard_api/get_dashboard_data`;
        axios.get(url)
	     .then((response) => {
	        this.num_orders = response.data.num_orders;
	        this.num_products = response.data.num_products;
	        this.num_sales = response.data.num_sales;
	        this.num_users = response.data.num_users;
	      })
	     .catch(function (error) {
	       console.log(error);
	     });
    	}
    }
  }
</script>