<template>
		<header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><img src="assets/images/favicon.png" class="img-responsive" style=""></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><img src="assets/images/logo.png" class="img-responsive"></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" @click="logout()"> 
              Logout
            </a>
            <ul class="dropdown-menu">
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
 
</template>

<script type="text/javascript">
	export default{
   data(){
	     return{
	   }
	  },
   methods: {
   	logout() {
   		const url = `${base_url}secure_admin/logout`;
      axios.get(url)
	     .then((response) => {
	        location.href =  response.data.url;
	      })
	     .catch(function (error) {
	       console.log(error);
	     });
   	}
   }
	}
</script>