<template>
		 <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="">
          	<router-link :to="{ name: '/' }" class=""><img src="assets/images/Gray/30x30/dashboard.png">
		                    <span>Dashboard</span></router-link>
        </li>
        <li class="treeview">
          <a href="#">
            <img src="assets/images/Gray/30x30/users.png"> <span>Users</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{ name: '/add_users' }" class=""><i class="fa fa-circle-o"></i>
                    <span>Add</span></router-link>
            </li>
            <li>
          		<router-link :to="{ name: '/view_users' }" class=""><i class="fa fa-circle-o"></i>
                    <span>View List</span></router-link>
          	</li>
          </ul>
        </li>
        <li class="treeview ">
          <a href="#">
            <img src="assets/images/Gray/30x30/order.png"> <span>Orders</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{ name: '/view_orders' }" class=""><i class="fa fa-circle-o"></i>
                    <span>View List</span></router-link>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <img src="assets/images/Gray/30x30/products.png"> <span>Products</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
          	<li>
              <router-link :to="{ name: '/view_products' }" class=""><i class="fa fa-circle-o"></i>
              <span>View Products</span></router-link>
            </li>
           <li>
              <router-link :to="{ name: '/add_products' }" class=""><i class="fa fa-circle-o"></i>
              <span>Add Product</span></router-link>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <img src="assets/images/Gray/30x30/products.png"> <span>Products Category</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{ name: '/add_category' }" class=""><i class="fa fa-circle-o"></i>
                    <span>Add</span></router-link>
            </li>
            <li>
            <router-link :to="{ name: '/view_categories' }" class=""><i class="fa fa-circle-o"></i>
                    <span>View List</span></router-link>
           </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <img src="assets/images/Gray/30x30/products.png"> <span>Widgets</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
           <li>
            <router-link :to="{ name: '/edit_banner' }" class=""><i class="fa fa-circle-o"></i>
                    <span>View Banner</span></router-link>
           </li>
            <li>
            <router-link :to="{ name: '/edit_newest_expansion' }" class=""><i class="fa fa-circle-o"></i>
                    <span>View Newest Expansion</span></router-link>
           </li>
          <!--  <li>
            <router-link :to="{ name: '/view_hot_categories' }" class=""><i class="fa fa-circle-o"></i>
                    <span>View Hot Categories</span></router-link>
           </li> -->
          </ul>
        </li>
        <li class="treeview ">
          <a href="#">
            <img src="assets/images/Gray/30x30/loyalty_program.png"> <span>Loyalty Program</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{ name: '/view_loyalty' }" class=""><i class="fa fa-circle-o"></i>
                    <span>View List</span></router-link>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <img src="assets/images/Gray/30x30/sales.png"> <span>Coupons</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{ name: '/add_coupons' }" class=""><i class="fa fa-circle-o"></i>
                    <span>Add</span></router-link>
            </li>
            <li>
            <router-link :to="{ name: '/view_coupons' }" class=""><i class="fa fa-circle-o"></i>
                    <span>View List</span></router-link>
           </li>
          </ul>
        </li>
        <li class="treeview ">
          <a href="#">
            <img src="assets/images/Gray/30x30/report.png"> <span>Reports</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{ name: '/view_reports' }" class=""><i class="fa fa-circle-o"></i>
                    <span>View List</span></router-link>
            </li>
          </ul>
        </li>
        <li class="treeview ">
          <a href="#">
            <img src="assets/images/Gray/30x30/pages.png"> <span>Pages</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{ name: '/add_pages' }" class=""><i class="fa fa-circle-o"></i>
                    <span>Add</span></router-link>
            </li>
            <li>
              <router-link :to="{ name: '/list_pages' }" class=""><i class="fa fa-circle-o"></i>
                    <span>View List</span></router-link>
            </li>
          </ul>
        </li>
        <li>
          <router-link :to="{ name: '/view_audit' }" class=""><img src="assets/images/Gray/30x30/audits.png">
                <span>Audits</span></router-link>
        </li>
        
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</template>