<template>
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Manage Category
        <small>Update Category</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
     <div class="row">
      <div class="col-md-12 col-lg-8">
           <!-- Input addon -->
           <div class="box box-success">
             <!-- <div class="box-header with-border">
               <h3 class="box-title">Input Addon</h3>
             </div> -->
             <div class="box-body">
              <form action="#"  @submit.prevent="submitForm()" autocomplete="off">
              	<div class="row">
              		<div class="col-md-12">
	                  <h4 >Edit Category</h4>
	                </div>
              	</div>
                <div class="row" v-for="(item, index) in sub_category" :key="index" >
                	<div class="col-md-3" >
	                   <div class="form-group">
	                      <label for="FirstName">Category Name</label>
	                      <input class="form-control" id="first_name" name="first_name" v-model="sub_category[index]"   type="text"   required />
	                   </div>
	                </div>
                 <div class="col-md-3"  >
                    <div class="form-group">
                       <label for="FirstName">Category Name (CHI)</label>
                       <input class="form-control" id="first_name" name="first_name" v-model="sub_category_chi[index]"   type="text"   />
                    </div>
                 </div>
                 <div class="col-md-3" >
                    <div class="form-group">
                       <label for="FirstName">Set Code Logo</label>
                       <input class="form-control" id="first_name" name="first_name" v-model="sub_category_code[index]"   type="text"    />
                    </div>
                 </div>
                 <div class="col-md-3" >
                    <div class="form-group">
                       <label for="FirstName">Set Code Name</label>
                       <div class="input-group">
                       <input type="text" class="form-control" v-model="sub_category_main_code[index]">
                       <span class="input-group-btn" >
                         <button class="btn btn-danger" type="button" @click="deleteRow(index)"><i class="fa fa-minus"></i></button>
                         <button class="btn btn-primary" type="button" @click="moveUp(index)" v-if="index!=0"><i class="fa fa-arrow-up"></i></button>
                         <button class="btn btn-primary" type="button" @click="moveDown(index)"  v-if="index!=sub_category.length-1"><i class="fa fa-arrow-down"></i></button>
                       </span>
                     </div><!-- /input-group -->
                    </div>
                 </div>
                </div>
                <button class="btn btn-success" id="btnSubmit">Update Category</button>
                <button class="btn btn-warning" type="button" @click="addCategory()">Add Category</button>
              </form>
             </div>
             <!-- /.box-body -->
           </div>
           <!-- /.box -->
         </div>
     </div>
    </section>
  </div>
</template>
<style type="text/css">
.ladda-button[data-style=expand-right][data-loading] {
    padding-right: 46px;
}
 .ladda-button {
      padding: 7px 15px;
 }
</style>
<script type="text/javascript">

 export default{
   data(){
     return{
        sub_category: '',
        sub_category_code:'',
        sub_category_main_code: '',
        sub_category_chi:'',
       	id: '',
       	tmp_sub_category: '',
       	tmp_sub_category_code: '',
       	tmp_sub_category_main_code: '',
    }
   },
   created(){

   },
   mounted(){
    this.id = this.$route.params.id.replace(/\$st/g,"/");
    this.setContent()
   },
   methods: {
    deleteRow(index){
     this.sub_category.splice(index,1)
     this.sub_category_code.splice(index,1)
     this.sub_category_main_code.splice(index,1)
    },
    addCategory() {
     var menu_length = this.sub_category.length - 1 ;
     if(this.sub_category[menu_length] != "") {
     	/*this.sub_category.pop();
      this.sub_category_code.pop();
      this.sub_category_main_code.pop();*/

      this.sub_category.push("")
      this.sub_category_chi.push("")
      this.sub_category_code.push("")
      this.sub_category_main_code.push("")

      /*	this.sub_category.push(this.tmp_sub_category)
      this.sub_category_code.push(this.tmp_sub_category_code)
      this.sub_category_main_code.push(this.tmp_sub_category_main_code)*/
     } else {
      alert("Please fill first the added fields.")
     }
    },
     submitForm () {
      confirm_alert('The category will be updated','','info').then((response) => {
        var l = Ladda.create( document.querySelector( '#btnSubmit' ) );
        l.start();
        this.sub_category.reverse();
        this.sub_category_chi.reverse();
	       this.sub_category_code.reverse();
	       this.sub_category_main_code.reverse();
        let menu_sub_category =  JSON.stringify(this.sub_category);
        let menu_sub_category_chi =  JSON.stringify(this.sub_category_chi);
        let menu_sub_category_code =  JSON.stringify(this.sub_category_code);
        let menu_sub_category_main_code =  JSON.stringify(this.sub_category_main_code);
        let url = base_url+'categories_api/edit';
        loading();
        axios.post(url, {
           token: getCookie('csrf_cookie'),
           sub_category: menu_sub_category,
           sub_category_chi: menu_sub_category_chi,
           sub_category_code: menu_sub_category_code,
           sub_category_main_code: menu_sub_category_main_code,
           id: this.id
         })
         .then((response) => {
           if(response.data.message=="success") {
               l.stop();
               $("#btnSubmit").removeClass('ladda-button');
               setTimeout(()=>{
               	close_loading()
               	swal("Updated Successfully","","success");
                window.location.href = base_url +"secure_admin#/view_categories"
               },2000)
           }
           else {
            console.log(response.data.message);
           }
         })
         .catch(function (error) {
           console.log(error);
         });
      });
      
     },
     setContent(){
      const url = `${base_url}categories_api/get_menu/?q=${escape(this.id)}`;
       axios.get(url)
       .then((response) => {
         var contents = response.data.menu;
         contents.map((item, index) => {
          this.sub_category = JSON.parse(item.sub_category)
          this.sub_category_chi = item.sub_category_chi ? JSON.parse(item.sub_category_chi) : [];
         /* for(var x = 0; x < this.sub_category.length; x++) {
           this.sub_category_chi.push('');
          }*/
          
          this.sub_category_code = JSON.parse(item.sub_category_code)
          this.sub_category_main_code = JSON.parse(item.sub_category_main_code)
          this.sortArray();
         })
         close_loading();       
       })
       .catch(function (error) {
         console.log(error);
       });
     },
     moveDown(index) {
     	let tmp_sub_category = [this.sub_category[index], this.sub_category[index + 1]];
      let tmp_sub_category_chi = [this.sub_category_chi[index], this.sub_category_chi[index + 1]];
     	let tmp_sub_category_code = [this.sub_category_code[index], this.sub_category_code[index + 1]];
     	let tmp_sub_category_main_code = [this.sub_category_main_code[index], this.sub_category_main_code[index + 1]];
    		this.sub_category.splice(index, 2, tmp_sub_category[1], tmp_sub_category[0] );
      this.sub_category_chi.splice(index, 2, tmp_sub_category_chi[1], tmp_sub_category_chi[0] );
    		this.sub_category_code.splice(index, 2, tmp_sub_category_code[1], tmp_sub_category_code[0] );
    		this.sub_category_main_code.splice(index, 2, tmp_sub_category_main_code[1], tmp_sub_category_main_code[0] );
     },
     moveUp(index) {
     	let tmp_sub_category = [this.sub_category[index], this.sub_category[index - 1]];
      let tmp_sub_category_chi = [this.sub_category_chi[index], this.sub_category_chi[index - 1]];
     	let tmp_sub_category_code = [this.sub_category_code[index], this.sub_category_code[index - 1]];
     	let tmp_sub_category_main_code = [this.sub_category_main_code[index], this.sub_category_main_code[index - 1]];
    		this.sub_category.splice(index-1, 2, tmp_sub_category[0], tmp_sub_category[1]);
      this.sub_category_chi.splice(index-1, 2, tmp_sub_category_chi[0], tmp_sub_category_chi[1]);
    		this.sub_category_code.splice(index-1, 2, tmp_sub_category_code[0], tmp_sub_category_code[1] );
    		this.sub_category_main_code.splice(index-1, 2, tmp_sub_category_main_code[0], tmp_sub_category_main_code[1] );
     },
     sortArray(){
     	var menu_length = this.sub_category.length - 1 ;
     	this.sub_category.reverse();
      this.sub_category_chi.reverse();
      this.sub_category_code.reverse();
      this.sub_category_main_code.reverse();
      this.tmp_sub_category = this.sub_category[menu_length];
      this.tmp_sub_category_chi = this.sub_category_chi[menu_length];
      this.tmp_sub_category_code = this.sub_category_code[menu_length];
      this.tmp_sub_category_main_code = this.sub_category_main_code[menu_length];
     }
   }
 }
</script>