<template>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       	Manage Audit Trails
        <small>View List</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<div class="col-md-12">
    			<!-- Form Element sizes -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Audit trails</h3>
            </div>
            <div class="box-body">
            	<table id="tbl_audit" class="table table-bordered table-striped table-responsive">
                <thead>
                <tr>
                	<th>Row</th>
                	<th>Action</th>
                  <th>Description</th>
                  <th>Type</th>
                  <th>Additional Info</th>
                  <th>Email</th>
                  <th>User Agent</th>
                  <th>Platform</th>
                  <th>Ip address</th>
                  <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(val, index) in rows" :key="index" :class="`row${index}`">
                  <td>{{++index}}</td>
                  <td>{{val.action}}</td>
                  <td>{{val.description}}</td>
                  <td>{{val.type}}</td>
                  <td >{{val.additional_info}}</td>
                  <td>{{val.email}}</td>
                  <td>{{val.user_agent}}</td>
                  <td>{{val.platform}}</td>
                  <td>{{val.ip_address}}</td>
                  <td >{{val.created_at}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
    		</div>
    	</div>
    </section>
  </div>
</template>
<script type="text/javascript">
	export default{
	  data(){
	    return{
        rows: [],
			}
	  },
	  mounted () {
      loading()
	  	this.setTable();
      setTimeout(()=>{
        close_loading()
      },1000)
	  },
	  methods: {
	  	setTable() {
        const url = `${base_url}/audits_api/get_all_audit`;
        axios.get(url)
			  .then((response) => {
           this.rows = response.data.audits;
          setTimeout(() => {
          	 $('#tbl_audit').DataTable({
                 "order": [[ 9, "desc" ]]
             })
          })
        })
			  .catch(function (error) {
			    console.log(error);
			  });
	  	}
   }
	}
</script>