<template>
	<div id="sabai-cards-list">
		<table class="table table-hover card-table-list">
			<thead>
				<th>Popup</th>
				<th>Product Name</th>
				<th>Edition</th>
				<th>Cost</th>
				<th>Condition</th>
				<th>Price</th>
			</thead>
			<tbody>
				<tr v-for="cards in card_list">
					<td>{{ cards.image }}</td>
					<td>{{ cards.name }}</td>
					<td>{{ cards.set }}</td>
					<td>{{ cards.mana }}</td>
					<td>{{ cards.fully_handled ? cards.fully_handled : 'near mint' }}</td>
					<td>{{ cards.regular_price }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script>

export default {
	data () {
		return {
			card_list: [],
		}
	},
	created() {
		$.ajax({
			type: 'GET',
			url: "registration/order_product",
			success: function(){

			}
		});
	},
	methods: {
	}
}
</script>