<template>
	<div>
		<div id="cd-shadow-layer"></div>
		<div id="cd-cart">
			<div id="cd-cart-trigger" class="cd-basket">
				<span class="cd-item-count">{{ items.length }}</span>
				<span class="cd-icon-basket"><i class="fa fa-shopping-bag" aria-hidden="true" @click="show_cart()"></i></span>
			</div>
			<p>
				<span id="cd-cart-header">{{ get_language('Your Cart') }}</span> 
				<span class="cd-cart-close pull-right">X</span>
			</p>
   <p v-if="items.length==0"><br>{{ get_language('Your cart is empty.') }}</p>
			<ul class="cd-cart-items">
				<li v-for="(card_items, index) in items">
					<div class="image-container" style="display: inline-block">
						<img :src="getCardLanguageTag(card_items)" class="card_tag_language" v-show="hasCardLanguageTag(card_items)" >
						<img :src="getCardLabel(card_items)" class="card_tag_language" v-show="hasCardLabel(card_items)" >
						<label class="datestamp_tag" v-show="hasCardDatestampTag(card_items)" style="font-size: 4px; bottom: 36%; padding: 1px;">{{ getCardDatestampTag(card_items) }}</label>
						<img :src="getPlaneswalkerSrc()" class="planeswalker_tag" v-if="card_items.card.promo == 'planeswalker'">
						<img class="card-image" :src="card_items.card.img_src" :alt="card_items.card.name" :title="card_items.card.name">
						<div class="after" v-if="checkFoilCard(card_items.card)"></div>
					</div>
					<div style="display: inline-block; vertical-align: top;width:65%;">
						<span class="cd-qty">{{ card_items.quantity }}x</span> {{ getCardLanguage(card_items) }}{{ getCardDetails(card_items) }} <p>{{ getCardNameLang(card_items) }}</p>
						<!-- <div>{{ getCardType(card_items) }}</div> -->
						<div>{{ card_items.variation ? card_items.variation : 'Regular' }}</div>
						<div class="cd-price">Amount: <span>{{main_currency_sign}} {{ (card_items.quantity * (card_items.variation == 'Regular' ? card_items.card.regular_price : card_items.card.foil_price)) }}<b></b></span></div>
					</div>
					<a href="#0" class="cd-item-remove" @click="removeCard(index)"><i class="fa fa-minus"></i></a>
				</li>
			</ul> <!-- cd-cart-items -->
   
   <div class="checkout_cta_container" style="padding: 8px;">
 			<div class="cd-cart-total">
 				<p><b>{{ get_language('Subtotal') }}:</b> {{main_currency_sign}} {{ total_amount }}</p>
 			</div> 
     <a href="#0" class="cta_btn" @click="checkout()" v-if="items.length != 0">{{ get_language('Checkout') }}</a>
     <a :href="base_url + 'cart'" class="cta_btn"v-if="items.length != 0">{{ get_language('View cart') }}</a>
     <a href="#0" class="cd-cart-close cta_btn">{{ get_language('Continue Shopping') }}</a>
   </div>
		</div> <!-- cd-cart -->
	</div>
</template>

<script>

export default {
	data () {
		return {
			items: window.cart_list,
			total_amount: 0,
			main_currency_sign: 'NT',
			base_url: window.base_url,
			site_language: site_language,
			tw_text: tw_text
		}
	},
	created() {
		let vm = this;
		this.getTotalAmount();
		bus.$on('refresh_cart',function(item) {
			vm.items = item;
			vm.getTotalAmount();
	});
	},
	methods: {
		getTotalAmount() {
			let vm = this;
			this.total_amount = 0;
			this.items.forEach(function(card_items){
				vm.total_amount += card_items.quantity * (card_items.variation == 'Regular' ? card_items.card.regular_price : card_items.card.foil_price);
			});
		},
		get_language(key) {
		  var value = key + '';
		  key = key.toLowerCase();

		  if(this.site_language == 'traditional_chinese') {
		  	return typeof this.tw_text[key] !== 'undefined' ? this.tw_text[key] : value;
		  }

		  return value;
		},
		show_cart(){
			let vm = this;
			setTimeout(function(){
				if($('cd-shadow-layer').hasClass('is-visible')){
				$.ajax({
					type: "POST",
					url: base_url + "api/get_cart",
					data: {
						id: ''
					},
					success: function(data) {
						data = JSON.parse(data);
						vm.items = data;
						vm.getTotalAmount();
					}
				});
			}
				
			});
		},
		getCardDetails(card){
			var disp = '';
			var name = card.card.name;

			if(!card.card.regular_price) {
				name = name.replace('[FOIL] ', '');
				name = '[FOIL] ' + name.replace(' - Foil', '');
			}
			
			if(card.card.rarity=='T'){
				if(card.card.type.includes('Basic Land')) {
					disp = name + ' (' + card.card.collector_number + ') (' + card.card.set_code +')';
				} else {
					disp = name;
				}
			} else {
				if(card.card.type.includes('Basic Land')) {
					disp = name + ' (' + card.card.collector_number + ') (' + card.card.set_code +')';
				} else {
					disp = name;
				}
			}
			return disp;
		},
		cardTagStyle(card){
			var style = {
				'font-size': '4px',
				'top': '8px',
				'right': '4px',
				'padding': '1px',
				'color': card.card.tag_color,
				'background': card.card.tag_bg_color
			}

			return style;
		},
		getCardTag(card){
			var tag = '';
			tag = card.card.tag == 'custom' ? card.card.custom_tag : card.card.tag;

			return tag
		},
		hasCardTag(card){
			var tag = '';
			tag = card.card.tag == 'custom' ? card.card.custom_tag : card.card.tag;

			return tag != '';
		},
		hasCardLanguageTag(card){
			var card_language = card.card.language + '';
			card_language = card_language.toUpperCase();
			var disp = false;
			
			if(card.card.category != 'single cards') return disp;
			if(card_language == 'TW' || card_language == 'ENG' || card_language == 'JP') disp = true;

			return disp
		},
		hasCardLabel(card){
			var tag = card.card.tag + '';
			tag = tag.toLowerCase();
			var language = card.card.language + '';
			language = language.toLowerCase();

			var label = ['best_seller', 'great_value', 'limited_time', 'new_product', 'preorder', 'promotion', 'recommended', 'sale', 'selling_fast', 'special_order'];
			var i = label.indexOf(tag);
			var disp = false;
			var lang = '';
			
			if(card.card.category != 'single cards') return disp;

			if(language == 'eng') {
				lang = 'en';
			} else if(language == 'tw') {
				lang = 'tw';
			}

			if(i >= 0 && lang != '') {
				disp = true;
			}

			return disp;
		},
		getCardLabel(card) {
			var tag = card.card.tag + '';
			tag = tag.toLowerCase();
			var language = card.card.language + '';
			language = language.toLowerCase();

			var label = ['best_seller', 'great_value', 'limited_time', 'new_product', 'preorder', 'promotion', 'recommended', 'sale', 'selling_fast', 'special_order'];
			var i = label.indexOf(tag);
			var disp = '';
			var lang = 'en';

			if(card.card.category != 'single cards') return disp;

			if(site_language == 'traditional_chinese') {
				lang = 'tw';
			}

			if(i >= 0 && lang != '') {
				i++;
				disp = '<img src="' + base_url + 'assets/images/labels/' + 'label-' + lang + '-' + pad(i, 2) + '.png' + '" class="card_label" >';
			}

			return disp;
		},
		getCardLanguageTag(card){
			var card_language = card.card.language + '';
			card_language = card_language.toUpperCase();
			var disp = '';

			if(card.card.category != 'single cards') return disp;

			if(card_language == 'TW') {
				disp = this.base_url + 'assets/images/tag/tw_tag.jpeg';
			} else if(card_language == 'ENG') {
				disp = this.base_url + 'assets/images/tag/eng_tag.jpeg';
			} else if(card_language == 'JP') {
				disp = this.base_url + 'assets/images/tag/jp_tag.jpeg';
			} 

			return disp;
		},
		hasCardDatestampTag(card){
			var card_datestamp = card.card.datestamp;
			var disp = card_datestamp && card.card.promo == 'datestamp' ? true : false;
			return disp
		},
		getCardDatestampTag(card){
			var card_datestamp = card.card.datestamp;
			var disp = card_datestamp && card.card.promo == 'datestamp' ? card_datestamp : '';
			return disp;
		},
		getCardLanguage(card){
			var lang = card.card.language;
			if(lang.toUpperCase() == 'ENG') lang = 'EN';
			var disp = lang ? '[' + lang + '] ' : '';
			return disp.toUpperCase();
		},
		getCardNameLang(card){
			if(card.card.language.toLowerCase() == 'tw' || card.card.language.toLowerCase() == 'eng'){
				var card_name_lang = card.card.name_tw ? card.card.name_tw : '';
				return card_name_lang;
			} else if(card.card.language.toLowerCase() == 'jp') {
				var card_name_lang = card.card.name_jp ? card.card.name_jp : '';
				return card_name_lang;
			} else if(card.card.language.toLowerCase() == 'ko') {
				var card_name_lang = card.card.name_ko ? card.card.name_ko : '';
				return card_name_lang;
			}

			return '';
		},
		getCardType(card) {
			if(card.card.type == '') return;
			return card.card.type.replace('?','—');
		},
		checkFoilCard(card){
			if(card.regular_price){
				return false;
			}
			return true;
		},
		getPlaneswalkerSrc(){
			return this.base_url + 'assets/images/planeswalker.png';
		},
		checkout() {
			window.location.href = base_url + 'checkout';
		},
		removeCard(index) {
			let vm = this;

			$.ajax({
				type: "POST",
				url: base_url + "api/remove_item_cart",
				data: {
					id: vm.items[index].card.id
				},
				success: function(data) {
					data = JSON.parse(data);
					vm.check_add_to_cart(vm.items[index].card.id, 0);
					vm.items = data.cart_list;
					vm.getTotalAmount();
				}
			});

		},
		check_add_to_cart(id, value){
			var add_cart_button = $('.add_to_cart[data-id="'+ id +'"]');
			var default_text = add_cart_button.data('default-text');
			if(value == 0){
				add_cart_button.removeClass('btn-default');
				add_cart_button.addClass('btn-primary');
				add_cart_button.html(default_text);
			} else {
				add_cart_button.addClass('btn-default');
				add_cart_button.removeClass('btn-primary');
				add_cart_button.html(value + ' in cart');
			}
		}
	}
}
</script>