<template>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" id="admin-order-view">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       	Manage Orders
        <small>View List</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
        <div class="col-md-12">
          <div class="col-md-4 form-group">
            <label>Status</label>
            <select class="form-control" v-model="filter_status" @change="filterTable()">
              <option value="all">All</option>
              <option value="0">Pending</option>
              <option value="1">Processing</option>
              <option value="3">Completed</option>
              <option value="4">Cancelled</option>
            </select>
          </div>
          <div class="col-md-4 form-group">
            <label>Payment Status</label>
            <select class="form-control" v-model="filter_payment_status" @change="filterTable()">
              <option value="all">All</option>
              <option value="1">Paid</option>
              <option value="0">Unpaid</option>
            </select>
          </div>
          <div class="col-md-4 form-group">
            <label>Payment Mode</label>
            <select class="form-control" v-model="filter_payment_mode" @change="filterTable()">
              <option value="all">All</option>
            </select>
          </div>
          <div class="col-md-4 form-group">
            <label>Date Range</label>
            <date-picker v-model="filter_date" range lang="en" @change="filterTable()"></date-picker>
          </div>
          <div class="col-md-4 form-group">
            <label>Mode</label>
            <select class="form-control" v-model="filter_mode" @change="filterTable()">
              <option value="Live">Live</option>
              <option value="Test">Test</option>
            </select>
          </div>
        </div>
    		<div class="col-md-12">
    			<!-- Form Element sizes -->
          <div class="box box-success">
            <div class="box-header with-border">
              <button class="btn btn-primary pull-right" @click="exportTable()">Export Data</button>
              <h3 class="box-title">List of Orders</h3>
            </div>
            <div class="box-body">
            	<table id="tbl_orders" class="table table-bordered table-striped table-responsive">
                <thead>
                <tr>
                  <th>Email</th>
                  <th>Invoice Number</th>
                  <th>Amount</th>
                  <th>Country</th>
                  <th>Payment Mode</th>
                  <th>Payment Status</th>
                  <th>Order Status</th>
                  <th>Expiration Date</th>
                  <th>Date ordered</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(val, index) in rows" :key="index" :class="`row${index}`">
                  <td><p>{{val.email}}</p></td>
                  <td><a href='javascript:void(0)' @click="view_order(val.id)">#{{ val.invoice_number }}</a></td>
                  <td><p>{{main_currency_sign}} {{val.price}}</p></td>
                  <td><p>{{val.shipping_info.country}}</p></td>
                  <td><p>{{val.payment_mode}}</p></td>
                  <td>{{ getPaymentStatus(val.status) }}</td>
                  <td>{{ check_status(val.admin_status) }}</td>
                  <td>{{ val.payment_mode == 'Paypal' ? 'N/A' : val.expired_at }}</td>
                  <td>{{val.created_at}}</td>
                  <td>
                  	<div class="dropdown">
										  <button class="btn dropdown-toggle" type="button" v-bind:class="{ disabled: val.admin_status >= 3, 'btn-success': val.admin_status == 3, 'btn-danger': val.admin_status == 4 || val.admin_status == 5 || val.admin_status == 6, 'btn-primary': !(val.admin_status >= 3) }" data-toggle="dropdown">Set Status
										  <span class="caret"></span></button>
										  <ul class="dropdown-menu">
										    <li v-bind:class="{ active: val.admin_status == 0 }"><a href="javascript:void(0)" @click="changeStatus(0, index)">Pending</a></li>
										    <li v-bind:class="{ active: val.admin_status == 1 }"><a href="javascript:void(0)" @click="changeStatus(1, index)">Processing</a></li>
                        <li v-bind:class="{ active: val.admin_status == 3 }"><a href="javascript:void(0)" @click="changeStatus(3, index)">Completed</a></li>
                        <li v-bind:class="{ active: val.admin_status == 4 }"><a href="javascript:void(0)" @click="changeStatus(4, index)">Cancelled</a></li>
										  </ul>
										</div>
                   	
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
    		</div>
    	</div>
    </section>
  </div>
</template>
<script type="text/javascript">
  import DatePicker from 'vue2-datepicker'
	export default{
    components: { DatePicker },
	  data(){
	    return{
        rows: [],
        filter_payment_status: 'all',
        filter_payment_mode: 'all',
        filter_status: 'all',
        filter_date: '',
        filter_mode: 'Live',
        tbl_orders: '',
        main_currency_sign:'NT'
			}
	  },
	  mounted () {
      loading()
	  	this.setTable();
	  },
	  methods: {
      view_order(id) {
      	window.open(
				  base_url+`secure_admin#/view_orders/${escape(id).replace(/\//g,"$st")}`,
				  '_blank' // <- This is what makes it open in a new window.
				);
        //this.$router.push(`/view_orders/${escape(id).replace(/\//g,"$st")}`);
      }, 
      pad(num, size) {
        var s = num+"";
        while (s.length < size) s = "0" + s;
        return s;
      },
      filterTable(){   
        let vm = this
        loading();
        const url = `${base_url}/orders_api/get_orders/?status=` + this.filter_status + `&payment_mode=` + this.filter_payment_mode + `&payment_status=` + this.filter_payment_status + `&mode=` + this.filter_mode;
        axios.get(url) 
        .then((response) => {
           this.rows = [];
           var orders = response.data.orders;

          if(this.filter_date.length != 0) {
             orders.map((item, index) => {
              var payment_details = JSON.parse(item.payment_details);
              var item_date = new Date(item.created_at);
              var date_from = new Date(this.filter_date[0]);
              var date_to = new Date(this.filter_date[1]);
              date_to.setDate(date_to.getDate() + 1);
              if(item_date.getTime() >= date_from.getTime() && item_date.getTime() <= date_to.getTime()){
               this.rows.push(
               {
                 id: item.id,
                 invoice_number: item.invoice_number,
                 email: item.email,
                 billing_info: JSON.parse(item.billing_info),
                 shipping_info:JSON.parse(item.shipping_info),
                 price:item.price,
                 status:item.status,
                 coupon_value:item.coupon_value,
                 payment_details: payment_details,
                 payment_mode: item.payment_mode,
                 total_base_price: item.total_base_price,
                 admin_status:item.admin_status,
                 expired_at:item.expired_at,
                 created_at:item.created_at
               })
             }
             })
           }
         else {
            orders.map((item, index) => {
              var payment_details = JSON.parse(item.payment_details);
              this.rows.push(
               {
                 id: item.id,
                 invoice_number: item.invoice_number,
                 email: item.email,
                 billing_info: JSON.parse(item.billing_info),
                 shipping_info:JSON.parse(item.shipping_info),
                 price:item.price,
                 status:item.status,
                 coupon_value:item.coupon_value,
                 payment_details: payment_details,
                 payment_mode: item.payment_mode,
                 total_base_price: item.total_base_price,
                 admin_status:item.admin_status,
                 expired_at:item.expired_at,
                 created_at:item.created_at
               })
            });
         }
          $("#tbl_orders").dataTable().fnDestroy();
          setTimeout(() => {
             vm.tbl_orders = $('#tbl_orders').DataTable({
                "searching": false,
                 "order": [[ 8, "desc" ]],
                 "lengthMenu": [25,50, 100]
             })
          })

          close_loading()
        })
        .catch(function (error) {
          console.log(error);
        });
      },
	  	setTable() {
        let vm = this
        const url = `${base_url}/orders_api/get_orders`;
        axios.get(url) 
			  .then((response) => {
           var orders = response.data.orders;
             orders.map((item, index) => {
              var payment_details = JSON.parse(item.payment_details);
               this.rows.push(
               {
                 id: item.id,
                 invoice_number: item.invoice_number,
                 email: item.email,
                 billing_info: JSON.parse(item.billing_info),
                 shipping_info:JSON.parse(item.shipping_info),
                 price:item.price,
                 status:item.status,
                 coupon_value:item.coupon_value,
                 payment_details: payment_details,
                 payment_mode: item.payment_mode,
                 total_base_price: item.total_base_price,
                 admin_status:item.admin_status,
                 expired_at:item.expired_at,
                 created_at:item.created_at
               })
             })
          setTimeout(() => {
          	 vm.tbl_orders = $('#tbl_orders').DataTable({
                 "order": [[ 8, "desc" ]],
                 "lengthMenu": [25,50, 100],
                 "columnDefs": [ {
					          "targets": [0,1,9],
					          "orderable": false
					    		},{'sType': 'currency', 'aTargets': [2] }]
             })
          })

          close_loading()
        })
			  .catch(function (error) {
			    console.log(error);
			  });
	  	},
      check_status(status) {
        if(status == '0') {
          return 'Pending';
        } else if(status == '1') {
          return 'Processing';
        } else if(status == '2') {
          return 'On Hold';
        } else if(status == '3') {
          return 'Completed';
        } else if (status == '4') {
          return 'Cancelled';
        } else if (status == '5') {
          return 'Refunded';
        }
        
        return 'Failed';
     },
     getPaymentStatus(status) {
        return status == 1 ? 'Paid' : 'Unpaid';
     },
     changeStatus(status_id, index) {
      var vm = this;
      var url = `${base_url}orders_api/change_status`;

      if(vm.check_status(status_id) == 'Failed' || vm.check_status(status_id) == 'Cancelled' || vm.check_status(status_id) == 'Refunded') {
        confirm_alert('Warning', 'Cancelling this order will automatically refund the payment. Do you still want to proceed?', 'warning').then(function(result) {

          vm.rows[index].admin_status = status_id;
          var bodyFormData = new FormData();
          bodyFormData.set('id', vm.rows[index].id);
          bodyFormData.set('status', status_id);
          bodyFormData.set('token', getCookie('csrf_cookie'));
          axios.post(url, bodyFormData)
          .then((response) => {

          })
          .catch(function (error) {

          });

          url = `${base_url}functions/refundPayment`;
          var bodyFormData = new FormData();
          bodyFormData.set('id', vm.rows[index].id);
          bodyFormData.set('email', vm.rows[index].email);
          bodyFormData.set('token', getCookie('csrf_cookie'));
          axios.post(url, bodyFormData)
          .then((response) => {

          })
          .catch(function (error) {

          });
          notify2('Success', '', 'success');
        }, function(dismiss){

        });
        return;
      }

      vm.rows[index].admin_status = status_id;
      var bodyFormData = new FormData();
      bodyFormData.set('id', vm.rows[index].id);
      bodyFormData.set('status', status_id);
      bodyFormData.set('token', getCookie('csrf_cookie'));
      axios.post(url, bodyFormData)
      .then((response) => {

      })
      .catch(function (error) {

      });
      if(vm.check_status(status_id) == 'Completed') vm.rows[index].status = 1;
      notify2('Success', '', 'success');

      if((vm.check_status(status_id) == 'Completed' || vm.check_status(status_id) == 'Processing') && vm.rows[index].is_points_earned != 1) {
        vm.rows[index].is_points_earned = 1;
        url = `${base_url}orders_api/grant_user_points`;
        var bodyFormData = new FormData();
        bodyFormData.set('id', vm.rows[index].id);
        bodyFormData.set('points', vm.rows[index].points_earned);
        bodyFormData.set('token', getCookie('csrf_cookie'));
        axios.post(url, bodyFormData)
        .then((response) => {

        })
        .catch(function (error) {

        });
      }

     },
     exportTable() {
      loading();
      let url = `${base_url}orders_api/save_session`;
      let orders = [];
      let vm = this;
      this.tbl_orders.rows().every(function (rowIdx, tableLoop, rowLoop) {
         // here
          orders.push(vm.rows[rowIdx]);
      });


      var bodyFormData = new FormData();
      bodyFormData.set('orders', JSON.stringify(orders));
      bodyFormData.set('token', getCookie('csrf_cookie'));
      axios.post(url, bodyFormData)
      .then((response) => {
        url = `${base_url}orders_api/export_to_excel`;
        if(response.data == 'success') {
          window.open(url, '_blank');
        }
        close_loading();
      })
      .catch(function (error) {
        close_loading();
      });
      // axios.get(url) 
      //   .then((response) => {

      //   });
     } 
   }
	}
</script>
<style type="text/css">
  #admin-order-view .mx-datepicker-range {
    width: 100%;
  }
</style>