<template>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" id="admin-order-view">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       	Manage Orders
        <small>View</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<div class="col-md-12">
          <div class="box box-success">
            <div class="box-header with-border">
              <button class="btn btn-primary pull-left" @click="go_to_order_list()">Back</button>
              <br><br>
              <h3>Customer Details:</h3>
            </div>
            <div class="box-body">
              <h4>Email : <span>{{ order_data.email }}</span></h4>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-details" style="padding: 15px">
                    <h4>Billing Address</h4>
                    <div style="padding: 15px">
                      <p>First Name: {{ order_data.billing_info.firstname }}</p>
                      <p>Last Name: {{ order_data.billing_info.lastname }}</p>
                      <p>Country: {{ order_data.billing_info.country }}</p>
                      <p>Zip Code: {{ order_data.billing_info.zip }}</p>
                      <p>State: {{ order_data.billing_info.state }}</p>
                      <p>Phone: {{ order_data.billing_info.phone }}</p>
                      <p>Street Address: {{ order_data.billing_info.street }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-details" style="padding: 15px">
                    <h4>Shipping Address</h4>
                    <div style="padding: 15px">
                      <p>First Name: {{ order_data.shipping_info.firstname }}</p>
                      <p>Last Name: {{ order_data.shipping_info.lastname }}</p>
                      <p>Country: {{ order_data.shipping_info.country }}</p>
                      <p>Zip Code: {{ order_data.shipping_info.zip }}</p>
                      <p>State: {{ order_data.shipping_info.state }}</p>
                      <p>Phone: {{ order_data.shipping_info.phone }}</p>
                      <p>Street Address: {{ order_data.billing_info.street }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <h4 style="margin-left: 5px">Order List</h4>
                  <table class="table table-bordered table-striped table-hover table-order-list" id="tbl_order">
                    <thead>
                     <tr>
                      <th>Qty</th>
                      <th>Product</th>
                      <th>Set Code</th>
                      <th>Language</th>
                      <th>Condition</th>
                      <th>Cost Price</th>
                      <th>Price</th>
                      <th>Subtotal</th>
                     </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(card, index) in order_data.cart_list">
                        <td>{{ card.quantity }}</td>
                        <td>
                          {{ card.card.name }} {{ getCardDetails(card) }}
                          <br>
                          {{ card.card.name_tw }}
                        </td>
                        <td>{{ card.card.set_code }}</td>
                        <td>
                          {{ getLanguage(card.card.language) }}
                        </td>
                        <td>
                          {{ getCondition(card.card.fully_handled) }}
                        </td>
                        <td>{{main_currency_sign}} {{ card.card.base_price }}</td>
                        <td>{{main_currency_sign}} {{ card.card.regular_price ? card.card.regular_price : card.card.foil_price }}</td>
                        <td>{{main_currency_sign}} {{ (card.card.regular_price ? card.card.regular_price : card.card.foil_price) * card.quantity }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-6">
                  <h4 style="margin-left: 5px">Payment Details</h4>
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <td>Invoice Number:</td>
                        <td>{{ order_data.invoice_number }}</td>
                      </tr>
                      <tr>
                        <td>Expiration Date:</td>
                        <td>{{ order_data.payment_mode == 'Paypal' ? 'N/A' : order_data.expired_at }}</td>
                      </tr>
                      <tr>
                        <td>Payment Status:</td>
                        <td>{{ getPaymentStatus(order_data.status) }}</td>
                      </tr>
                      <tr>
                        <td>Payment Mode:</td>
                        <td>{{ order_data.payment_mode }}</td>
                      </tr>
                      <tr>
                        <td>Cost Total: </td>
                        <td>{{ order_data.total_base_price ? main_currency_sign + order_data.total_base_price : '--' }}</td>
                      </tr>
                      <tr>
                        <td>Subtotal: </td>
                        <td>{{ order_data.payment_details.sub_total ? main_currency_sign + order_data.payment_details.sub_total : '--' }}</td>
                      </tr>
                      <tr>
                        <td>Coupons: </td>
                        <td>{{ order_data.payment_details.coupon_value ? order_data.payment_details.coupon_value : '--' }}</td>
                      </tr>
                      <tr>
                        <td>Shipping fee: </td>
                        <td>{{ order_data.payment_details.shipping_fee ? main_currency_sign + order_data.payment_details.shipping_fee : '--' }}</td>
                      </tr>
                      <tr>
                        <td>Total: </td>
                        <td>{{ order_data.payment_details.total_amount ? main_currency_sign + order_data.payment_details.total_amount : '--' }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Status</label>
                    <div class="dropdown">
                      <button class="btn dropdown-toggle" v-bind:class="{ disabled: order_data.admin_status >= 3, 'btn-success': order_data.admin_status == 3, 'btn-danger': order_data.admin_status == 4 || order_data.admin_status == 5 || order_data.admin_status == 6, 'btn-primary': !(order_data.admin_status >= 3) }" type="button" data-toggle="dropdown">{{ check_status(order_data.admin_status) }}
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li v-bind:class="{ active: order_data.admin_status == 0 }"><a href="javascript:void(0)" @click="changeStatus(0)">Pending</a></li>
                        <li v-bind:class="{ active: order_data.admin_status == 1 }"><a href="javascript:void(0)" @click="changeStatus(1)">Processing</a></li>
                        <li v-bind:class="{ active: order_data.admin_status == 3 }"><a href="javascript:void(0)" @click="changeStatus(3)">Completed</a></li>
                        <li v-bind:class="{ active: order_data.admin_status == 4 }"><a href="javascript:void(0)" @click="changeStatus(4)">Cancelled</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    		</div>
    	</div>
    </section>
  </div>
</template>

<style type="text/css">
  .table-order-list th {
    padding: 10px;
  }
</style>

<script type="text/javascript">
	export default{
	  data(){
	    return{
        order_data: [],
        main_currency_sign:'NT'
			}
	  },
	  mounted () {
      loading()
	  	this.getOrderData(this.$route.params.id);
      setTimeout(()=>{
        close_loading()
      },1000)
	  },
	  methods: {
      go_to_order_list() {
        this.$router.push(`/view_orders/`);
      },
	  	getOrderData(id) {
        const url = `${base_url}/orders_api/get_order_details?id=`+id;
        axios.get(url) 
			  .then((response) => {
          this.order_data = response.data[0];
          this.order_data.billing_info = JSON.parse(this.order_data.billing_info);
          this.order_data.shipping_info = JSON.parse(this.order_data.shipping_info);
          this.order_data.cart_list = JSON.parse(this.order_data.cart_list);
          this.order_data.payment_details = JSON.parse(this.order_data.payment_details);
          setTimeout(()=>{
          $('#tbl_order').DataTable({
             "lengthMenu": [50, 100],
             "order": [[ 2, "asc" ]],
             "columnDefs": [ {
                "targets": 0,
                "orderable": false
              },{
                "targets": 3,
                "orderable": false
              },{
                "targets": 4,
                "orderable": false
              },{
                "targets": 5,
                "orderable": false
              } ]
            });
          }, 500);
        })
			  .catch(function (error) {
			    console.log(error);
			  });
	  	},
      check_status(status) {
        if(status == '0') {
          return 'Pending';
        } else if(status == '1') {
          return 'Processing';
        } else if(status == '2') {
          return 'On Hold';
        } else if(status == '3') {
          return 'Completed';
        } else if (status == '4') {
          return 'Cancelled';
        } else if (status == '5') {
          return 'Refunded';
        }
        
        return 'Failed';
     },
    getCondition(value){
      if(!value) return '';

      return value.toUpperCase();
    },
    getLanguage(value) {

      switch (value) {
        case 'tw':
          value = 'Chinese';
          break;
        case 'en':
          value = 'English';
          break;
        case 'eng':
          value = 'English';
          break;
        case 'jp':
          value = 'Japanese';
          break;
        default:
          break;
      }
      return value;
    },
      getCardDetails(card){
        var disp = '';

        if(card.card.rarity=='T'){
          if(card.card.type.includes('Basic Land')) {
            disp = ' (' + card.card.collector_number + ') (' + card.card.set_code +')';
          }
        } else {
          if(card.card.type.includes('Basic Land')) {
            disp = ' (' + card.card.collector_number + ') (' + card.card.set_code +')';
          }
        }
        return disp;
      },
      getCardType(card) {
        if(card.card.type == '') return;
        return card.card.type.replace('?','—');
      },
     getPaymentStatus(status) {
        return status == 1 ? 'Paid' : 'Unpaid';
     },
     changeStatus(status_id) {
      let vm = this;
      var url = `${base_url}orders_api/change_status`;

      if(this.check_status(status_id) == 'Failed' || this.check_status(status_id) == 'Cancelled' || this.check_status(status_id) == 'Refunded') {
        confirm_alert('Warning', 'Cancelling this order will automatically refund the payment. Do you still want to proceed?', 'warning').then(function(result) {

          vm.order_data.admin_status = status_id;
          var bodyFormData = new FormData();
          bodyFormData.set('id', vm.order_data.id);
          bodyFormData.set('status', status_id);
          bodyFormData.set('token', getCookie('csrf_cookie'));
          axios.post(url, bodyFormData)
          .then((response) => {

          })
          .catch(function (error) {

          });

          url = `${base_url}functions/refundPayment`;
          var bodyFormData = new FormData();
          bodyFormData.set('id', vm.order_data.id);
          bodyFormData.set('email', vm.order_data.email);
          bodyFormData.set('token', getCookie('csrf_cookie'));
          axios.post(url, bodyFormData)
          .then((response) => {

          })
          .catch(function (error) {

          });

          notify2('Success', '', 'success');
        }, function(dismiss){

        });
        return;
      }

      this.order_data.admin_status = status_id;
      var bodyFormData = new FormData();
      bodyFormData.set('id', this.order_data.id);
      bodyFormData.set('status', status_id);
      bodyFormData.set('token', getCookie('csrf_cookie'));
      axios.post(url, bodyFormData)
      .then((response) => {

      })
      .catch(function (error) {

      });
      if(this.check_status(status_id) == 'Completed') this.order_data.status = 1;
      notify2('Success', '', 'success');

      if((this.check_status(status_id) == 'Completed' || this.check_status(status_id) == 'Processing') && this.order_data.is_points_earned != 1) {
        this.order_data.is_points_earned = 1;
        url = `${base_url}orders_api/grant_user_points`;
        var bodyFormData = new FormData();
        bodyFormData.set('id', this.order_data.id);
        bodyFormData.set('points', this.order_data.points_earned);
        bodyFormData.set('token', getCookie('csrf_cookie'));
        axios.post(url, bodyFormData)
        .then((response) => {

        })
        .catch(function (error) {

        });
      }
     } 
   }
	}
</script>